[2019-01-07 13:37] krasi-georgiev commented on #452
waiting for @gouthamve's input.

[2019-01-07 16:35] radeklesniewski commented on #480
@krasi-georgiev we've made more detailed analyze of resource utilization and we have couple of questions & findings we would like to discuss:
1. We've seen changes in SortedPostings function committed on 3rd of January (https://github.com/prometheus/tsdb/commit/296f943ec4aad56409f35e3916ceabf9f8c0b61c) and (https://github.com/prometheus/tsdb/commit/b2d7bbd6b11d8c9a94c0d23da0af2a60650174c3). We've

[2019-01-07 19:48] krasi-georgiev commented on #480
I asked the same question few weeks ago as part of the PR you are mentioning and IIRC the querying expects sorted postings. `newMergedSeriesSet`

I don't fully understand this question.

not very familiar, but I think runtime is GC, goroutine scheduling etc so I think it is normal to see some high activity there in the case of Prometheus.

[2019-01-08 17:30] krasi-georgiev commented on #480
yeah that looks strange.
could it be the `s.base()` func call?

maybe when it is a big map it takes time to find the key , but it is really strange to take more than 3 minutes.

Maybe post an issue in the golang github or ask in the IRC channel.
I would be interested to know the answer as well.

[2019-01-08 17:31] krasi-georgiev commented on #480
it reads both blocks into memory and only than joins the data and writes it to the disk as the new joined block.

[2019-01-12 22:44] mucahitkurt commented on #107
Hi, I opened a PR for the "Doing compactions on blocks offline" part of this issue.

[2019-01-16 10:03] #124 closed

[2019-01-16 19:41] JorritSalverda commented on #21
Seeing this in 2.6.0 as well, after having upgraded from 2.3.2 a couple of days ago.

[code]

[2019-01-18 08:29] gouthamve opened #500 "Flaky test with the new live reader"
[code]

@cstyan

[2019-01-18 08:30] krasi-georgiev commented on #500
this was under linux

[2019-01-18 08:35] #309 closed

[2019-01-18 14:21] krasi-georgiev commented on #284
just tried to replicate that bug and it seems that this bug is no longer in master so it must have been fixed somewhere.

[2019-01-18 14:21] #284 closed

[2019-01-18 19:19] radeklesniewski commented on #480
@krasi-georgiev I think we can close the issue. New implementation of sorting operation improved our performance a bit and we are close to achieving our main goal with sparse metrics.

Additionally, I've created a PR (https://github.com/prometheus/tsdb/pull/503) with additional logging about duration of func (c *LeveledCompactor) write(...) execution in compact.go file - it was very useful during

[2019-01-19 21:57] krasi-georgiev commented on #480
ok , thanks for the update. Glad you are close to a solution.

[2019-01-19 21:57] #480 closed

[2019-01-21 15:11] norbertwnuk commented on #452
I see additional scenario where such feature would be useful: Prometheus HA installation does not that much need WAL on disk when the data are federated via remote write interface / directly from the short duration blocks (Thanos).

[2019-02-04 14:35] bwplotka commented on #452
^ soon remote write will use WAL, so it's not the case anymore.

@gouthamve can we provide some accept criteria for this?

I guess it's "do not produce any files" in unit test when we don't test it?

[2019-02-04 14:38] krasi-georgiev commented on #452
please note my comment from earlyer:

[2019-02-04 19:51] bwplotka commented on #452
Yep if that works then cool, let's improve our tests with that where WAL is not needed 👌

[2019-02-06 15:20] glightfoot opened #516 "TSDB CLI tool doesn't work on live Prometheus"
It seems like the tsdb cli tool doesn't work on a live instance of prometheus. [This blog post](https://www.robustperception.io/using-tsdb-analyze-to-investigate-churn-and-cardinality) makes it seem like the intention is to be able to have it be able to work on a live instance, but it currently errors out with

I've added a flag to enable opening the tsdb with no locking, and this seems to work fi

[2019-02-06 15:21] glightfoot commented on #516
https://github.com/prometheus/tsdb/pull/517/files

[2019-02-06 19:16] gouthamve opened #518 "Snapshots with head block are unsafe"
Initial review of https://github.com/prometheus/tsdb/pull/514/ made me realise how snapshots can produce chunks of arbitrary bytes if head block is included.

When we write out the headblock here: https://github.com/prometheus/tsdb/blob/master/db.go#L883, we use the `Chunks` inside head here: https://github.com/prometheus/tsdb/blob/master/compact.go#L655

The chunks returned are [`safeChunk`](http

[2019-02-06 19:25] gouthamve commented on #518
When we call snapshot, just cutting a new chunk for every series would fix this imo. That is the most performant way I can think of.

Another way would be re-write open chunks on Snapshot which would mean millions of chunks to be re-written, just not sure how bad it will be allocation and CPU wise. Needs to be benchmarked.

[2019-02-06 20:19] bwplotka commented on #518
Yup, wonder what would be performance of that rewrite of open chunks.

[2019-02-06 20:20] bwplotka commented on #518
But disabling sounds bad as well, wonder how it worked before chunk boundary check? I guess it worked fine with race right? (:

[2019-02-06 20:25] gouthamve commented on #518
I might be being too pedantic, but I would think it "never" worked. The snapshots could literally be persisting a wrong sample and we would never know it.

[2019-02-06 20:53] gouthamve commented on #452
This is perfect. I think the only thing left now is to make an option for `DB` so that it passes a `nil` wal to `NewHead()`.

[2019-02-07 09:49] bwplotka commented on #518
Agree.

I really think iterating over open chunks won't be that bad. And we don't need super fast snapshots withHead (:

[2019-02-08 10:35] #266 closed

[2019-02-08 19:09] Sangeeta04Sharma commented on #235
Hello contributors, I would like to work on it as my GSOC project. I have used and worked Prometheus, Kubernetes, and Golang. Please guide me and help to start work on it.

[2019-02-09 09:47] krasi-georgiev commented on #235
@Sangeeta04Sharma can you ping me on IRC and will try to give some directions.

[2019-02-11 18:22] brancz opened #520 "fsync only called on segment closing"
I was reading the ingestion path of tsdb and was talking to @gouthamve as I think `fsync` is only called on closing a segment, which currently only seems to happen when a segment is "[full](https://github.com/prometheus/tsdb/blob/3929359302170bd79567f9808bafcb7fdf116acf/wal/wal.go#L482-L486)". A segment is [128MB](https://github.com/prometheus/tsdb/blob/3929359302170bd79567f9808bafcb7fdf116acf/wal

[2019-02-11 21:35] knweiss commented on #520
FWIW:

1. https://lwn.net/Articles/752063/

2. https://danluu.com/file-consistency/

[2019-02-11 21:52] brancz commented on #520
I'm aware of the problems with fsync, but not calling it at all is definitely worse :slightly_smiling_face: .

[2019-02-12 07:26] fabxc commented on #520
fsync is very expensive. Doing it per record or page will likely completely screw performance. Not even SQL databases do this in a normal configuration. For us, sustaining ingestion is more important than persistence (alerts).

[2019-02-12 08:04] fabxc commented on #520
Yes, periodic background fdatasync should be sensible. Not sure why it
didn't make it into the new WAL.

On Mon, 11 Feb 2019, 22:52 Frederic Branczyk <notifications@github.com>
wrote:

[2019-02-12 08:04] brancz commented on #520
That makes sense. Do you think periodic sync fsync/fdatasync could mess with live reading the write ahead log? If not, then I imagine (re-)introducing it in the new write ahead log shouldn't have too much of a performance penalty (of course has to be benchmarked). I agree that we don't haven't provide perfect durability, but 128Mb flushing seems a little large.

[2019-02-12 08:11] brian-brazil commented on #520
If we're doing that, why not rely on the kernel? It'll be doing it every 60s-ish by default.

[2019-02-12 08:44] brancz commented on #520
I wasn't quite aware of the specifics of the linux kernel behavior in this regard, so did some quick research and found that `dirty_expire_centisecs` defines this, which defaults to every 30 seconds on most distros. I think I'd prefer though if we can say something along the lines of "durability is roughly on scrapes by default", in which case I would choose what we previously had as the default:

[2019-02-12 08:47] bboreham commented on #518
Is this similar to the problem I found at https://github.com/cortexproject/cortex/pull/1221#issuecomment-462499977 - marshalling doesn't save enough info to be able to add to the chunk afterwards ?

(PS: when creating a Github link to code, you can press the `y` key to get a specific commit rather than `master`, so that people who follow the link later will know which line you meant)

[2019-02-12 09:25] #227 closed

[2019-02-12 10:16] krasi-georgiev commented on #518
sounds different,
this one is getting the raw bytes (Chunk.Bytes()) from the last chunk while being appended to.

[2019-02-13 10:12] krasi-georgiev commented on #338
just tried it on windows and starting a second Prometheus with the same DB returns an error so locking is working as expected.
Also looked at the code and it is indeed implemented for windows as well.
https://github.com/prometheus/tsdb/blob/109252f3aa66b954d237978b5fac7a4e57edf4da/fileutil/flock_windows.go#L26-L36

@fabxc 	please let me know if you meant something else.

[2019-02-13 10:12] #338 closed

[2019-02-13 13:03] krasi-georgiev commented on #520
is this really true? my understanding (after a google crash course) is that the kernel does periodic fsync()(writebacks) in the background so no big data loss should be expected.

My understanding after reading [this](https://www.thomas-krenn.com/en/wiki/Linux_Page_Cache_Basics) is that Once the page is flushed to disk it is cleared from the cache so any sequential reads will cause a new cache to

[2019-02-13 13:11] krasi-georgiev commented on #520
also this is a nice read on the topic https://medium.com/databasss/on-disk-io-part-1-flavours-of-io-8e1ace1de017

[2019-02-14 13:29] #90 closed

[2019-02-18 09:38] brancz commented on #520
There haven't been reports of large dataloss, I was just reading the code and noticed this, and recalled that we used to do fsync on an interval. Your findings seem to match with the comments before yours. I still think the interval should be configured by Prometheus as just by a quick poll with people working around me there are different kernel settings between each Linux distro even, plus we ca

[2019-02-19 22:37] redbaron commented on #520
This is not how it works at least on Linux. flushing page to disk marks it clean so it can be evicted from memory when system is under memory pressure, but it fsync itself  doesn't force eviction

[2019-02-20 07:43] krasi-georgiev commented on #520
@redbaron 	thanks for the clarification. This means that regular fsync shouldn't affect the live WAL reading.

btw @codesome 	just posted in the irc channel an article that is quite interesting.
https://medium.com/@valyala/wal-usage-looks-broken-in-modern-time-series-databases-b62a627ab704

[2019-02-21 09:47] codesome opened #530 "Support selectors for LabelNames and LabelValues"
Regarding https://github.com/prometheus/prometheus/issues/5248

The best way now is equivalent to querying the tsdb for series and filter the required information - which is inefficient.

[2019-02-21 11:10] brian-brazil commented on #530
That's the only way to do it and the most efficient, I don't see the need to extend the API.

[2019-02-25 10:54] krasi-georgiev commented on #530
Original issue closed so no need to keep this one open

[2019-02-25 10:54] #530 closed

[2019-03-10 12:28] roidelapluie opened #545 "double metric"
prometheus_tsdb_lowest_timestamp_seconds
prometheus_tsdb_lowest_timestamp (unit: ms??)

I think that we could delete the second one.

[2019-03-10 12:30] roidelapluie commented on #545
my understanding is that the second one is coming from TSDB whic is unit agnostic and could be "unregistered" by prometheus when the first one is registered.

[2019-03-10 13:47] brian-brazil commented on #545
Yes, that's what's happening. They're both meant to be present.

[2019-03-10 13:49] roidelapluie commented on #545
Should we unregister the first one?

Or maybe pass a parameter "unit" to TSDB so that it can expose directly the correct metric?

Otherwise I will close this.

[2019-03-10 13:53] brian-brazil commented on #545
No, what the tsdb exports is a black box to Prometheus.

[2019-03-10 14:13] #545 closed

[2019-03-18 12:27] krasi-georgiev opened #554 "selectOverlappingDirs bug that misses some directories"
`selectOverlappingDirs` doesn't work as expected for the followinf input
Here suppose we have 4 blocks, 1: [0, 10], 2: [9, 20], 3: [30, 40], 4: [39, 50]
This function will return **{1, 2, 4}**.
expect is **{1, 2, 3, 4}** ?

_Originally posted by @naivewong in https://github.com/prometheus/tsdb/pull/550#issuecomment-473490971_

[2019-03-18 12:28] krasi-georgiev commented on #554
I am working on a fix and adding the test case.

[2019-03-18 12:45] jeasonWujun opened #557 "Why do Max and Minn have opposite definitions?"
tsdb/head.go

[code]

[2019-03-18 12:53] krasi-georgiev commented on #557
yeah it is a bit awkward, but this is so that some parts of the code assume that when `mint == math.MaxInt64` it is considered as NOT set. The same for `maxt == math.MinInt64`.

for example:
https://github.com/prometheus/tsdb/blob/99703b3269a1b870e04524e97b807319e1540720/head.go#L672

Could you please ask dev questions in #prometheus-dev channel as we use github for tracking issues and new feature

[2019-03-18 12:53] #557 closed

[2019-03-19 22:14] davidquarles opened #561 "[feature request]: support index file size >64Gi"
We're actually running into this on our largest cluster and it's brought thanos compaction to a standstill. I'm whittling away at cardinality, sharding our scrape targets where possible and backing down our retention policies.  Hopefully all of the above will do the trick in the near-term, but it would be great to not have to worry about this in the future.

https://github.com/prometheus/tsdb/blob

[2019-03-22 15:38] zhulongcheng opened #564 "Improve renameFile function"
https://github.com/prometheus/tsdb/blob/3ab5f4e57902eea758f1940dd852e954b5d5ba6b/compact.go#L1015-L1034

If `to` is removed successfully but failed to rename `from` to `to`,  data in `to` will be lost.

---

Maybe something like this:
1. rename `to` to `to.rename.tmp`
2. rename `from` to `to`
3. remove`to.rename.tmp`

[2019-03-22 15:39] zhulongcheng commented on #564
cc @krasi-georgiev

[2019-03-22 16:12] zhulongcheng opened #565 "Cleanup temp file if rename/replace failed"
https://github.com/prometheus/tsdb/blob/3ab5f4e57902eea758f1940dd852e954b5d5ba6b/compact.go#L1015-L1034

If `to` is removed successfully but failed to rename `from` to `to`,  data in `to` will be lost.

Ex: [OpenBlock](https://github.com/prometheus/tsdb/blob/master/block.go#L280-L334) -> [writeMetaFile](https://github.com/prometheus/tsdb/blob/master/block.go#L233-L258) (re-create a meta file) -> [

[2019-03-24 20:25] krasi-georgiev commented on #564
I quickly checked and it seems that the way `renameFile` is used this shouldn't cause any issue.
do you see any parts where `renameFile` is used in a way to cause data loss in case of an error as you have described it?

[2019-03-25 08:29] krasi-georgiev commented on #565
yes this is a bug.

Feel free to open a PR as described in  https://github.com/prometheus/tsdb/issues/564 or just handle the tmp deletion in the caller.

[2019-03-25 13:32] gouthamve opened #569 "Checkpoint fails due checksum mismatch on old segments"
Relevant Prometheus logs:
[code]

This is a relatively okay bug as it only stops creation of checkpoints. But we should ideally recover from this.

[2019-03-25 14:50] krasi-georgiev commented on #569
what behaviour do you suggest?

[2019-03-25 23:38] #452 closed

[2019-03-26 12:56] zhulongcheng commented on #564
Ex: [OpenBlock](https://github.com/prometheus/tsdb/blob/master/block.go#L280-L334) -> [writeMetaFile](https://github.com/prometheus/tsdb/blob/master/block.go#L233-L258) -> [renameFile](https://github.com/prometheus/tsdb/blob/master/compact.go#L1015-L1034)

The `meta.json` file is removed.
[code]

[2019-03-27 05:55] krasi-georgiev commented on #564
Thanks.

Seems that https://github.com/prometheus/tsdb/issues/565 is related so can you join both issues into one and close this one.

[2019-03-27 08:36] zhulongcheng commented on #564
Merge into #565

[2019-03-27 08:36] #564 closed

[2019-04-01 08:57] krasi-georgiev commented on #234
Postings is lists of series references that contain a given label pair associated with the list.
`map[labels.Label][]uint64 - foo,bar - 1,3,12,14` - this means label foo with value bar is in series with ID 1,3…..  - this is used as a reference table to get the series we need.

[2019-04-03 13:11] krasi-georgiev commented on #346
any chance to get this revived ?

[2019-04-03 13:18] brian-brazil commented on #346
Couldn't you use readonly mode plus db.Snapshot for this?

[2019-04-03 13:36] krasi-georgiev commented on #346
aaah yeah that is an idea.

[2019-04-06 10:11] krasi-georgiev opened #579 "Tests with injected file system errors."
One case it to catch bugs like:
https://github.com/prometheus/tsdb/pull/575
https://github.com/prometheus/tsdb/issues/565 - A test for this woule look like. Inject an error at some point for these funcs and check that no tmp files is left behind.
An example test:
https://github.com/prometheus/tsdb/pull/576

This article is a good start.
https://medium.com/@siddontang/use-fuse-to-inject-failure-to-

[2019-04-07 21:38] geekodour commented on #579
would like to work on this as it's not a high priority one.

[2019-04-08 02:28] geekodour commented on #234
The Golang implementation link no longer works. I think [this link](https://github.com/robskie/bp128) points to the same implementation but the implementation linked by @gouthamve  [has been replaced](https://github.com/dgraph-io/dgraph/pull/2719).

I am planning to add this to my gsoc proposal, I tested a couple of things and I have a couple of doubts.
Since goland has no inbuilt support for SIMD

[2019-04-08 06:07] brian-brazil commented on #234
I don't think we should be using assembly, compression shouldn't require it
and we'd need to support all platforms Go supports in the future

On Mon 8 Apr 2019, 04:28 Hrishikesh Barman, <notifications@github.com>
wrote:

[2019-04-08 08:37] pborzenkov commented on #579
@krasi-georgiev Alternative approach would be to use a filesystem abstraction interface (something like https://github.com/spf13/afero) and instantiate it with specially crafted fault-injecting implementation for tests.

[2019-04-08 08:47] krasi-georgiev commented on #579
@pborzenkov yes I looked at it , but didn't see anything in the interface to trigger different faults. It looks like its main purpose is to NOT use a real file system and avoid the cleanup after each test.

@pborzenkov can you point to some examples how can afero be used for our use case?

[2019-04-08 08:56] krasi-georgiev commented on #234
@geekodour yes compression will not need assembly. I think @gouthamve mentioned SIMD as this will speed up the sorting and intersection which is performed on every Posting selections.
You shouldn't need to mention any technical details in your proposal. Something like Research -> implementation -> unit tests should be sufficient.

[2019-04-08 11:37] pborzenkov commented on #579
@krasi-georgiev I meant something like this:
  - switch all TSDB code that accesses FS to use afero interface
  - in normal conditions, instantiate the interface with real FS implementation (taken from afero)
  - in test, instantiate it with some custom (yet to be written) implementation that allows to inject faults (via callback, random or any other method).

I haven't seen such implementation in

[2019-04-08 11:37] codesome commented on #234
If you do need ASM for any part, you can checkout go assembler if it provides any architecture independent virtual assembly (Arch specific ASM is a no-go accorging to me). But given ASM would not be simple to maintain, you can give it a lower priority.

[2019-04-08 11:42] krasi-georgiev commented on #579
yes that is a good suggestion, but I would like to see if we can do this without any  additional intrerfaces. Using afero in the actual tsdb code would add using interfaces and in some hot paths this will have some negative performance impact because of  the interface dereferencing. I have noticed that Fabian removed some interfaces in the past to improve some performance. I think the WAL was an i

[2019-04-08 11:51] pborzenkov commented on #579
Yeah, in this case it's probably better to avoid interfaces. Another implementation of granular fault injections might be something like this:
  - insert static faults into points of interest
  - make them noop by default (via build tags)
  - in tests, build with faults enabled and control which ones to enable

E.g. something like this:

`
func OpenMmapFile(path string) (*MmapFile, error) {
    if

[2019-04-08 12:03] krasi-georgiev commented on #579
yep that is another good idea. Just not sure if adding code just for the sake of better testing is a good pattern.

[2019-04-08 12:27] #554 closed

[2019-04-08 15:48] cstyan commented on #500
@krasi-georgiev I'm assuming this isn't an issue anymore? I haven't see any failures for this recently.

I think we can close this, going to close my pr #502

[2019-04-08 16:00] krasi-georgiev commented on #500
I haven't seen any failures. Not sure what changed.

Will reopen of it happens again.

[2019-04-08 16:00] #500 closed

[2019-04-09 13:16] #21 closed

[2019-04-24 19:03] brandond opened #590 ""unknown series references" after clean shutdown"
Not sure if this is the correct repo or not, but I see other similar issues here so this is where I'm landing it.

I appear to be losing WAL entries every time I stop and restart the Docker container hosting my Prometheus instance:

[code]

[2019-04-24 19:04] brian-brazil commented on #590
You're already on 2.9.1, so wipe the WAL and see if this is still happening.

[2019-04-24 19:07] brandond commented on #590
This container was created on 2.9.1 with an empty store volume and has been running for less than a week. Is nuking the WAL still worthwhile, or is there anything else I should try?

[2019-04-24 19:11] brian-brazil commented on #590
That's unexpected, that issue is meant to be fixed in that version. Can you share enough of the WAL to reproduce?

[2019-04-24 21:46] brandond commented on #590
Sure; should I just grab the tsdb directory while it's running, or shut it down first?

[2019-04-25 08:05] brian-brazil commented on #590
Either works.

[2019-04-26 08:27] #565 closed

[2019-05-03 17:26] brian-brazil opened #596 "Log storage filesystem type at startup"
The `statfs` call allows us to determine filesystem type, we could use this to log this at startup which would be useful from a support standpoint. This will only work on Unix.

[2019-05-06 07:59] krasi-georgiev opened #598 "Investigate further chunk compression."
https://groups.google.com/forum/#!msg/prometheus-users/I7uneXEisV0/_BIMTqpWAAAJ

The thread suggests that even a single chunk can be compressed by more than 50% so worth investigating.

[2019-05-06 08:09] krasi-georgiev opened #599 "Investigate WAL compression"
Currently the WAL is saved uncompressed.
Should investigate if it can be compressed with minimal performance impact.

a suggestion from @SuperQ is to check [snappy compression](https://en.wikipedia.org/wiki/Snappy_(compression)).
https://godoc.org/github.com/golang/snappy

[2019-05-07 12:36] beorn7 commented on #598
That's interesting indeed.

Some fuzzy data points from the depths of my memories:

In Prometheus v1 (using the chunk encoding v2, AKA Gorilla-style double delta), I remember having played with compressing the series files. And indeed, they compressed very little, if at all, telling me that we were already quite close to the max-entropy optimum (or whatever that's called in information theory). Ho

[2019-05-07 12:45] hello4nithya commented on #317
How did you set the ulimit in prometheus container

[2019-05-07 16:08] eightlimbed commented on #596
I'l like to call dibs on this issue :)

[2019-05-07 19:30] krasi-georgiev commented on #596
go ahead :+1:

[2019-05-07 19:38] krasi-georgiev commented on #598
Thanks for the info , that is quite useful.
Especially the part for analyzing data and applying some additional encoding/compression during compaction sound like a very good idea.

[2019-05-07 20:31] brian-brazil commented on #598
We're not doing any compression of the postings tables, which is probably where there's most to gain in the indexes. A simple delta compression would probably buy a good bit - but would make Seeking slower.

[2019-05-09 12:04] michaelarnauts commented on #590
Could this issue be the same, or is related? https://github.com/prometheus/prometheus/issues/3632

[2019-05-09 12:18] michaelarnauts commented on #590
Allright. I will continue here. I have the issue that on every restart, prometheus would forget the last two hours.

By reading this thread, it seems that the wal folder was the issue. I've now moved aside the folder, and tried to restart prometheus, and it seems to pick up recent metrics again (but the missed metrics are gone). It seems that somehow, these wal files are blocking prometheus from r

[2019-05-09 12:20] michaelarnauts commented on #590
@krasi-georgiev what way can I send you my wal folder? it's a tgz of 144MB. I prefer privately, I don't know what data might be in the wal files.

[2019-05-09 12:44] brian-brazil commented on #590
Now that you've wiped the WAL, you should not see that again on 2.9.2. If that's not the case let us know.

[2019-05-09 12:50] michaelarnauts commented on #590
My problem seems to be fixed indeed by removing my wal files, but 2.9.2 has an issue recovering from those (probably) corrupt wal files, so that would still count as a bug, right?

It should probably display an error that recovery was not possible, and cleanup the corrupt wal files. Now it seems to continue using them, so new metrics will still be unrecoverably after a restart.

[2019-05-09 12:52] krasi-georgiev commented on #590
@michaelarnauts yes the wal holds the latest 2h so removing it would cause this data loss.
Please make sure you are using the latest Prom version. I and if it happens again now with a fresh WAL please ping me on IRC (#prometheus-dev krasi-georgiev) to send me that WAL folder.

[2019-05-09 12:54] krasi-georgiev commented on #590
@michaelarnauts this error doesn't affect receiving new data and when the 2h window passes Prometheus will delete these WAL files. I think this happened due to incorrect checkpointing of the WAL files.

[2019-05-09 12:55] krasi-georgiev commented on #590
here is the relevant fix https://github.com/prometheus/tsdb/pull/577

[2019-05-09 12:56] michaelarnauts commented on #590
@krasi-georgiev it's not happening again, for me, this is fixed, but there still is a bug in 2.9.2 that caused this.

I've only used 2.9.2, and somehow something went wrong and prometheus wasn't able to recover from this, because everytime I would restart it, it would lose the last two hours.

[2019-05-09 12:59] krasi-georgiev commented on #590
@michaelarnauts hm , just to confirm the WAL corruption happened while you were running 2.9.2? If that is the case please ping me on IRC so you can send me that WAL folder if you haven't deleted it yet.

@brandond how is looking on your end? can you please confirm if you noticed anything unusual while running on a fresh WAL folder with 2.9.2?

[2019-05-10 11:52] bboreham commented on #598
Anecdote from our Cortex installation: changing from v1 `varbit` to v2 `xor` the data got something like 20% bigger.  This was balanced by a simultaneous change which means we have 30% fewer chunks, but I'd certainly be in favour of work to regain the previous level of compression.

I've also wondered if [this constant](https://github.com/prometheus/tsdb/blob/6ac81cc7a9c5b1684d0cff71a57dff1beea9f8

[2019-05-11 19:43] eightlimbed commented on #596
Hey @brian-brazil, @krasi-georgiev  -- just wanted some clarification. We want to log the file system type when the `prometheus` binary runs, yes? I'm confused because this issue is in the tsdb repo.

[2019-05-11 21:26] brian-brazil commented on #596
Yes. The tsdb repo is used by Prometheus, so it's something to log when the
DB is opened.

On Sat 11 May 2019, 20:43 Lee Gaines, <notifications@github.com> wrote:

[2019-05-14 12:11] brian-brazil commented on #590
Can you indicate if you're using the delete API?

[2019-05-14 18:34] michaelarnauts commented on #590
I have not. Just grafana querying.

[2019-05-15 10:17] krasi-georgiev commented on #590
@michaelarnauts can you try to work out steps to reproduce this as we can't figure out yet what might cause this.

[2019-05-16 13:18] brian-brazil commented on #590
Can you give us an idea of how many times Prometheus restarts before this happens?

[2019-05-17 09:16] #596 closed

[2019-05-18 13:02] michaelarnauts commented on #590
I'm not sure how to reproduce this. I have only used a few node exporters and grafana to graph them out.

@brian-brazil Prometheus doesn't restart. I restarted it myself (since I added a host to the config file). Somehow, something went wrong and the wal files got corrupted.

ASCII-art that might make it more clear:
[code]

So every time I restart prometheus, it lost the last 2 hours, but everythi

[2019-05-18 16:07] brian-brazil commented on #590
So a single restart was sufficient from the first every start from that data directory, and the data affected was across the entire 2h head?

[2019-05-18 20:45] csmarchbanks commented on #599
I am investigating this. See #609 for a quick proof of concept. I am hoping that it helps with a slow startup issue I have been seeing in a non-cpu limited environment.

[2019-05-19 07:03] michaelarnauts commented on #590
Hmm, I guess it didn't start after the first restart when I started using Prometheus. I assume a crash or unclean shutdown happened to trigger the corruption.

[2019-05-20 08:59] brian-brazil commented on #590
So 2 restarts then. This is a code bug, not a corruption. Just need to figure out what's causing it.

[2019-05-20 21:30] brandond commented on #590
I have been seeing the same thing - it's always one of the most recent two-hour-periods that's corrupted when I restart. Not the current period that's being written to the WAL, but the one that should have just been compacted. Additionally, not all series in that period are lost, just some of them.

[2019-05-21 05:02] eminence commented on #590
I am also seeing this, running 2.9.2.  I don't know if this matters, but I'm running prometheus in a docker container with a docker volume to a host NFS share.

[2019-05-21 05:57] brian-brazil commented on #590
Have you noticed if the series would have started/ended always at a similar 2-hour period?

Using NFS is not supported, but not the issue here.

[2019-05-21 14:27] eminence commented on #590
Actually it seems to be a 3-hour period of data that's missing.  But the missing data is only for a few series (I'm not sure if this is coincidence, but all the missing series are from the same scrape target)

[2019-05-21 15:31] brian-brazil commented on #590
Interesting. Is these churn in those metrics, is it all of that target, what's the lifecycle of that target like?

[2019-05-21 17:25] brandond commented on #590
I have a static list of 6 hosts collecting from the node exporter plus two different app exporters. The labels within those metrics don't change much at all.

Mine are Docker on local disk (SSD; dev workstation)

[2019-05-21 17:55] eminence commented on #590
By coincidence I did introduce some churn around this time by updating my exporter to not report stats that are stale.  So here's what the data looks like now:

![image](https://user-images.githubusercontent.com/402454/58118910-d7c57700-7bcf-11e9-9de7-70b993a73a2a.png)

Every series in this target went missing for this same time period.  The target is declared as a static config, with a collection

[2019-05-21 18:28] brian-brazil commented on #590
So to be clear, completely existing time series?

[2019-05-23 15:05] WestonAGreene commented on #590
I was experiencing this same issue (every restart would lose the last two hours of data).
Turned out I needed to use the default storage location: /data

My openshift container yaml:
[code]

Using prometheus version 2.9.2

[2019-05-24 18:57] brandond commented on #590
@brian-brazil yes all the series should have existed both before and after the restart.

[2019-05-25 10:26] brian-brazil commented on #590
Interesting, that'll make it easier to debug.

[2019-05-27 09:07] godliness opened #611 "Prometheus restart very slowly when the size of data folder is huge"
Prometheus need replay the whole wal to provide service, before that we access the prometheus web page which display "service unavailable".

**Below is my condition**

size of wal: 50G
startup params:
[code]
go version: 1.12.5
prometheus version: 2.6.0

When i restart prometheus which will cost me about 9 minutes, use `iostat` to check the read speed which is about 100MB/s on device nvme ssd disk.

[2019-05-27 10:06] vsliouniaev opened #612 "prometheus_tsdb_compactions_failed_total metric not incremented when compaction fails"
We have had a corrupted WAL after a disk issue and got the following error messages in the logs
[code]

however, the value of `prometheus_tsdb_compactions_failed_total` isn't increasing when this happens.

[2019-05-27 10:20] krasi-georgiev commented on #611
I think the loading needs to happen sequentially so that the series Id are loaded first and than the samples can be matched against these series.

I think Fabian mentioned that he experimented with a different buffer sizes, but no harm in experimenting again.

[2019-05-27 10:23] krasi-georgiev commented on #612
thanks for the report, this is indeed a bug and it should be easy to fix just by moving the logic for the metric into a different func.

[2019-05-27 11:47] brian-brazil commented on #611
2.6 already includes big improvements. I'd wonder if it's the CPU that got maxed out, or your disk.

[2019-05-27 12:02] godliness commented on #611
@brian-brazil @krasi-georgiev

Thanks for this quick replay!

My prometheus run as pod in KUBERNETES cluster which cpu limit is 30 cores and disk mount to hostPath which is NVME ssd. When i restart prometheus with 50G WAL that will takes too long time to restart.

Later on,  i will upgrade the prometheus to v2.10.0 and then profiling it also provide the cpu.profile file for us.

[2019-05-27 12:03] brian-brazil commented on #611
Can you show the output of `iostat -x 5` while the WAL reading is in place? There's no notable improvements up to 2.10 here, they were all in 2.6.

[2019-05-27 12:27] godliness commented on #611
Below is not k8s cluster that is run as systemd, wal is` 568G	wal/`

**Start 2 minutes:**
[code]

**Start after about 2 minutes which going to stable**:
[code]
Restart will takes 1 hour

[2019-05-27 12:49] godliness commented on #611
@brian-brazil

Below is our K8S cluster prometheus run as pod, version is 2.6.0

WAL:
![image](https://user-images.githubusercontent.com/10972761/58419988-a6ace100-80be-11e9-87e2-29cd7ba1f469.png)
`iostat -x 5`

It's very stable which is about 100MB/s on the nvme device ssd.

![image](https://user-images.githubusercontent.com/10972761/58420179-3f436100-80bf-11e9-9728-74c29737be57.png)
![image](htt

[2019-05-27 13:32] brian-brazil commented on #611
There's tons of spare CPU there, so this sounds like a throughput issue on your disk.

[2019-05-27 15:14] krasi-georgiev commented on #611
These are more or less the same timings we see at Prombench.

[2019-05-28 02:14] godliness commented on #611
@brian-brazil

I have tested my disk device on the k8s node with prometheus pod.

**Test Disk I/O write**:

[code]

**Test Disk I/O Read**

[code]

So the read speed is good from testing i think, but when prometheus read from the same device the speed keep about 100MB/s; i guess there are some limits in wal reader, i am still finding evidence to prove it.

@krasi-georgiev Do you mean that you alre

[2019-05-28 10:07] krasi-georgiev commented on #611
I meant that when running benchmarking test on Prombench the startup time after a restart is around 14m which is similar to what you have observed.

Here is the last one we did
https://github.com/prometheus/prometheus/pull/5592

[2019-05-28 10:08] brian-brazil commented on #611
How many cores do you have, and is there hyperthreading?

[2019-05-28 10:47] godliness commented on #611
@brian-brazil
[code]
[code]
[code]

[2019-05-28 11:05] brian-brazil commented on #611
Try setting GOMAXPROCS to 12 or 24. The hyperthreads tend to result in the goroutines fighting each other a bit.

[2019-05-29 20:06] gouthamve commented on #24
Can be closed via https://github.com/prometheus/tsdb/pull/370

[2019-05-29 20:06] #24 closed

[2019-05-30 08:20] godliness commented on #611
@brian-brazil
I hav tried this but there is no obvious effect.

I also take a further look into the code that reload and loadWAL both will takes about 10 minutes, not only loadWAL, reload will takes about 5 minutes, and loadWAL will take about 5 minutes also.

[code]
[code]

Below i have two ways wanna to improve the restart speed:

1. What about take a lazy reload when restart prometheus, only do

[2019-05-30 08:33] brian-brazil commented on #611
reload should be extremely fast - and we need to wait on it in any case. Large indexes could explain it, that sounds kinda big.

[2019-05-30 09:44] godliness commented on #611
@brian-brazil
Yes, index file is big, since our Kubernetes cluster has 1500 nodes and multi samples collected(also collect metrics of pods and nodes).

[2019-05-30 09:51] godliness commented on #611
Closing this if it is not a issue for us, thanks for your help @brian-brazil @krasi-georgiev

[2019-05-30 09:51] #611 closed

[2019-05-30 09:58] krasi-georgiev commented on #611
reading the index in separate go routines is not a bad idea, but probably a lot of work to make it race conditions free. If anyone has the time to experiment would be happy to review a PR.

[2019-05-30 11:57] #612 closed

[2019-05-30 12:28] krasi-georgiev opened #615 "Add tests for the tsdb cli tool"
can start with simple test for the ls, analyze and dump commands.
1. create a block with `createBlock()`
2. run each command
3. compare expected vs actual output.

[2019-06-04 14:03] krasi-georgiev commented on #590
now back to full working mode after kubecon, It would be nice to get to the bottom of this. Can any of you that has time to troubleshoot ping me on irc(#prometheus-dev) to work out a way I can replicate it and find the culprit.

[2019-06-04 17:02] michaelarnauts commented on #590
I have no idea how to reproduce the initial corruption, I only could reproduce missing metrics for two hours by restarting.

[2019-06-04 17:38] brandond commented on #590
I can reproduce it easily enough just by restarting the container, but I've no idea what's special about any of our configurations. I'd be glad to turn up logging or tracing, grab a memory snapshot, or whatever else might be helpful to help debug the issue.

[2019-06-04 20:39] lebovski opened #620 "Unstable: Not all data returned after write"
### Summary
After writing some data to prometheus tsdb not all data are returned after iterate. Maybe i do something wrong

### Simplest Example to Reproduce
raw_tsdb_test.go
[code]
For reproduce:
[code]

### Expected Behavior
Using the above example, i assume i get all the recorded values:

t | v
------------ | -------------
1 | 100
2 | 200
3 | 300

### Current Behavior
Behavior is unstable and I

[2019-06-04 21:16] brian-brazil commented on #620
Iteration order for a map is arbitrary in Go, and the TSDB requires timestamps to be ordered for a series.

[2019-06-04 21:40] lebovski commented on #620
Exactly, I missed this moment - thank you very much

[2019-06-04 21:40] #620 closed

[2019-06-04 23:44] tyrken opened #621 "How best to write blocks when bulk importing?"
I'm trying to do bulk importing loads of Whisper files from a Carbon/Graphite server to TSDB, so we can keep history when moving metric systems.  So far I've a rough prototype to do low-scale reads from Whisper & write to blocks, as if they were scrapes.  I.e. if I have metrics "A", "B", and "C", and I have their values at timestamps "1", "2" and "3" (nicely synchronised due to the way Whisper wor

[2019-06-05 08:48] krasi-georgiev commented on #590
@brandond can you try to replicate with a minimal config and attach the config here or ping me on IRC to share privately.

[2019-06-05 08:56] krasi-georgiev commented on #621
I think this would be the most performant way:
[code]

[2019-06-05 09:19] brian-brazil commented on #590
I was planning on digging into this today, but any additional info is good.

[2019-06-05 09:27] krasi-georgiev commented on #317
this is fixed in https://github.com/prometheus/tsdb/pull/582
tsdb continues to write when there is more space available.

[2019-06-05 09:27] #317 closed

[2019-06-05 11:28] brian-brazil commented on #590
Found the issue, it's when a given series has multiple refs over time. We don't correctly handle samples for anything other than the first ref.

[2019-06-05 12:18] brian-brazil commented on #590
#623 to fix

[2019-06-05 17:07] brandond commented on #590
Awesome! Looking forward to being able to test the next release.

[2019-06-06 13:55] krasi-georgiev commented on #590
fix merged so closing the issue, but feel free to reopen if you see something weird after the upgrade.

[2019-06-06 13:55] #590 closed

[2019-06-19 09:22] krasi-georgiev commented on #621
feel free to reopen if you have anymore questions.

[2019-06-19 09:22] #621 closed

[2019-06-19 09:29] tyrken commented on #621
Thanks - working on it...

[2019-06-19 10:26] bwplotka commented on #621
Yup, the only decision you need to make is in how many blocks you want data in. If one TSDB block then single appender in same directory. Otherwise, many different directories and then different appenders (TSDB instances) (:

[2019-06-19 10:27] bwplotka commented on #621
Just curious how you want import TSDB data (blocks or WAL) to Prometheus/Thanos?

[2019-06-19 11:29] krasi-georgiev commented on #621
I think for all cases blocks should work best and let the let the compactor handle the overlaps.

[2019-06-19 13:46] #599 closed

[2019-06-25 03:26] lawliet89 commented on #590
Given that the fix is not in Prometheus yet, is there anything we can do to workaround this?

[2019-06-25 07:58] krasi-georgiev commented on #590
Can't think of anything, but next release is due in 2 weeks I think so not so far.

[2019-07-02 23:41] csmarchbanks opened #646 "Cannot run more than one wal.LiveReader with metrics"
https://github.com/prometheus/tsdb/pull/619 changed the LiveReader to take a prometheus registerer instead of always using the default registerer. However, now if you try to instantiate more than one LiveReader with the same registerer it will panic.

You can pass nil as the registerer to avoid the panic but that means that metric will no longer show up.

cc: @brancz since I think you are doing th

[2019-07-03 10:47] #518 closed

[2019-07-03 12:58] #646 closed

[2019-07-04 18:11] codesome opened #652 "Head compaction/snapshot inefficiency"
During snapshot, there are chances of head chunks going beyond the block meta during compaction as we already know and have a fix for. In such case, we add a tombstone to `dranges` here https://github.com/prometheus/tsdb/blob/d230c67aa180850b80ae49e07079f55df1da0502/compact.go#L770

But it is possible for every series to encounter this. Hence the `dranges` will grow linearly with every series iter

[2019-07-04 20:07] krasi-georgiev commented on #652
Hm, I am not sure I understand the problem here.
Has anyone run into some problems with this?

We are aware that this will increase memory and overall snapshot time, but can't think of any other way to produce a sane snapshot of the head block.

[2019-07-05 05:19] codesome commented on #652
It's in `2.11.0-rc.0` right now, so I don't think anyone would have faced it yet. It was just my speculation.

The problem that I pointed out is not in the actual solution but in the implementation. We are appending the same drange many times, and the `dranges` might grow very big with the same duplicate `Interval{Mint: meta.MaxTime, Maxt: math.MaxInt64}`, hence the `deleteIterator` will take a lo

[2019-07-05 07:06] krasi-georgiev commented on #652
Aaaa , alright, I understand what you mean now. I am working on something else, now so if you have time I am happy to review a PR.

[2019-07-07 12:06] leominov opened #655 "Trying to understand tsdb"
Hello @brian-brazil, I'm trying to use tsdb as metrics storage for my application, but result storage size was scaring me, is it I'm wrong in something?

Here is my example:

[code]

For this example tsdb eats around 5Gi in a day.

[2019-07-07 12:25] brian-brazil commented on #655
It makes more sense to ask questions like this on the [prometheus-developers mailing list](https://groups.google.com/forum/#!forum/prometheus-developers) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-07-07 12:25] #655 closed

[2019-07-10 14:01] dipack95 opened #657 "Proposal to compute actual size of files on filesystems with compression"
We've noticed an issue with prometheus/tsdb unable to realise that it is on a filesystem with compression enabled (ZFS dataset with lz4 compression). When calculating the space remaining for things like the WAL, it uses the logical space occupied by the files on the fs, which is acceptable on regular filesystems, but does not represent the actual size on disk on compressed filesystems.

To get aro

[2019-07-10 14:08] brian-brazil commented on #657
I think what we're currently doing is fine, the filesystem is a black box to us.

[2019-07-10 14:30] dipack95 commented on #657
The solution I'm proposing is filesystem agnostic as well. We're just retrieving the right size instead of apparent size of the files.

Our current approach is to factor in the compression ratio with the numbers that prometheus reports to us (the apparent file sizes), and then estimate the actual disk space used. This is quite messy imo, as it involves quite a bit of admin overhead to ensure that

[2019-07-10 14:38] beorn7 commented on #657
The downside of your suggestion is that we introduce a syscall, which is always a bit messy on its own. (To quote one of the [Go proverbs](https://go-proverbs.github.io/): [“Syscall must always be guarded with build tags.](https://www.youtube.com/watch?v=PAAkCSZUG1c&t=11m10s))

The next problem is that regularly stat'ing all the files of a beefier Prometheus instances might start to be costly. The

[2019-07-10 15:10] dipack95 commented on #657
@beorn7 Your points make sense, thank you for the clarification!

[2019-07-10 15:10] #657 closed

[2019-07-12 21:09] dipack95 commented on #598
I've been looking at possibly compressing the time series chunks for prometheus, and the WAL compression PR #609 got me thinking that a snappy buffer for the chunks data would work for my use case. I've got a quick and dirty version that writes and reads as expected, except for compaction.

[code]

After reading this issue, I've come to understand that the project is looking to do something simila

[2019-07-13 12:26] krasi-georgiev commented on #598
I guess some research and testing would be required to decide between both approaches. Knowing the benefits and trade-offs  can help take the decision about the design.

We can run  benchmark test using prombench and see the results for each approach.

[2019-07-13 15:17] krasi-georgiev commented on #598
maybe starting with a proposal doc would be a good start so that more people can share ideas and experience.

[2019-07-15 13:26] dipack95 commented on #598
@krasi-georgiev I'm new to this process, so by proposal doc, do you mean a new GitHub issue or PR?

[2019-07-15 13:30] brian-brazil commented on #598
A Google doc shared with -developers would be the usual approach for something as undefined as this.

[2019-07-15 13:44] krasi-georgiev commented on #598
@dipack95 also be prepared with some patient as this is not going to be an easy task.
I imagine that just the proposal doc and research would probably take a bit of time.

For someone to take up in this task would require quite a bit of dedication and patience.

[2019-07-15 14:19] dipack95 commented on #598
@krasi-georgiev Yes, I understand that such a proposal, with such wide impact will take some time to flesh out and fully implement. This feature, if implemented, could make a big difference in our prometheus deployments, and thus I thought it wise to contact the team to see if I could help.

I've create a google doc here: https://docs.google.com/document/d/1kujMhPwWdW5BpdrJpiq-CEcD3M58yk755LkqSLH3

[2019-07-15 14:26] krasi-georgiev commented on #598
thanks!

nope I can't access. Best to make it open for viewing and commenting.

[2019-07-15 14:33] dipack95 commented on #598
Here's a new link, which should be more permissive https://docs.google.com/document/d/1Je2DmMdvqQlWuXghGxkbgRdnNzoKYSeIkUQDWZ-GMcs/edit?usp=sharing

[2019-07-15 15:59] krasi-georgiev commented on #598
this one is open for public writing.
I would say to set - can comment, can view .

[2019-07-19 10:00] Stadicus commented on #590
Thanks, had the same issue, losing 2h of metrics on service restart. Just installed the latest release 2.11.1 and that solved the problem.

[2019-07-19 10:03] krasi-georgiev commented on #590
@Stadicus thanks for the report.

Locking the issue to avoid the extra noise. Feel free to open a new one if you still experience some issues.

[2019-07-19 15:13] obitech commented on #615
Hey @krasi-georgiev, I would like to work on this feature. Before I stumpled upon this issue I was actually thinking about writing my own little CLI tool that will send a request to the Prometheus API, create a snapshot and then send it to S3 or something. :)

This would be my first contribution to the project and I couldn't find any documentation on how to use the CLI tool for snapshots but I ass

[2019-07-19 15:46] krasi-georgiev commented on #615
Prometheus itself can create snapshots:
https://www.robustperception.io/taking-snapshots-of-prometheus-data

[2019-07-19 15:56] krasi-georgiev commented on #615
sorry I didn't read your comment properly. Yes feel free to ping me on #prometheus-dev irc channel

[2019-07-22 09:27] jiacai2050 opened #666 "docs outdated on Label offset Table?"
In both [Label Offset Table](https://github.com/prometheus/tsdb/blob/master/docs/format/index.md#label-offset-table) and [Postings Offset Table](https://github.com/prometheus/tsdb/blob/master/docs/format/index.md#postings-offset-table), there is a 4-byte entries field, but in [ReadOffsetTable](https://github.com/prometheus/tsdb/blob/master/index/index.go#L805), read as following order:

1. `cnt :=

[2019-07-22 09:36] codesome commented on #666
`cnt := d.Be32()` is the `#entries <4b>` field. The `len <4b>` is gobbled up by `encoding.NewDecbufAt(...)`.

[2019-07-22 09:36] #666 closed

[2019-07-23 08:04] #516 closed

[2019-07-23 08:25] krasi-georgiev commented on #615
I think you can use https://golang.org/pkg/testing/#hdr-Examples

[2019-07-23 12:28] work-chausat commented on #652
i have the same problem, compacting head to disk is really too slow, headIndexReader sorts all series, even a series is not in the time window, the more series in head, the slower to sort series for compaction, and the slower to sort series, the more series in head, finally, the memory is full, oom occurs.

![1111](https://user-images.githubusercontent.com/29337670/61712241-787b1300-ad88-11e9-90d6

[2019-07-23 12:40] work-chausat commented on #652
1 @ 0x8c21a0 0x4c9bf6 0x4c9e2a 0x4c9ec3 0x4c9e88 0x4c76e9 0x8a5fcf 0x890c28 0x88f9d5 0x88ecfa 0x895f46 0x895889 0x45e281
#	0x8c219f	github.com/prometheus/tsdb.(*headIndexReader).SortedPostings.func1+0x9f	/export/App/gopath/src/github.com/prometheus/tsdb/head.go:1222
#	0x4c9bf5	sort.doPivot_func+0x415										/export/App/go/src/sort/zfuncversion.go:89
#	0x4c9e29	sort.quickSort_func+0x99									/e

[2019-07-23 13:51] work-chausat commented on #652
i added "level.Info(h.head.logger).Log("msg", "sort series", "length", len(series))" in headIndexReader.SortedPostings.

`func (h *headIndexReader) SortedPostings(p index.Postings) index.Postings {
	series := make([]*memSeries, 0, 128)

	// Fetch all the series only once.
	for p.Next() {
		s := h.head.series.getByID(p.At())
		if s == nil {
			level.Debug(h.head.logger).Log("msg", "looked up series

[2019-07-23 20:42] obitech commented on #615
Hey @krasi-georgiev I've tried setting up `Example`-Tests, however I'm running into some issues. Summary: it's a bit gnarly and feels kind of wrong. Check my code [here][1].

- We can't use `*testing.T` in those tests since those Example test function take no arguments
- `go vet` is complaining because the test function is not referring to any actual examples in the docs.
- We can't use variables

[2019-07-24 07:31] krasi-georgiev commented on #615
Another way I can think of is passing a logger to these funcs so when you test them you can pass some mock logger that can than be used to test the output.

[2019-07-24 10:15] codesome commented on #652
@work-chausat More info is needed an analyze the issue. I could only deduce that you had 1.1M head series. Could you open another GitHub issue with more details (like the Y axis of your graph is not visible, memory used by prometheus and the system capacity, prometheus version, time taken for compaction).

[2019-07-25 19:41] obitech commented on #615
That's a good idea. I'll be busy the next couple days but I hope to make some progress next week.

[2019-08-02 09:21] codesome opened #670 "Avoid chunks with >120 samples in MergeOverlappingChunks"
Currently, during vertical compaction, we directly merge the overlapping chunks and the samples can exceed the limit of 120 in a chunk. Chunk needs to be broken down into smaller chunks if it crosses 120 samples.

The piece of code where the fix goes: https://github.com/prometheus/tsdb/blob/d5b3f0704379a9eaca33b711aa0097f001817fc2/chunks/chunks.go#L208-L240

[2019-08-02 09:28] bwplotka commented on #670
Happy to attack this in same PR as well. Thanks for pointing out the place for this one :+1:

[2019-08-04 14:19] obitech commented on #615
So I think I've found a way that is not too bad I think:

- `printBlocks` in `main.go` now takes an `w io.Writer` (which is by default `os.Stdtout` in `main()`) which makes it easier to test.
- In `main_test.go` we can then pass a `bytes.Buffer` as `w` where we can capture the output.

One very annoying thing is that `os.Stdout` will automatically expand tabs according to the length of `meta.ULID`

[2019-08-09 09:26] bwplotka commented on #328
I added more info to `Seek` interface, refactored tests to check the mentioned behaviors and adjusted all implementations in https://github.com/prometheus/tsdb/pull/665

I belive this PR fixes this issue.

[2019-08-13 10:51] bwplotka commented on #346
The current idea is to do Snapshot + potentially readmode. So nothing required from TSDB for now. cc @devnev

Closing.

[2019-08-13 10:51] #346 closed