[2017-03-10 10:35] fabxc opened #1 "Position mapping blocks queries"
A memory block receives series from writers in random order. Based on that it builds the inverted index, which relies on monotonically increasing IDs for each series.
For querying, we want series to be in lexicographic order of their label sets to efficiently merge them between blocks.

For that we have a position mapper, which can reorder an iteration over inverted index efficiently and give us t

[2017-03-10 11:33] brian-brazil commented on #1
Yes, it'd cause various oddness in more complex rules if this weren't the case.

[2017-03-10 11:34] beorn7 commented on #1
Just as a data point: Current storage doesn't guarantee immediate indexing either. The delay is usually low, but there are cases of a longish indexing queue where it takes some seconds to show up. That has never stirred up any confusion, AFAIK.

If the delay goes into the minute range, things might get relevant, though. Problem is that everything scales with the number of series: indexing becomes

[2017-03-10 11:35] brian-brazil commented on #1
That's fine with our current semantics, but not once we have rule groups. One rule may be expecting data from the previous rule to be available.

[2017-03-10 11:44] beorn7 commented on #1
Oh yeah, rule interdependency will be fun... ;)

Still, rules usually don't create new time series in each run. So in practice, I expect little impact (if the delay is usually smaller than an evaluation cycle). However, scenarios could be crafted that would completely fail with an indexing delay.

[2017-03-14 21:54] fabxc opened #2 "Handle "missing index" on first compaction"
On startup we allocate one block in the past that won't get any data to guarantee the time window from the most recent sample into the past in which data can be appended.
Typically this will not get any data and on compaction an empty block is created. With no series written, there's also no index. On querying that block we get an "index doesn't exist" error.

We should either stash the empty bloc

[2017-03-14 21:57] fabxc opened #3 "Implement way to return soft-errors on partial data"
Blocks are independent and some blocks may be missing indices or other data for one reason or another for another (e.g. #2 or data that's skipped due to detected corruption).
We can often still serve a large part of the requested data and should be able to do so without the using application having to fail hard on the first error.
We need a way to indicate to the application that some data may be

[2017-03-14 22:02] fabxc opened #4 "Implement backups"
Our design generally allows easy backups. Necessary steps for this are:

1. Disable compactor temporarily
2. Create a backup directory that hard-links to all existing block files
3. Snapshot() method that allows compacting current in-memory blocks into fully persistent blocks (not strictly necessary but nicer than backing up write-ahead log segments)
4. Re-enable compactor so we don't ramp up memo

[2017-03-14 22:06] fabxc opened #5 "Investigate possibility of tools modifying persisted blocks"
There are various use cases to transform/move/... older data in some way. For example downsampling or shipping it off into a LTS. There are many ways to build those tools and ideally it won't be a concern of the core tsdb.

In theory, tsdb should act sufficiently atomic on all file systems we aim to support so that external tool could do those things out of band. We would need a way to toggle comp

[2017-03-14 22:11] fabxc opened #6 "Implement deletions"
We want to provide a way to delete data based on time series selectors as well as time windows. For persisted (generally immutable) blocks, this can be implemented by adding tombstone records that add information on deleted data.
Those tombstones are considered when querying and resolved on the next compaction of a block by actually dropping the data.

For in-memory blocks, we likely want to do so

[2017-03-14 23:43] fabxc opened #7 "Cache/pre-compute series mappings between blocks"
Comparing label sets is relatively expensive. The block design requires us to do a lot of those comparisons when merging series with the same label sets from different blocks.
This mostly affects range queries and gets more significant the more blocks a query spans. The performance penality becomes relatively stronger the more series are queried.

While blocks should generally stay independent, it

[2017-03-15 07:59] fabxc opened #8 "Investigate reduction of memory spikes during compaction"
Especially when compacting larger time ranges, there are very notable spikes in memory usage.
When under querying load, the memory occupied by queries smoothens the spikes to a good degree, but not entirely.

It would be cool if it was possible to reduce the spikes a fair bit. For that we first need a proper understanding which allocations are actually causing it. Profiling so far did not give a c

[2017-03-15 21:18] fabxc opened #9 "Allow fast access to most recent sample"
For federation in Prometheus we want fast access to the most recent sample. This is currently not served by the interface we have which only allows forward-streaming access to a series for a time window.
That's the interface actually reflecting properly how data is stored in the database. We do have an efficient cache of the most recent sample but that is strictly speaking an implementation detail

[2017-03-15 21:21] fabxc opened #10 "Provide functionality to merge SeriesSets"
Currently we can query multiple SeriesSets via label selectors but cannot merge two of them together while eliminating duplicates.
Internally we have similar functionality, so this is merely about making it accessible. We mostly need this for federation where we can have multiple AND'ed selectors (e.g. `abc{de=~"fg"}`) which are OR'd together.

Either we provide an external method OR'ing SeriesSet

[2017-03-15 21:41] brian-brazil commented on #9
With atomicity and staleness handling, which I hope to get in with the new storage for 2.0, I can see this requiring more involved logic which makes considerations around the current implementation largely moot.

Let's get something working, and then benchmark.

[2017-03-15 22:03] fabxc commented on #9
Federation does work modulo #10 which can cause duplicate entries for overlapping selectors right now. So yes, this is is a low priority issue for now.

[2017-03-16 11:11] beorn7 commented on #9
Just two thoughts at this point (not much time to dig deeper):

- The fast access path for the last sample was not only motivated by federation but also by the fact that rule evaluation are often just accessing the last sample of a series.

- Given that allocation churn of the query layer seems a problem right now, I could imagine that a low-alloc access path to the last sample would help here (no

[2017-03-16 11:16] fabxc commented on #9
To my knowledge rule evaluations are just regular queries and do not make us of the particular storage call. The query engine does not use it internally either.
I'd argue that almost all rule evaluations that are relevant in cost, use time aggregation anyway and it doesn't apply.

Not so much of a problem. Just way higher than it would need to be. The allocs don't relate so much to access but to w

[2017-03-16 11:40] beorn7 commented on #9
Storage v2 transparently returns an "instant" series iterator for an instant query with a timestamp beyond the end of a series.

But yes, range queries obviously cannot benefit from that.

[2017-03-16 20:03] fabxc opened #11 "Mystery deadlock"
There's a deadlock that hits Prometheus servers under load some time within 12 hours typically. It is known to occur in servers that are never queried so is likely located in the write path.

Goroutine dumps show to be entirely useless as all waiting goroutines are waiting to acquire a lock.
Thus, it's most likely inconsistent locking order or exiting a locked procedure without unlocking again.

[2017-03-16 20:05] fabxc opened #12 "Artifacts in query result"
In aggregation queries over longer time we see artifacts where result graphs are briefly interrupted.
This probably happens at block boundaries but is not current caught by PromQL tests even if spanning multiple blocks.

This is probably a minor bug that just need to be tracked down. Finding a PromQL test that can reproduce the behavior would be a good first step.

[2017-03-17 14:11] fabxc commented on #11
Potentially found and fixed. Testing now.

[2017-03-19 09:59] fabxc commented on #11
Seems to be solved. Closing. @beorn7, please let me know if you encounter it again.

[2017-03-19 12:43] fabxc opened #13 "Add 'table of contents' to index file"
An entry at the end of the index file documenting where the main sections start (and end) would help making analysis easier. For example, all postings lists of the inverted indices are currently stored uncompressed, which unexpectedly has very little size overhead.
Having better understanding what is how expensive size-wise, makes prioritising improvements easier.

Currently all references/offsets

[2017-03-19 17:20] Gouthamve opened #16 "Testing: Internal tests or API tests?"
We are currently testing the package within the package, i.e. for example: via `package tsdb` as opposed to `package tsdb_test`.

I have seen that usually testing the API as a "user" of the package works well in the initial stages. We can have `_internal_test.go` if we want to test internal functions. This will also give us a little more clarity into what to expose and what to not.

If you think t

[2017-03-20 10:14] fabxc commented on #16
I suppose there's some benefit if you go that route strictly. But once you want to test "just that one internal type", you are stuck and have to add a separate brunch of the "internal tests" you mentioned. At this point I can't really see the point anymore. Now you obviously have the need for both, but what's the reason for keeping them separated?
Saving the programmer from themselves maybe? If I

[2017-03-20 10:38] fabxc commented on #2
For now this is hot-fixed by returning an empty result instead of an error. That' arguably equally correct in general, just not ideal. For the case of Prometheus where all indices are currently fixed by the using application it does not matter.

[2017-03-20 19:07] Gouthamve commented on #10
Are you talking about exposing `mergedSeriesSet` and adding multiple series instead of just two?

Ref: https://github.com/fabxc/tsdb/blob/master/querier.go#L262-L267

[2017-03-20 19:09] fabxc commented on #10
Yea, functionality-wise it's pretty much the same. Just that it is less
about merging time windows of the same series but about dropping duplicates.
The code will look pretty much the same. The tricky part is how to expose
this behavior to the user.

On Mon, Mar 20, 2017 at 8:08 PM Goutham Veeramachaneni <
notifications@github.com> wrote:

[2017-03-20 19:29] Gouthamve commented on #10
Hmm not able to see what could be tricky. Can I implement something like:
`MergeSeriesSet(series ....SeriesSet) SeriesSet` and send a PR?
Either I am missing the point or I need to implement it to see the difficulty :/

Also, there is an implicit assumption that a `SeriesSet` will be giving `Series` in a sorted order, with sorting based on the labels. But I don't see it written anywhere in the int

[2017-03-21 06:52] Gouthamve commented on #10
Hmm, now that I actually read it again, I understand what you mean. Do we need this complexity in PromQL? Or do we need this functionality at all?

I see that the use-case for this is if we want to graph two different metrics on the same graph. But isn't that being handled by Grafana? And for federation, we can do it the way its currently being done, get the instant vectors and dedupe.

[2017-03-21 07:20] fabxc commented on #10
Yes, the sortedness is part of the definition – it's an invariant that's not always easy to achieve and not necessary in all use cases. In general though, it seems to be something worth holding up. It has not been written down yet because it caused me a fair bit of headache an I was going back and forth on it for a while.

The use case here is actually only federation on the Prometheus side. You c

[2017-03-21 11:13] fabxc commented on #12
Dummy regression identified and fixed.

[2017-03-21 11:13] #12 closed

[2017-03-21 13:56] beorn7 commented on #11
Sadly, I still see the deadlock (after the first compaction). Would it be helpful to take a goroutine dump? I even have two different servers in the same state, so overlapping the two dumps might help.

Unfortunately, I have absolutely no cycles left to help debugging myself.

[2017-03-21 14:22] fabxc commented on #11
Can confirm, just had it as well before. Might well be it's yet again a new one.
Have to revisit the overall locking structure. Even though there aren't many, it's still too easy to cause one.

[2017-03-22 10:02] fabxc opened #18 "Use proper iterator of persisted postings"
When accessing an index file we currently create a list of postings which we wrap in a list iterator.
Instead we should implement an iterator directly acting on the plain bytes.

https://github.com/fabxc/tsdb/blob/2ef3682560a31bd03f0ba70eb6ec509512ad0de8/index.go#L701-L714

@Gouthamve this should be a low hanging fruit but interesting as it is a nice example of efficiency of using iterators.

[2017-03-22 10:09] fabxc opened #19 "Use fast access to postings depending on label matcher type"
This TODO in the querier points out an important optimization: https://github.com/fabxc/tsdb/blob/a4be181d3cb836e7e77a412374f19230cfc9cf46/querier.go#L165-L177

Currently we take a label matcher, iterate over all values for the label and add all matching values to our matching result. We than lookup all postings lists for the result label/value pairs.
This is necessary for regexes or potentially u

[2017-03-22 10:36] fabxc commented on #11
It seems I'm incredibly talented at fixing the lock, even adding doc strings on how the two locks causing this again and again (in the same function) should be used – and soon after reintroducing the wrong locking order in the same place... fixing and trying again.

[2017-03-22 10:48] fabxc commented on #1
Solved by removing the feature. It was an optimization that introduced a lot of problem and, on further evaluation, was not nearly as necessary as anticipated.

[2017-03-22 10:48] #1 closed

[2017-03-22 14:09] fabxc opened #20 "Panic on querying in head block"
[code]

This occasionally happens after a fair amount of spam-querying.

[2017-03-24 11:44] fabxc commented on #11
Okay, seems we have encountered quite a few different ones showing very similar stack traces.
Now things ran pretty long but still deadlocked eventually. The problem seems to be when cutting a new block (B) and still writing to the previous one (A). That may happen simply because of weird concurrency interleaving but also if a single scrapes contains samples with timestamps across both blocks.

*

[2017-03-24 12:34] fabxc opened #21 "Unknown series references in WAL after crash"
After ungraceful termination sometimes samples in the WAL reference series that do not exist yet. This should strictly not happen as all newly created series are added (in-order) to the WAL before any of their samples.

Needs investigation but no critical impact at this stage.

[2017-03-27 14:02] Gouthamve commented on #6
If we are going to do retention policies it via tombstones, we need some-kind of a rolling info in the tombstone. Something like:
1. **seriesA 1200-1600hr (timespan)** Deleted
2. **seriesB anything older than 10days** Retention

Now if we are going to specify retention via a config file, we might need to change every-block on a reload. We also need to compact blocks that have reached full-sizes pe

[2017-03-27 17:20] fabxc commented on #11
A workaround was pushed that generally works for Prometheus, where every write transaction only appends samples of the same timestamp. This was done to unblock a first alpha release of the storage.

Generally, the full behavior can be restored without any predicted performance impact but should be done carefully with a clean design. We might have to drop the property of nested `Appender` to gain m

[2017-03-27 18:39] gouthamve opened #24 "Bulk Imports"
Implement bulk imports for prefilling.

Ref: https://github.com/prometheus/prometheus/issues/535

[2017-03-28 14:28] fabxc opened #25 "Negativ regexp matching is buggy"
From a quick observation something about doing negative regular expression matching is not working correctly.

[2017-03-28 14:30] fabxc commented on #25
I was wrong, seems to be something else. Investigating.

[2017-03-28 14:30] #25 closed

[2017-03-29 11:17] #18 closed

[2017-03-29 19:52] gouthamve opened #26 "Label Values composite index"
I see from [this](https://docs.google.com/document/d/13uK6HoEXzX67DuWsJ2PKo8zjpqlgpQ0SIHz2nvMa7f0/edit#heading=h.zzd5egnpdp5) doc that we are going to have composite indexes. But it is still un-implemented.

@fabxc I am assuming this is a TODO item and you have not dropped the idea of a composite index.

[2017-03-29 20:41] fabxc commented on #26
Yes, this is a to-do that should be possible to add seemlessly at a later
point. The label value index interface shows support for it already.

It is useful for advanced autocompletion in Prometheus. For example, if we
want to suggest values for a certain label, it makes sense to only suggest
those that exist for the given metric name (__name__ label). The composite
index provides the required loo

[2017-03-29 23:25] Gouthamve commented on #16
Understood, thanks!

[2017-03-29 23:25] #16 closed

[2017-04-03 10:39] Gouthamve opened #29 "Add SelectPostings method to IndexReader"
I think we should a method to IndexReader that is of the form:
[code]
Right now, we have the same functionality being implemented by the querier here: https://github.com/fabxc/tsdb/blob/master/querier.go#L125-L139

**Why?**
Indexing makes more sense for this compared to the querier. We will be probably able to use the internal data structures better instead of having to stick the interface.

Also,

[2017-04-03 12:34] fabxc commented on #29
The boundary between IndexReader and Querier is obviously a moving target. The question is how close to the actual storage format they should be. So far the philosophy was to stay close and don't add more abstraction on top.

In particular, this method touches to different areas of our index, which is rather high-level.

How in particular would you leverage being close to the underlying data to ma

[2017-04-03 13:32] Gouthamve commented on #29
Hmm, about using the closeness to make it faster, I was thinking about points like
Intersect is done internally and you need not load **all** the postings out, but I now realise that this point is moot after I implemented iterator on bytes.

But one advantage we will get is the removal of ugly `absent` field. By moving this into IndexReader, we will return a simple postings list that the querier c

[2017-04-03 18:54] fabxc commented on #29
Mh, how will we get rid of the absent field? I agree that it's a code smell but it would just move somewhere else, no?

[2017-04-03 20:50] Gouthamve commented on #29
Hmm, yes, I agree it does have to move somewhere and I was thinking we could move it to a wrapped struct that implements Postings. It would make the querier simpler but the index complex.

It is finally your call and I don't have a strong opinion on this, it just feels cleaner that the index has such a method. Its completely okay to stick to the current interface.

[2017-04-05 21:23] Gouthamve opened #32 "Document that labels.Labels should always be sorted"
Currently we {1="2",2="1"} and {2="1",1="2"} are being treated as different series. This is true for `headBlock` and I could not find if we are sorting and merging series while persisting.

If this is true, it spreads the same series across different locations. Now while this may look like we are increasing our write throughput, we are never appending to the same series concurrently. This is a def

[2017-04-06 13:41] fabxc commented on #32
Comparing label sets is rather expensive considering how often we are doing it. Generally it either requires a nested loop which is O(n^2) or building a hashmap of the first label set and then comparing the second against it (allocations, which are even worse).
If they are sorted, we can linearly walk through them. It's the same pattern as we use for intersecting postings, merging SeriesSets, etc.

[2017-04-06 17:59] Gouthamve commented on #32
Hmm, it would be good if that invariant was specified somewhere. Will add a comment in my next PR.

As for if Prometheus is doing it, it is actually sorting and returning: [ingest](https://github.com/prometheus/prometheus/blob/dev-2.0/retrieval/scrape.go#L563-L565) and then here we are actually sorting them: [textparse](https://github.com/prometheus/prometheus/blob/dev-2.0/pkg/textparse/parse.go#L

[2017-04-06 21:35] Gouthamve opened #33 "CI integration"
I plan to work on tests most of next week. Should I help setup Travis while at it?

[2017-04-08 14:21] Gouthamve commented on #13
Do you have any ideas on how the TOC should look? Or should I take a rough stab at this?

[2017-04-08 21:36] Gouthamve opened #37 "[Q] SeriesIterator.Seek definition fuzzy"
So I am working on tests and I am not sure if the behaviour is right for [`SeriesIterator.Seek`](https://github.com/prometheus/tsdb/blob/master/querier.go#L468-L471). There are 2 variables (`ts`, `tt`) in the comment and I am assuming both are the same.

According to the definition, if there is a chunk with values at `1, 2, 4, 5`, `Seek(3)` should return the value at `2`, no? I am seeing that we r

[2017-04-08 22:25] Gouthamve commented on #37
Looking at [how PromQL uses](https://github.com/prometheus/prometheus/blob/dev-2.0/storage/buffer.go#L37-L38) it shows that we are indeed `Seek`ing to first value after `t`. And to get the last value before `t`, we later do a [`PeekBack()`](https://github.com/prometheus/prometheus/blob/dev-2.0/promql/engine.go#L732).

[2017-04-09 08:12] fabxc commented on #32
Yea, should be documented at the outer interfaces.

The `[1:]` happens because the first label is the metric name (`__name__`) and because of the valid characters for label names in Prometheus, we know that it will remain the first one even after sorting. Haven't checked whether it's a relevant optimization but the scope seems small enough that it's not too confusing.

[2017-04-09 08:19] fabxc commented on #33
Definitely. I just activated it.

[2017-04-09 08:24] fabxc commented on #37
Our iterators are generally forward-streaming only. If the documentation should be clearer, changes are certainly valid.

The assumption is generally that TS values are collected and accessed in order. It certainly one that allows the storage to perform well. The compression algorithm is also based on this assumption and other efficient ones would certainly be as well.

Any sort of peek back of on

[2017-04-09 08:47] fabxc commented on #33
Unfortunately the tests depend on packages from prometheus dev-2.0 branch, which Travis typically cannot pull.
I don't want to really add vendoring to this repository. Maybe best to just port the pkg/textparse and pkg/labels to prometheus master already.

[2017-04-10 18:43] mdlayher opened #38 "No license present in repository or code"
At a glance, I noticed that no `LICENSE` or similar file is present, and none of the source files contain the typical license block from other Prometheus projects.

I assume this was just a minor oversight?

/cc @fabxc

[2017-04-10 19:00] fabxc commented on #38
Thanks! Fixed.

[2017-04-10 19:00] #38 closed

[2017-04-11 04:57] Gouthamve commented on #6
For implementing deletions we need to support time-range deletions too. One chunk could have multiple deleted and valid-ranges.
My plan to implement this:
1) Store a deleted postings list with `[{mint, maxt}]` in the index.
2) We embed a new field, `deletedRanges: [{mint, maxt}]` in the ChunkMeta.
3) When [looking up the `ChunkMeta`](https://github.com/prometheus/tsdb/blob/778103b45060697e8452f3d0

[2017-04-11 15:34] brian-brazil opened #39 "dbAppender.Rollback actually Commits"
It should be calling rollback.

https://github.com/prometheus/tsdb/blob/778103b45060697e8452f3d00a6e8fe1f11306da/db.go#L657

[2017-04-11 15:37] brian-brazil opened #40 "dbAppender.Add says it's looking at last byte, actually just inverting it"
At https://github.com/prometheus/tsdb/blob/778103b45060697e8452f3d00a6e8fe1f11306da/db.go#L522

There's:

[code]

The `^` should be a `&`. Similarly in AddFast.

[2017-04-11 16:11] brian-brazil opened #41 "Collisions are likely in headAppender.Add's ref logic"
https://github.com/prometheus/tsdb/blob/778103b45060697e8452f3d00a6e8fe1f11306da/head.go#L308

headAppender.Add uses a 31bit random number to generate refs. A collision is likely at about 64k new series from a target/rule, which is almost certainly going to happen.

An approach such as a central counter would be safer, though 31 bits still feels a tad small.

[2017-04-13 02:55] Gouthamve commented on #6
So I have been thinking a little more about this. Do we want to support deletion of time-ranges? Or deletion beyond a time, i.e, "Delete all metrics in the time-series older than `t0`".

If this is the scenario, it makes it a wee-bit easier to implement this but the approach will be the one mentioned above.

[2017-04-13 05:11] Gouthamve commented on #6
We were thinking of using tombstones on `headBlock`s also. But influx has a similar storage scenario and they are removing the entries that are in-memory when doing deletes.

Ref: Last paragraph under https://github.com/influxdata/influxdb/blob/master/tsdb/engine/tsm1/DESIGN.md#data-flow

Haven't dug into the code yet, but I think they are removing the data rather than removing the entries in the

[2017-04-13 09:37] fabxc commented on #6
Let's focus on deletions for now (as would be done by the user).
I think retention policies could simply be implemented on top by doing a delete+compact cycle in the foreground. They also don't have to be strict. Just running this cycle every 1h would be fine IMO.

General (non-)requirements around deletions:
* they should be visible as soon as the deletion call returns
* expected to be very rare

[2017-04-13 12:51] Gouthamve commented on #6
Okay, so we are going to support deleting time-ranges and not delete older than `t0`.

We won't be modifying the ChunkMeta directly. When looking up the ChunkMeta, we would populate the deleted ranges. This is because a chunk can have partially-deleted data and the iterator on it needs to know that info.

+1 for a separate tombstone file, it is cleaner than modifying the index. When we load the in

[2017-04-13 15:41] Gouthamve opened #43 "blockQuerier returns data outside the time-range"
I was writing tests for blockQuerier and realised that it doesn't check the returned values to be inside `(mint, maxt)`.

So blockQuerier returns all the values from a chunk if a chunk is partially inside `(mint, maxt)`. This is because [`blockSeriesSet`](https://github.com/prometheus/tsdb/blob/master/querier.go#L158-L169) has no info about `(mint, maxt)` and [`populatedChunkSeries` returns all `c

[2017-04-13 16:00] Gouthamve commented on #43
Fixing this would mean adding `mint, maxt` to SeriesIterators, namely `chunkSeriesIterator` and `chainedSeriesIterator`. If you are okay with that, I will go ahead and fix this.

[2017-04-14 19:49] mattbostock opened #44 "Concurrent map write in (*headAppender).Add()"
I'm seeing a panic due to concurrent map writes in: `(*headAppender).Add()`:
https://github.com/prometheus/tsdb/blob/25d45465189ea9b7f2c894188c06d1853bfa79ba/head.go#L322-L323

Is the intention that the caller to `Add()` should implement their own locking? Is there a reason that `Add()` shouldn't manage a mutex itself?

Is this is a documentation issue, happy to raise a PR add a comment to clarify

[2017-04-14 19:57] Gouthamve commented on #44
Wait. `Add()` being called concurrently? Can you post the stack-trace? Operations on Appender are supposed to be serialised as I documented it here: https://github.com/prometheus/tsdb/pull/28/files#diff-7a117cbfd5485ed35efcbb2995c37aa0R63

If `Add()` is being called concurrently, then it is a bug. Is it happening in Prometheus or are you using tsdb as a library?

That PR is highly unlikely to get

[2017-04-14 20:28] mattbostock commented on #44
I'm using tsdb as a library.

Is the thinking that the caller of `Add()` (e.g. Prometheus) will be doing locking at a different scope, and so it doesn't make sense to add additional locking here?

Will raise a PR to add a comment - thanks!

[2017-04-14 20:40] mattbostock commented on #44
I see now that the Appender should not be reused after committing the samples, so in my case I don't need concurrent access. Closing this issue.

[2017-04-14 20:40] #44 closed

[2017-04-14 21:06] mattbostock opened #47 "Document that labels must be sorted before passing to (*headAppender).Add()"
It seems that labels must be sorted before passing them to `(*headAppender).Add()`, otherwise the labelsets will be considered distinct.

We should either ensure the labels are sorted (if the overhead is not significant) or document that the labels must be sorted.

[2017-04-14 21:14] Gouthamve commented on #47
Umm duplicate of #32?

[2017-04-14 21:15] mattbostock commented on #47
My bad, I should have checked for existing issues. Closing, thanks.

[2017-04-14 21:15] #47 closed

[2017-04-17 11:32] fabxc commented on #43
Yep, that's an oversight. Wondering whether it practically matters for PromQL.
But we should add the bounds checking to implement the API contract properly of course. The overhead is probably not significant compared to PromQL itself.

[2017-04-17 11:37] fabxc commented on #41
Yes, this should be fixed before the next alpha. A counter within the transaction and a signaling bit for clients to not store the ref beyond the transaction would be one approach.

That means that all clients that want to use `AddFast` have to maintain two separate caches – for within the current transaction and one for beyond. As it is, after the transaction initially creating a series, the next

[2017-04-17 12:23] brian-brazil commented on #41
How bad is it just to do the `Add` every time?

[2017-04-17 12:26] fabxc commented on #41
Every time as in never do the `AddFast`? It's one of the major reason for saving CPU aside from series maintenance. Without it, about 80% of CPU cycles are spent on allocating/GCing byte slices and hashing them.

[2017-04-17 20:45] telendt opened #48 "How to run tests?"
This project does not vendor its dependencies, so I had to `go get` them manually.

But when I tried to run tests I got the following.
[code]

If I switch `github.com/prometheus/prometheus` to dev-2.0, I get:

[code]

What's the prometheus version you test it against?

[2017-04-17 21:29] Gouthamve commented on #48
Hmm, so I am able run `go test` successfully (`prometheus/promtheus` checked out to dev-2.0) and the error you are getting is due to the client_golang lib.

Can you upgrade `github.com/prometheus/client_golang/prometheus` by running `go get -u github.com/prometheus/client_golang/prometheus` and try again?

[2017-04-17 21:33] telendt opened #49 "Add format documentation (binary layout of index/chunks)"
I've just read [Fabian's blogpost](https://fabxc.org/blog/2017-04-10-writing-a-tsdb/) which gives high level introduction to new V3 storage. I'd like to get more familiar with the binary layout of  index/chunks but I'm not sure where to look (should I dive deep into source code?). Are there some documents around that describe it and if so, can you link then in the README?

[2017-04-17 21:41] telendt commented on #48
@Gouthamve thanks, that helped.

[2017-04-17 21:41] #48 closed

[2017-04-17 22:34] telendt opened #50 "Improve time complexity of Postings merge"
-- https://fabxc.org/blog/2017-04-10-writing-a-tsdb/

That's not the most efficient way of performing [k-way merge](https://en.wikipedia.org/wiki/K-Way_Merge_Algorithms). [Your implementation](https://github.com/prometheus/tsdb/blob/778103b45060697e8452f3d00a6e8fe1f11306da/postings.go#L148-L158) has indeed `O(nk)` time complexity, but this short drop-in replacement:

[code]
has `O(n log k)` (hope

[2017-04-18 07:58] fabxc commented on #50
Awesome! Thanks for digging so deep.

The proper construction of the iterator tree is of course an easy and welcome improvement and my initial oversight.

As stated in the blog post, there seems to be tons of material on this. I roughly went with what was easiest for now, in particular because k is typically very small for our use case. For merge (i.e, regexp matchers in Prometheus), it might inde

[2017-04-18 07:59] fabxc commented on #49
I plan to document the format while giving it another pass here and there – hopefully by end of month. Will update here.

[2017-04-18 09:11] telendt commented on #50
Sure, this seems like a minor optimization iff k << n. Yet, it's a pretty easy one and helps in some degenerate cases (many labels).

I was about binary heaps, backed by an array (slice), not tree based heaps.

Indeed, they are! :) Maybe I didn't express myself clearly -- I'm not advocating for changing organization of posting list to binary heap, but using binary (min)heap for getting posting lis

[2017-04-18 09:39] fabxc commented on #50
That would be fantastic! My only background is an information retrieval lecture from years ago and some basic research I've done for this project.  So any input is greatly appreciated.

The serialization format has version flags on several levels, so it should be rather easy to iterate on and add better solutions without breaking things.

[2017-04-19 10:29] #39 closed

[2017-04-21 22:39] telendt commented on #50
So I couldn't find any literature how to do an efficient `Union` of sorted postings (search engines call it `Disjunction`), but [lucene](https://github.com/apache/lucene-solr/blob/86233cb95de6f24aa2ae7fd016b7d75d535024c7/lucene/core/src/java/org/apache/lucene/search/DisjunctionScorer.java#L34) [uses](https://github.com/apache/lucene-solr/blob/86233cb95de6f24aa2ae7fd016b7d75d535024c7/lucene/core/sr

[2017-04-23 19:48] drscre opened #56 "Compaction with downsampling"
Prometheus currently has no downsampling support. It can be achived via federation, but it's way too messy.

Maybe now it is possible to integrate downsampling support into compaction process?

Another usefull feature would be to have different ttl for different metrics.
For example in our setup, a lot of metrics are aggregated via recording rules, and after "recording" they are never queried agai

[2017-04-24 08:02] fabxc commented on #56
The new storage certainly makes it easy to add such things to the compaction process. Same with dynamic retention policies. Both have been thought about and are somewhat semi-planned either as a core feature or potentially by an external process.

On requirement for downsampling to work properly is staleness handling, which we luckily started working on just recently.

[2017-04-24 08:08] fabxc opened #58 "Change chunk file format"
Currently we write lists of chunk to a chunk file. Each chunk starts with a flag for its used compression. A CRC32 checksum over all chunks of an inserted is written at the end. I'm currently pondering with a few things:

* Have one checksum per chunk. The 4 byte overhead is likely fine and the checksum applies some sort of artificial grouping over an otherwise independent pool of chunks. That we

[2017-04-24 08:51] #43 closed

[2017-04-24 19:47] grobie commented on #58
I'm totally in favor of adding checksums to every chunk. I recently read some papers on data corruption and was surprised to see how likely bit errors can occur. I found some interesting approaches to test a database's corruption handling and robustness and have the goal to add such tests to tsdb.

Moving the checksums into the index doesn't sound like a good idea. They should be stored as closely

[2017-04-24 20:14] fabxc commented on #58
So I thought some more today:

If you lose the index data, you don't even know what that binary blob of compressed sample data is part of. From a corruption detection/data recovery perspective it doesn't matter. A point @tom-wilkie brought up is, that you can verify that the chunk an index references is actually the correct one – kind of a nice property in addition (imagine for same reasons chunk

[2017-04-25 05:28] grobie commented on #58
My statement was under the assumption that the index file would be somehow recoverable. Thinking about it, that's obviously not true. In that case, I don't have a strong opinion in either direction. The point about being able to validate an index file is used together with the correct chunks sounds reasonable.

From a write pattern (in terms of SSD pages) perspective, it shouldn't really matter ei

[2017-04-25 05:44] fabxc commented on #58
Correct. Just that you need a good bit of additional logic to spread checksums in the correct spacing but not in between relevant entries because than you cannot access them as a standard byte slice anymore without memmoves.

Also CRCing 4k bytes is obviously more expensive than 200. Then you also have to track whether you validated a page just before when accessing another entry in the same page.

[2017-04-25 09:26] qinguoan opened #59 "code bug in querier.go"
[code]
chks length is changed above, below code will not work
as you want. It will panic for "slice bounds out of range".
I think it should be something  like:
[code]

[2017-04-25 12:47] qinguoan opened #60 "cpu usage 100%"
I scrape 15w samples per second, without rules  cpu usage 40% (v1.5.2 300%).
After I used about 300 rules for aggregation, cpu full used with 20% iowait (nvme device). (machine got a 38 cores cpu, v1.5.2 usage 600% without iowait).

Attached file is pprof result.
evaluation_interval: 1s

[pprof.prometheus.localhost:9090.samples.cpu.001.pb.gz](https://github.com/prometheus/tsdb/files/955054/pprof.p

[2017-04-25 17:38] fabxc commented on #50
This was indeed in the original design doc. Then the index size turned out to be so smalled I decided not to improve the naive implementation yet.
Groupvarint is certainly a good candidate here as it has even greater throughput.

Currently revamping various pieces of the serializaiton format though. So it's a good time to add relevant metadata for cost estimation functions and such. Is there anyth

[2017-04-25 19:23] telendt commented on #50
I haven't dived deep into index format yet, but I noticed that it's quite simple and there's a lot of room for improvements (postings encoding it one thing, lookup dicts are the other -- I see that these are Go's maps serialized to disk).

Lucene uses "packed blocks" and "vint blocks" + skip tables.
https://lucene.apache.org/core/6_0_1/core/org/apache/lucene/codecs/lucene50/Lucene50PostingsFormat.

[2017-04-26 23:35] juliusv opened #62 "Clarify copyright notice for adapted go-tsz code"
Some of the files in https://github.com/prometheus/tsdb/tree/master/chunks are in large part adapted code from https://github.com/dgryski/go-tsz, but currently we just have the Prometheus copyright header on the top of those files. We should follow https://github.com/dgryski/go-tsz/blob/master/LICENSE.

[2017-04-27 05:12] qinguoan commented on #60
cpu iowait high while disk iops is 0.

[2017-04-27 06:00] qinguoan commented on #60
I may have found out the reason, in rule's manager all rules are evaluated in parallel, this may make iowait between cpu core switch (not quite sure)?  I just used a NumCPU goroutines to handle manager's Eval() est time is the same as before while cpu usage is OK.

[2017-04-28 14:08] #40 closed

[2017-05-01 06:22] Gouthamve commented on #33
Fixed in #55

[2017-05-01 06:22] #33 closed

[2017-05-01 06:23] Gouthamve commented on #37
Fixed in #36

[2017-05-01 06:23] #37 closed

[2017-05-01 09:46] #59 closed

[2017-05-04 05:33] Gouthamve commented on #20
This issue needs the commit hash also. Without it, it is pretty hard to fix or even know if this is fixed.

[2017-05-08 14:22] beorn7 opened #76 "invalid memory address or nil pointer dereference in tsdb.newChunkSeriesIterator"
I got this crash on two different test servers scraping the same targets and having the same rules (but the two traces originate in different rules, one is a recording rule, the other is an alert, so I assume it's not a specific "query of death"). Both call traces following:

This is built from commit 8c483e27d3d53b39ee0211c28eeeff7626c9ac99 in prometheus/prometheus.

## 1
[code]

## 2
[code]

[2017-05-08 14:27] fabxc commented on #76
Thanks. I also ran into this in the last few days. I think this is the one @Gouthamve fixed in #75. I ran a setup with the current master vendored and haven't hit it since.

Let's leave this open and close it once we have updated dev-2.0 and don't see it again.

[2017-05-09 12:53] Gouthamve commented on #76
Yep, pushed a fix for this recently. `dev-2.0` has been updated right now to include this fix. Can you try now and see if this can be reproduced?

[2017-05-09 13:36] beorn7 commented on #76
Deploying now…

[2017-05-10 09:39] beorn7 commented on #76
Has run without problems for 20 hours.

[2017-05-10 09:39] #76 closed

[2017-05-10 09:46] fabxc commented on #76
Cool :)

[2017-05-11 09:58] Gouthamve commented on #13
@fabxc Can this be closed now?

[2017-05-11 10:19] fabxc commented on #13
Indeed.

[2017-05-11 10:19] #13 closed

[2017-05-12 12:04] Gouthamve commented on #29
So, I am now implementing deletes and have duplicated the select-code again, the first time for the LastValue fast-path: https://github.com/prometheus/tsdb/pull/34/files#diff-e7066179d64e8fef87e1d06dc4a44a2cR145

For `Delete` and `LastValue` I need the postings so that I can perform custom functions on them. The selection is also not trivial and can be the path for several optimisations down the l

[2017-05-12 13:04] fabxc commented on #29
As it is a function that can be implemented purely with the exported methods of the IndexReader interface, anything blocking having a function `selectPostings(IndexReader, ...)` or a `postingsReader` type as in your file above? That can be easily shared across usages.

[2017-05-14 08:58] Gouthamve commented on #29
Closed via #78 Also absent is not moved inside the postings iterator as it requires looking up the labels which is time-intensive and should not be done twice.

[2017-05-14 08:58] #29 closed

[2017-05-15 05:45] #62 closed

[2017-05-15 05:52] fabxc opened #80 "Drop sequential block numbering"
Currently blocks are stored with sequence numbers attached to them that reflect the ordering of their covered intervals (`b-00001`, `b-00002`, ...).
This is mostly nice for running `ls` and seeing the blocks and their size in order but it has little purpose in other ways. Once we start backfilling, we potentially have to rename them all or adding a buffer in front and start with `b-10001` for exam

[2017-05-15 14:57] fabxc opened #81 "Improve instrumentation"
Instrumentation so far is pretty sparse:

* Make compaction duration metric a summary (no generally applicable histogram buckets possible)
* Fsync duration of the WAL
* WAL corruptions detected

There's probably a lot more. Though a lot of performance metrics around querying aren't really possible due to lazy evaluation.

[2017-05-15 20:11] fabxc commented on #58
This is largely complete. Thing I keep wondering is about putting series information itself into each chunk file for disaster recovery as well. That'd probably just be duplicated in the index though and could be added later as another version and be optional as it has overhead.

[2017-05-22 12:38] fabxc opened #84 "Use context.Context for transaction lifecycle"
Currently `Appender` and `Querier` both have `Commit/Rollback` and `Close`respectively.
Especially Rollback/Close are easy to forget to do properly, causing deadlocks.

One solution would be to replace the explicit aborts with contexts cancelation.

The interfaces would change as follows:

[code]

On context cancelation `Rollback` and `Close` behaviour would be called. A `Commit` would error if th

[2017-05-23 12:33] mwitkow commented on #80
Will the ULID be based on the min or max range of the block for the timestamp?

[2017-05-23 12:51] Gouthamve commented on #80
I don't think so. So the ulid will be based on **creation-time** of the block (could be a long time in the future due to compactions.): [ref](https://github.com/prometheus/tsdb/blob/7e6961b4ac2930740e0807a57074680c4a4305be/compact.go#L196)

Also we do sort the directories on basis of start time [later](https://github.com/prometheus/tsdb/blob/7e6961b4ac2930740e0807a57074680c4a4305be/compact.go#L131

[2017-05-23 12:57] Gouthamve commented on #41
This can be closed.

[2017-05-23 14:36] #41 closed

[2017-05-23 19:42] mwitkow commented on #80
Um, can we make it be a ULIB of min time so it is easy to nuke old blocks
in case of an emergency?

On Tue, 23 May 2017, 13:52 Goutham Veeramachaneni, <notifications@github.com>
wrote:

[2017-05-27 14:58] mwitkow commented on #80
@fabxc having an ULIB contain the min-time of the Block instead of Block creation time (e.g. during compaction) would also be helpful for the future if dynamic loading/storage of Blocks from a "cold storage" (e.g. S3 or GCS) was to be implemented.

[2017-05-27 15:15] mwitkow opened #86 "Discussion: plan support for Blocks archival/retrieval from S3/GCS/other blob storage"
The new model of Blocks that have time ranges lends itself to providing long-term storage of Prometheus data. Instead of just keeping Blocks on local storage and deleting old ones past a certain time, it would be possible to have them be pushed to blob storage like S3 or GCS.

The benefits are many:
 * ability to store significantly longer periods of time of data than a single disk provides (e.g.

[2017-05-27 15:20] mwitkow commented on #81
Can we have a histogram of series per block? This would allow users to see whether the blocks are well distributed or there is massive variance in their sizes.

Also a measure of count of all stored series (in "live blocks") would be fantastic: it would allow comparisons with P1. Additionally, the number of series in WAL-stage and non-commited to blocks would also be incredibly useful.

[2017-05-27 15:35] Gouthamve commented on #86
Hi, I plan to implement backups next week, ref: #4 and here are my thoughts on your idea.

I would be making a CLI tool that would backup all data to an external-folder. The extension of it would be backing up to block storage. Running the tool periodically would mean achievement of milestone 1 and we can restore the complete snapshot incase of a corrupt disk which would be milestone 2.

Now this

[2017-05-27 16:32] mwitkow commented on #86
Hi, thanks for the comment @Gouthamve.

Indeed, that would work if the ULID of the Blocks actually had the `min Series` encoded in it. This way the tool could automatically figure out the range of files to download on startup, without having to scan the contents of the Blocks themselves. Hence the proposal in #80 and the idea of "finally compacted Block".

True, that could be done using the `remot

[2017-06-05 05:30] Gouthamve opened #87 "Incorrect metadata being populated on deletions"
The numSeries and numSamples values after a block with tombstones is compacted are wrong.

While I have the fix ready for numSeries, [numSamples](https://github.com/prometheus/tsdb/blob/master/compact.go#L177-L179) is a little tricky. When we are [re-encoding a chunk](https://github.com/prometheus/tsdb/blob/master/compact.go#L329-L341) we donot know the number of samples the old chunk holds.

cc @

[2017-06-05 18:40] fabxc commented on #87
First, maybe we should make the beginning of a chunk always a varint of the
number of samples. The XOR encoding does this anyway. We should probably
just drag it out and make it part of the chunk file format. With that, it's
a lot easier to re-count samples on every compaction without decompressing
everything.

Second, we can just drop the stat for now if you feel that's better than
the inconsiste

[2017-06-05 18:52] fabxc opened #89 "List ancestor blocks in bock meta"
Currently we track "how old" a block is roughly by the "level" field in the meta.json file. It is generally incremented on every compaction. With compactions happening more frequently triggered by other mechanisms, e.g. for deletes, that field becomes relatively ambiguous/meaningless.

I propose to instead have `compaction.ancestors` field, which contains a list of all block that are contained wit

[2017-06-06 04:49] fabxc commented on #89
Further thought. This should probably just include or distinguish initial compactions for subsequent ones. Haven't fully figured out yet how deletions play into this consistently TBH.

[2017-06-06 14:53] fabxc opened #90 "Implement vertical query merging and compaction"
We should add support to query and compact time-overlapping blocks. Probably no need for sophisticated handling of overlapping chunks.

This is a rather complex one and we have to discuss specifics. But once done, it makes our life for restoring from backups etc. a lot easier.

[2017-06-07 09:49] fabxc opened #93 "Better heuristic for cutting new chunks"
Currently we cut a new chunk at 130 samples. If the sampling frequency fits 140 samples into a block, that results in uneven chunks. There a many similar scenarios causing similar imbalances.
The XOR encoding reaches good comression at 30 samples, near-ideal at 60, and certainly ideal at about 120 (c.f. http://www.vldb.org/pvldb/vol8/p1816-teller.pdf, page 1820).

I would propose to make a decisio

[2017-06-07 09:50] #89 closed

[2017-06-08 06:55] Gouthamve commented on #4
Closed via #88

[2017-06-08 06:55] #4 closed

[2017-06-08 06:57] Gouthamve commented on #6
Closed via #82

[2017-06-08 06:57] #6 closed

[2017-06-08 07:52] Gouthamve commented on #49
@fabxc I think this can be closed.

[2017-06-12 05:06] Gouthamve commented on #93
Closed via #94

[2017-06-12 05:06] #93 closed

[2017-06-12 09:50] devnev commented on #21
We're running a prometheus2 instance alongside our prometheus instances to observe the system's behaviour as we'd like to switch to P2 as soon as its ready. This crash seems insofar impacting as it can get a prometheus2 completely stuck in a crashloop: Our instance logs `Opening storage failed: open block /prometheus-data/01BJ772AN91568QNCGANK95GM7: open head block /prometheus-data/01BJ772AN91568Q

[2017-06-12 10:05] mwitkow commented on #21
https://github.com/prometheus/prometheus/issues/2795 is the same thing :(

[2017-06-14 16:53] Gouthamve commented on #20
Closing as stale. This is not seen in newer versions.

[2017-06-14 16:53] #20 closed

[2017-06-16 09:15] fabxc commented on #50
Closed via #98

[2017-06-16 09:15] #50 closed

[2017-06-16 09:18] fabxc commented on #80
ULID's should have the time of generation as it's done now. Start time is just one piece of meta information. Different use cases need to retrieve different ones, which is why there's the meta.json file. That one is easy enough to retrieve or use to index blocks along other properties.

Pinning it on the start time significantly reduces the ULIDs randomness depending on how the block boundaries ar

[2017-06-16 09:18] #80 closed

[2017-06-16 21:30] dilyevsky commented on #19
Looks like this is still relevant? Can I take this?

[2017-06-19 05:22] fabxc commented on #19
Sure, that would be great.
I think we converged towards adding new matcher types for sets and prefixes to prometheus/tsdb and then add separate functions to actually disassemble a regex and creating set and prefix matcher types out of those.

[2017-07-05 12:56] fabxc commented on #7
Benchmarks currently indicate no need for this.

[2017-07-05 12:56] #7 closed

[2017-07-05 12:57] fabxc commented on #8
After some investigation it turns out that compaction actually has a pretty low memory footprint. Most of it comes from starting new blocks. Several improvements have been made there. The remains largely need improvements in Prometheus itself.

[2017-07-05 12:57] #8 closed

[2017-07-05 12:57] #11 closed

[2017-07-05 12:59] #49 closed

[2017-07-05 13:00] fabxc commented on #60
This seems to relate to Prometheus 1.5. Please reopen your issue in prometheus/prometheus should it still be a problem.

[2017-07-05 13:00] #60 closed

[2017-07-05 13:00] #2 closed

[2017-07-05 13:02] fabxc commented on #9
As per reports federation actually works faster already and there's currently no need for adding complexity of the fast access.

[2017-07-05 13:02] #9 closed

[2017-07-05 13:02] fabxc commented on #21
Did either of you ever observe this again?

[2017-07-05 13:25] fabxc opened #102 "Fix block ranges"
Currently block ranges allow fine-grained configuration. Practically, this has little to no benefit for Prometheus. It adds a lot of complexity however when dealing with those blocks in other ways, for example backup procedures.

I propose switching to a time slicing approach where possible block ranges after different compaction levels are fixed, as well as their position in time. This prevents a

[2017-07-05 13:47] brian-brazil commented on #102
I'm okay with this change. The fewer configurables there are, the fwer red herrings there are for users to get caught up on.

[2017-07-06 12:40] Gouthamve commented on #102
Hmm, one pitfall that needs to be handled is that if we have a retention of 10days, we might end up with 18days worth of data before deleting things.

While we could adjust the things according to the retention, we need to think about how to handle it if someone shuts down and restarts Prometheus with a new retention.

[2017-07-06 19:44] Gouthamve opened #104 "Tests depend on Prometheus"
So #103 is currently failing as we are depending on prometheus/prometheus for tests and a change broke the compatibility.

While for now the hack works, we ideally need to remove the dependency.

/cc @fabxc @brian-brazil

[2017-07-12 14:04] Gouthamve commented on #10
Closing this as it has been implemented in Prometheus itself and any app that is using it can do this. Merging the series of several queries is an advanced feature and will be added only when requested.

Please feel free to re-open if need this.

[2017-07-12 14:04] #10 closed

[2017-07-12 15:16] opsnull commented on #86
I like the idea.

[2017-07-12 15:44] fabxc opened #107 "Ideas for TSDB CLI tool"
* A `ls` that gives a tabular view of blocks and info about them
* Scanning tool that checks for corruption and reports on which sections in which file are affected
* Doing compactions on blocks offline
* Getting info about values for labels, series for matchers, sizes of postings lists – anything querying related basically
* Downsampling all or some series in blocks.
* Tombstoning (and possibly i

[2017-07-16 18:20] dilyevsky commented on #19
So I just got to this... I can see the first part (direct posting lookup for equal matcher) is done. What are "set matchers" supposed to be exactly? Can you point me to the discussion?

Also I assume you mean some simple heuristic for regex prefix extraction? e.g. only optimize regex or the form "^abc" or something like that? I tried to read up on regex index search optimization but couldn't find

[2017-07-17 07:48] Gouthamve commented on #19
Hey, so it was decided that we should not add optimisations to the regexp-matcher but rather create new matchers and have prometheus parse its queries and send in the correct matcher kind into tsdb. For example if `^abc` was given to prometheus, then it will send in `NotMatcher(abc)`.

So one thing you can do is to add a prefix [matcher](http://godoc.org/github.com/prometheus/tsdb/labels#Matcher)

[2017-07-26 03:07] Gouthamve opened #113 "Export the oldest timestamp in the db"
This would help us query the remote storage from the correct timestamp and also enable other use-cases such as https://github.com/prometheus/prometheus/issues/2988

This is trivial to implement as it would be a method on `*DB` where we just return the `MinTime` of the oldest block.

[2017-07-27 02:37] qinguoan opened #114 "is it a bug?"
a.activeWriters maybe decrease twice when commit error ?

	defer atomic.AddUint64(&a.activeWriters, ^uint64(0))
	defer putHeadAppendBuffer(a.samples)
	defer a.mtx.RUnlock()

	a.mtx.RUnlock()
	atomic.AddUint64(&a.activeWriters, ^uint64(0))

[2017-08-07 22:56] johrstrom opened #117 "Seg Faults in tsdb.(*querier).Select"
Hi, we're getting a lot of segfaults at this location.  I do not know how to find the block it's attempting to sort or how I would un-encode it if I did.  I also do not know the query it's trying to serve.  This is coming from Prometheus (a query made through the API) as you see at the bottom of the stack given, but I figured it would be more appropriate here. I can provide the rest of the stack i

[2017-08-08 19:27] johrstrom commented on #117
@fabxc @brian-brazil I apologize if I should have opened this against Prometheus and not the tsdb sub component.  Please let me know if you want me move it.

[2017-08-08 20:05] fabxc commented on #117
All good. Based on the stack trace this is in the right place.
Thanks for reporting.

On Tue, Aug 8, 2017 at 9:27 PM Jeff Ohrstrom <notifications@github.com>
wrote:

[2017-08-09 10:16] fabxc commented on #114
You mean if we call Rollback() after a failed Commit().
The intended usage would be that a failed commit is irrecoverable and equivalent to a Rollback, i.e. calling Rollback after a failed Commit would be wrong. I suppose that needs clearer documentation.

[2017-08-09 10:21] fabxc commented on #117
So this is a really odd one to be honest. `sort.Sort` is known to panic for semantically incorrect comparison function. However, here we have a string slice and are sorting with the `sort.Strings` function. Strings in the input list cannot even be nil.

I'm lost on what could possibly cause this – also haven't seen it anywhere else before.
Can you reliably reproduce this and possibly print the inp

[2017-08-09 10:21] #58 closed

[2017-08-09 22:10] johrstrom commented on #117
This happens to me often, so I can definitely replicate.  After looking through the code, I'm guess I should print the [array here](https://github.com/prometheus/tsdb/blob/master/head.go#L679)?  I'll try to get the patch deployed in my env and let you know.

By the way, I don't believe any of them are nil, isn't that a different error message (invalid memory address or nil pointer dereference?).

[2017-08-10 08:15] fabxc commented on #117
Yea right, that's typically something about invalid memory.
Generally, a referenced value can by definition not be GC'd.

The first guess where we could see this of course would be mmap'd memory. But this occurs in the headIndexReader which purely deals with heap memory.

Second guess would be that it's something caused by Prometheus' retrieval layer playing a few `unsafe` tricks to prevent loads

[2017-08-11 00:33] johrstrom commented on #117
```Is there anything out of the ordinary about your environment? (Architecture, OS, ...)```
I can't image so, we're running CoreOS (1409.7.0 (Ladybug), kernel 4.11.11-coreos) in Amazon as a r4.4xlarge type.

This query is around 280k, which I'm sure others have surpassed.
```rate(tsdb_samples_appended_total{}[1m])```

```this would be the first (and only?) place where the issue shows.```
Good ques

[2017-08-11 09:36] fabxc commented on #117
First, great to see that someone is testing 2.0 with such a rather heavy load!

The only touching point of alert relabel configs is that it gets its label from the storage. There's no dependency in the other direction.
So if the issue also occurs in the storage first, the cause is more likely to be somewhere in the storage.

I would say that testing it on another instance might be interesting sinc

[2017-08-15 03:04] johrstrom commented on #117
This issue persists, but I'm going to update to 2.0.0-beta.1 that was just released and we'll see what's happening. We're also going to re-architect a little bit (for sharding reasons) so maybe, if it persists that'll shed some light on it.

Also I was thinking it could have something to do with empty or null labels?  I have ec2 discovery where I'm trying to build a label out of ec2 tags and they'

[2017-08-17 04:26] qinguoan commented on #114
Got, thanks

[2017-08-18 07:51] chlunde opened #121 "integer divide by zero in prometheus/tsdb.(*LeveledCompactor).Plan"
Hi, I got a crash on an v2.0.0-beta.1 instance running just a few hours, due to a division by zero.

Do you need more info, or should this statement just be guarded by checking if `NumTombstones == 0`?

https://github.com/prometheus/tsdb/blob/e0aca4bee9ae472d1c164c5562eed2a4bf4c700a/compact.go#L173

[code]

[2017-08-18 11:50] chlunde commented on #121
Just fixed by #120

[2017-08-18 11:50] #121 closed

[2017-08-18 11:53] chlunde opened #122 "Startup fails with --storage.tsdb.retention < 20h: Opening storage failed: at least one block-range must exist"
version=2.0.0-beta.1

[code]

It works with 20h and higher.  Looks like it is returned from https://github.com/prometheus/tsdb/blob/c4ca881685ae1266a75caf57da46d8b6934213c0/compact.go#L33-L43

Should this "just work", or require tuning from the user?

[2017-08-18 14:07] fabxc commented on #122
Thanks for reporting. Definitely a case we should be handling. The function here should return the right thing. Just that we are truncating the result later on to apply a maximum block size w.r.t to retention time:

https://github.com/prometheus/prometheus/blob/dev-2.0/storage/tsdb/tsdb.go#L61-L68

I was confused why it happens at 19h already. Turns out the `10` and `3` arguments in the call to `E

[2017-08-18 14:13] fabxc commented on #122
Closing here since it's an integration issue in Prometheus.

Fix in prometheus/prometheus#3089

[2017-08-18 14:14] #122 closed

[2017-08-19 14:13] onorua opened #123 "Currently exposed prometheus metrics are not enough for problem analysis"
I've tried to analyze the reason why prometheus server is utilizing more than 128GB of RAM (causing its killing by OOMKiller), but I could not find the reason for it, as there is no time series and samples/sec metrics exposed anymore.  samples/sec may be Prometheus specific, but amount of series is definitely TSDB specific.

I believe we need something like this:
https://github.com/prometheus/tsdb

[2017-08-19 15:04] fabxc commented on #123
You can still get samples per second via `rate(tsdb_samples_appended_total[5m])`.
Total amount of series in the DB is actually non-trivial to even compute, but currently active series can be queried via `sum(scrape_samples_scraped)`.

(I told you out of band, but just again here for public reference)

[2017-08-20 08:03] gouthamve opened #124 "disk size based retention"
With talk about 2.0 defaulting to +Inf retention time, there is also talk about adding a flag which does retention based on the data size on disk. Do we want to support that?

If yes, a simple hacky approach would be to check the size of a block after persisting and then updating meta.json with that info. On startup and reload, update the metric. But one obvious problem with that is the WAL size.

[2017-08-20 08:07] Gouthamve commented on #113
@ventris Do you want to give this a shot? This is actually quite simple and would help you understand the structure.

The `*DB` object has a list of blocks and each block exposes it `MinTime` and `MaxTime`. So it would be easy to expose that.

[2017-08-20 09:21] RichiH commented on #86
+ @bastischubert

@Gouthamve and me just talked this over on irc.

[code]

[2017-08-20 10:09] fabxc commented on #124
I considered that initially but we dropped the idea. You either alert on
running out of disk space or retention becoming too short.
Which one you pick doesn't really matter just that an explicit retention
gives more predictable/consistent behavior for end users.

On Sun, Aug 20, 2017, 10:03 AM Goutham Veeramachaneni <
notifications@github.com> wrote:

[2017-08-20 11:38] SuperQ commented on #124
Yes, having a disk-size retention would be very valuable, and possibly more useful than a time-based setup for many installation methods.

From the "SRE Hat" perspective.  Having systems automatically behave rather than have to rely on alerting and operator action is highly desired.

Supporting both time and byte retention flags is very much desired.

[2017-08-20 12:54] fabxc commented on #124
Retention getting shortened is something that needs operator intervention
in the general case. Just deleting old data without explicit consent is not
graceful degradation. I think the disk based alert is much more desirable,
especially since predict_linear will basically work out reliably with days
to weeks of notice period in all cases.

We can give quite reliable formulas to estimate required st

[2017-08-20 16:52] ventris commented on #113
Yes, I will give this a shot.

[2017-08-20 19:59] RichiH commented on #124
There's really no graceful degradation either way. You can choose between a crash loop without ingesting new data and old losing data; both are near pathological.

Especially in testing scenarios and for aggressive federation, a cap on size rather than time seems to make sense. If both are set, whichever is lower should hit.

Also, we talked about exposing the local storage size and currently olde

[2017-08-21 11:19] SuperQ commented on #124
Having a flag for retention-in-bites is explicit consent for doing exactly this.

[2017-08-21 11:49] ankon opened #125 "Missing data for format string 'open WAL %s'"
See https://github.com/prometheus/tsdb/blob/e0aca4bee9ae472d1c164c5562eed2a4bf4c700a/db.go#L880: there is no value given for the %s, so it appears literally in the log output.

[2017-08-21 11:52] Gouthamve commented on #125
Oops, but luckily it is an easy fix. We just need to pass the folder name to `%s`.

Do you want to send a PR for that @ankon ?

[2017-08-21 17:28] ankon commented on #125
I tried in #126, by looking at the surrounding code and guessing a bit that the directory parameter given in is probably more useful than the specific `{dir}/wal` calculated in the function :)

[2017-08-22 09:22] #125 closed

[2017-08-23 14:51] kron4eg opened #127 "Too much external dependencies?"
Here is single `import "github.com/prometheus/tsdb"` results too

[code]

Most are just transitive dependencies from `github.com/coreos/etcd` and `github.com/go-kit/kit`.

Does it make sense to import etcd (and it's transitive dependencies) for just couple of functions like OpenDir and Preallocate? What do you think about "little copy" to replace "dependencies tree"?

[2017-08-23 14:55] fabxc commented on #127
Yea, using etcd's fileutils was an easy means to get some reliable functionality in.
It would probably be best to replace those with our own functions. Contributions would be welcome of course :)

[2017-08-26 14:54] mdlayher opened #129 "indexReader type should verify checksums"
Tracking issue for a handful of TODO items for the `indexReader` type about verifying checksums.

[code]

[2017-08-26 15:25] mdlayher commented on #127
Is it possible to just import the fileutil package with dep without bringing in the rest of the tree?  Looks like the package provides some decent value, particularly for darwin users.

[2017-08-26 19:41] kron4eg commented on #127
@mdlayher yeah, in two steps. `dep ensure && dep prune`. Ensure will install everything, prune will remove unused sources that will not be used in build (except _test.go and non go files).

[2017-08-28 20:53] Gouthamve opened #131 "unified WAL rather than per block"
Due to large amount of lock contention, we maybe moving to a unified WAL (as well as a single in-mem datastructure rather than several head-blocks).

[code]

We just keep appending to the WAL and whenever the database chugs out a persistent block, it will call the `Truncate(mint)` function and we need to drop any old segment files and also mark the overlapping segment file so that we only read the

[2017-08-29 06:40] Jaware opened #132 "cluster mode"
it seems as if the new storage engine still does not  support cluster mode,so i have to use combination  rather than cluster to support very large programs(one platform where all the data need to be saved  together).i know you guys have worked so hard to improve  performance but cluster is a must in distributed systems。hope cluster mode will be supported in the future🙃

[2017-08-29 07:03] SuperQ commented on #132
Clustering is explicitly an anti-feature of Prometheus server's TSDB.  Clustering creates a network dependency for alerting, which is unacceptable from our perspective.

For clustering, consider looking into https://github.com/weaveworks/cortex.

[2017-08-29 10:24] fabxc commented on #131
I think we don't have to store it at all. On startup we read each segment and thereby have to compute the ranges anyway.
On any segments written afterwards, we can also compute it easily. So keeping it in memory should be sufficient.

Yea so a dump file is the easy option I think. It could just be a WAL file as well which just has serie s entries and which we give the first ordinal file name befor

[2017-08-29 10:56] Jaware commented on #132
thanks

[2017-08-29 10:56] #132 closed

[2017-08-29 21:24] SuperQ commented on #132
Yup.  Distributed systems are an interest of mine.  I would be interested in understanding your scaling needs for monitoring.

[2017-08-29 22:10] Gouthamve opened #133 "Log the delete request (with matchers) instead of tombstones."
Currently we are writing the series that are affected and their time-ranges to the WAL. But I think we can simplify WAL by logging the delete request instead of the tombstones without losing anything.

The advantage is that we will know what the delete request was instead of opaque tombstones.

@fabxc Your thoughts?

[2017-08-30 02:35] Jaware commented on #132
what if one prometheus instance  died? according to current design,you need to start it up manually,but with clusering design,the new leader or backup will take the work automatically

[2017-08-30 02:35] Jaware commented on #132
what if one prometheus instance  died? according to current design,you need to start it up manually,but with clusering design,the new leader or backup will take the work automatically

[2017-08-30 06:13] SuperQ commented on #132
That is already covered with the current H-A design.  Runing two or more parallel instances with identical configuration, there is no need for a leader as they both send alerts to the alertmanager mesh.  There are also several options for graph query failover.

None of this requires manual action.

[2017-08-30 07:23] Jaware commented on #132
really？i can not find any docs,when will this feature be ready? final release?

[2017-08-30 07:45] fabxc commented on #133
Mh, what problem's would it solve though?

 It would certainly be the more complex disk format as it introduces concepts of the query mechanism to the serialization. `IndexWriter` and `ChunkWriter` don't know anything about matchers at this point for example.
Also, `Matcher`s are an interface and people can implement their own on the client side. If we made it part the the format, it would be fixe

[2017-08-30 08:47] SuperQ commented on #132
This has basically always been a feature.  The alertmanager was originally a SPoF, but that was fixed in alertmanager 0.5.0 last year.

https://prometheus.io/docs/introduction/faq/#can-prometheus-be-made-highly-available
https://www.robustperception.io/high-availability-prometheus-alerting-and-notification
https://coreos.com/operators/prometheus/docs/latest/high-availability.html

[2017-08-30 22:45] johrstrom commented on #117
I upgraded to ```beta-2.2``` and seemed to have traded this for [issue 2955](https://github.com/prometheus/prometheus/issues/2955). I'm going to close this issue now.

[2017-08-31 02:50] Jaware commented on #132
e,the prometheus is not automatically...

[2017-09-06 17:45] igorcanadi opened #137 "headAppender.Add() produces duplicate refs for different label-sets, causing prometheus to crash"
Please take a look at the issue https://github.com/prometheus/prometheus/issues/2955 and specifically the comment https://github.com/prometheus/prometheus/issues/2955#issuecomment-327314624. Would really appreciate your help in tracking this down.

[2017-09-07 07:04] Gouthamve commented on #137
One way this could happen is when new blocks are cut. But there are changes in the `nohead` branch that should fix this.

[2017-09-07 22:11] mattbostock opened #139 "Data race in 0db4c227b between tsdb.(*headAppender).AddFast() and tsdb.(*memSeries).truncateChunksBefore()"
Apologies if this has been discussed already (it may be related to #137?) but raising an issue in case it helps with debugging.

I'm using tsdb as a library and found it would occasionally panic.

I'm able to reliably reproduce the issue against 0db4c227b by enabling the race detector on the benchmark utility, e.g.:

[code]

I'm assuming that the benchmark utility applies the appropriate locks.

I

[2017-09-07 22:25] mattbostock commented on #139
git-bisect suggests that the data race was introduced by 3901b6e70.

[2017-09-08 06:14] fabxc commented on #139
Thanks for reporting and debugging. This is likely not related to #137 as the commit you bisected to is the one presumably makes #137 disappear :) I'll dig into it in a bit.

[2017-09-08 13:32] cboggs commented on #122
Sorry to comment on a closed issue, but there's a workaround here if you'd like (until the fix is merged into P8s). This set of args worked for me when I wanted to run a tiny short-retention instance:
[code]

This way the retention period encompasses at least one block range, and thus is stops throwing the error and crashing. :-)

[2017-09-08 15:43] krasi-georgiev commented on #113
@ventris , @Gouthamve is it ok to take this one ?

[2017-09-08 15:45] Gouthamve commented on #113
There is this PR open to address this I think: https://github.com/prometheus/tsdb/pull/134

[2017-09-08 15:47] krasi-georgiev commented on #113
@Gouthamve that is against master , will it get merged to dev-2.0 as well?

[2017-09-08 15:51] Gouthamve commented on #113
Yes, this is the storage engine used by dev-2.0.

So the master of this repo (prometheus/tsdb) is vendored into the dev-2.0 of the prometheus/prometheus repo. If you are looking for issues to pick, I am happy to provide pointers for #107

[2017-09-08 15:56] krasi-georgiev commented on #113
@Gouthamve great , I will read the info and ping you if I need any pointers.

[2017-09-08 20:11] krasi-georgiev commented on #107
DIBS

[2017-09-10 16:20] mattbostock opened #143 "Support for out-of-order appends within the bounds of the head block"
I'm using tsdb as a library. I'd like my application to be able to receive out-of-order appends that are an hour or two late, for example for data received over an unreliable connection using a push method.

I think my options are currently:

a) avoid the problem within my application and require users to run another service that buffers data and re-orders it after a given grace period before send

[2017-09-11 08:08] fabxc commented on #131
This is in master.

[2017-09-11 08:08] #131 closed

[2017-09-11 08:09] fabxc commented on #123
Amount of metrics has significantly increased in master, giving detailed overviews of active series, in-memory chunks, and more. They are all available under `tsdb_*`.

[2017-09-11 08:09] #123 closed

[2017-09-11 08:16] fabxc commented on #143
Yea, so this is a bit of a tough topic. Ultimately, I think repeating all sorts of buffering elsewhere again is a bit of a pointless exercise.
I think from a library perspective it makes sense to have it even though Prometheus doesn't need/want it.

With our recent changes, we should ultimately be able to accept writes with any timestamp in general. But that's probably even an orthogonal problem s

[2017-09-11 08:41] #139 closed

[2017-09-13 09:25] timchenxiaoyu opened #145 "add vendor to this project"
some package need to download ,please add vendor

[2017-09-13 09:41] fabxc commented on #145
In general this repository is a library and not a full application. A command line tool exists but in a very early state. In general, libraries should not have `vendor/` directories in Go.

[2017-09-13 14:48] ventris commented on #113
@krasi-georgiev yes please go ahead, I haven't had the time to begin.

[2017-09-18 11:09] Gouthamve opened #148 "Add levels to logging"
Currently we just log everything irrespective of allowed level.

[2017-09-18 11:09] Gouthamve commented on #133
Hmm, I see that Matcher being an interface doesn't really allow for this. Closing.

[2017-09-18 11:09] #133 closed

[2017-09-25 14:21] Gouthamve commented on #117
This is back again? See prometheus/prometheus#3217

[2017-09-25 17:27] johrstrom commented on #117
I just installed beta.5 on Friday and let it run over the weekend, and surprisingly I didn't see it happen. If it does, I'll update this ticket (or the other). Otherwise, no news is good news.

version info:
prometheus, version 2.0.0-beta.5 (branch: HEAD, revision: )
  build user:       root@df40cc0bd79b
  build date:       20170921-16:23:04
  go version:       go1.8.3

[2017-09-26 14:58] dim opened #153 "Snapshotting doesn't include values in WAL"
Calling https://godoc.org/github.com/prometheus/tsdb#DB.Snapshot currently doesn't include values in the WAL. Shouldn't the WAL be flushed before attempting a snapshot?

[2017-09-26 14:59] dim opened #154 "WALFlushInterval option is being ignored"
I think this line should use it https://github.com/prometheus/tsdb/blob/87c01dd5fbf4f412db8599ed915e2e7c7b7ed591/db.go#L206

[2017-10-02 09:39] grobie opened #157 "series not found during head GC"
On one of our Prometheus 2.0.0-beta.5 nodes, a bunch of warn+errors were raised briefly before the head GC finished.

[code]

[2017-10-02 10:05] grobie commented on #157
This seems to be happening commonly before GC. I found it in the logs of other prometheus 2.0 servers as well.

[2017-10-03 05:29] Gouthamve commented on #148
Closed in #155

[2017-10-03 05:29] #148 closed

[2017-10-03 05:32] Gouthamve commented on #153
Hi, values that are in WAL but not yet flushed are already included in `db.head` and that data is included in the snapshot. Is there something else we are missing?

[2017-10-03 05:34] Gouthamve commented on #154
Thanks, that is a bug. Would be up for submitting a PR?

[2017-10-03 10:08] dim commented on #153
@Gouthamve thanks for getting back to me, after some more digging, it may actually snapshot the WAL data but I cannot get it to work properly to confirm. Here's my script:

[code]

When I run it, I get the following error:

[code]

This are the contents of the snapshot directory:

[code]

[2017-10-03 10:16] Gouthamve commented on #153
Thanks for the report! There were recent changes that broke Snapshots. Will take a look into this soon. /cc @fabxc

[2017-10-03 10:19] Gouthamve commented on #145
Closing this as won't fix. As said above, this is a lib and its highly unlikely we will add a vendor folder. But if you have good reasons for a vendor folder, please feel free to re-open.

[2017-10-03 10:19] #145 closed

[2017-10-03 10:20] Gouthamve commented on #102
Closed in #103

[2017-10-03 10:20] #102 closed

[2017-10-03 10:22] Gouthamve commented on #87
Closed in #108

[2017-10-03 10:22] #87 closed

[2017-10-03 10:22] #114 closed

[2017-10-03 10:36] dim commented on #154
Continuing in #159

[2017-10-03 10:36] #154 closed

[2017-10-03 12:07] dim commented on #153
@Gouthamve @fabxc added another PR in #160

[2017-10-05 04:48] Gouthamve opened #163 "TestWALRestoreCorrupted is flaking"
That test is flaking for some reason, needs investigation.

Ref: https://github.com/prometheus/tsdb/pull/162

[2017-10-05 06:41] Gouthamve commented on #127
Closed in #161

[2017-10-05 06:41] #127 closed

[2017-10-05 17:20] grobie opened #164 "Panic in indexreader"
Prometheus 2.0.0-beta.5 + HTTP accept patch + #158

[code]

[2017-10-06 07:21] BasPH commented on #107
@krasi-georgiev I want to implement some of the other suggestions, are you working on it?

[2017-10-06 08:08] Gouthamve commented on #113
Closed in #134 and #152

[2017-10-06 08:08] #113 closed

[2017-10-06 09:45] krasi-georgiev commented on #107
@BasPH not at the moment so go ahead.

[2017-10-10 15:19] grobie opened #172 "Data race in headappender and headchunkreader"
I was running a Prometheus compiled with the race detector and found this one.

[code]

[2017-10-10 15:25] grobie opened #173 "Data race in ReadWal"
Tested #168 with a race detector and found this during wal replaying.

[code]

[2017-10-10 15:27] grobie opened #174 "Data race in wal sync"
[code]

[2017-10-11 07:36] fabxc commented on #153
Can this be closed then?

[2017-10-11 07:37] fabxc commented on #164
This should be fixed. Blocks now block on closing until all readers have terminated.

[2017-10-11 07:38] #164 closed

[2017-10-11 07:38] fabxc commented on #137
This is fixed.

[2017-10-11 07:38] #137 closed

[2017-10-11 07:39] fabxc commented on #117
Underlying issue got fixed.

[2017-10-11 07:39] #117 closed

[2017-10-11 07:41] fabxc commented on #81
Instrumentation is pretty good now. Anything related to histograms/summaries around blocks doesn't really work though. The cardinality of observations is so low that the resulting graphs look practically broken.

[2017-10-11 08:08] fabxc commented on #173
Mh, lines are a slight bit off with the version I have but this seems to be pointing at `unknownRef` tracking. We are waiting for the last channel to get closed and thus all workers to have terminated. But it seems we need a wait group after all because we are incrementing that count just slightly after.

[2017-10-11 08:53] dim commented on #153
@fabxc thanks, solved!

[2017-10-11 08:53] #153 closed

[2017-10-12 15:43] #173 closed

[2017-10-12 15:43] #172 closed

[2017-10-12 15:43] #157 closed

[2017-10-13 13:27] dim commented on #174
Confirmed:

[code]

[2017-10-13 13:56] dim commented on #143
:+1:

[2017-10-16 18:18] grobie opened #177 "Data race in head garbage collection"
Prometheus built with race collector from 721050c (https://github.com/prometheus/prometheus/pull/3297)

[code]

[2017-10-17 14:01] pborzenkov opened #178 "Stale lock file prevents Prometheus start"
tsdb puts a lock file into its directory to ensure exclusive access. This lock file is pid-based (e.g. not flock() based) and this leads to the following problem:
  - lock file is created
  - node is crashed
  - prometheus boots, finds stale lock, checks PID and if such PID is already occupied (by some other program) decides that the database is locked and exits.

I believe there are two possible

[2017-10-17 14:17] fabxc commented on #178
There's an option to disable the lock file, which should often be OK if your scheduling system ensures the safety via other means. Prometheus exposes this option through a flag as well.

OS file locks were initially used, however, there's a variety of rants on how badly everything around those is broken. Plain PID lock files remain the sanest option according to my research.

Two blog posts descri

[2017-10-17 14:47] pborzenkov commented on #178
Ok, I see. Thanks!

[2017-10-19 14:22] fabxc commented on #178
In absence of a better option than no locking or a conventional lock file, I'm closing here.

[2017-10-19 14:22] #178 closed

[2017-10-20 07:48] fabxc opened #182 "GC does not respect pending readers"
After a successful compaction of a heads history, we advance its minimum timestamp `mint`. This allows to new readers to not actually access any data before that time (this should probably be validated again).
Long running readers may have been instantiated before the minimum timestamp was advanced. They may have retrieved references to series and their chunks that later get garbage collected. The

[2017-10-20 10:40] beorn7 commented on #178
Those are interesting reads, and the conclusion I can draw from it is that POSIX locks should work just fine if you use it on sentinel files, i.e. not on files with real data. Modulo NFS, of course, but that's a special case.

Were there any problems in practice with the Prometheus 1.x file locks?

[2017-10-20 10:58] fabxc commented on #178
One problem I see is that people will run Prometheus on NFS. Regardless of whether we officially support it, we shouldn't block it unnecessarily.

The other is that we are working with a bunch of files here. Some coming, some going as Prometheus runs. Getting additional management of locks over those right is complexity. What we get for that complexity, though? All those locks are advisory (both a

[2017-10-20 11:05] beorn7 commented on #178
Prometheus 1.x was only ever locking the sentinel `DIRTY` file.
By using a POSIX lock for it, we avoided exactly the problem @pborzenkov has encountered before filing this issue.

The only case where the approach didn't work is on (arguably old-ish/broken) NFS setups or other non-POSIX compliant file systems. I would have thought that the problem @pborzenkov is way more common than the problem of

[2017-10-20 11:07] fabxc commented on #178
Just edited my first response as I realized what you actually meant afterwards. That might actually be a good solution. That's not a breaking change I'd say so we can certainly improve in that direction at any point.

[2017-10-20 11:43] beorn7 commented on #178
Precisely. That's what Prometheus 1.x did. (At least in our own code. I think LevelDB did some locking on its own.)

[2017-10-24 09:39] #177 closed

[2017-10-25 15:11] beorn7 commented on #174
Still seeing this (unsurprisingly, I guess, as no fix has been attempted, if I'm informed correctly).

Wouldn't this be a release blocker? I'm not an expert of the Go execution model but isn't the basic rule that all bets are off once you have run into a data race? @fabxc ?

[2017-10-25 15:15] fabxc commented on #174
Yea, I noted it down elsewhere that it's basically attempting an fsync on a closed file descriptor. Which is 'fine' let's say because it was properly fsync'd before closing.

Kinda having the assumption here that undefined behavior in case of a race is somehow bound on the address space it's affecting, i.e. it doesn't run `rm -rf /` just because you tried to fsync a closed file.
I suppose in stric

[2017-10-26 13:52] beorn7 commented on #174
Disclaimer: I am certainly not the one to make the call about the release.

Just saying, in very general, that any weirdness we might encounter, especially "Heisenbugs", will make us think about "there is a data race, so that might explain _anything_". Since those weird things are difficult to reproduce, I would feel much better if we could rule out known races from the beginning.

[2017-10-26 14:46] fabxc commented on #174
Understood and certainly fair point. I'll look what's the most viable
option given our timeline.
I've a super dope POC of a nonblocking/lock-free WAL as well. But that's
totally out of scope unfortunately.

On Thu, Oct 26, 2017 at 3:52 PM Björn Rabenstein <notifications@github.com>
wrote:

[2017-10-30 19:07] ranbochen opened #191 "Compact failed error in windows environment"
tsdb did not close file before rename it case "compaction failed" on windows.

https://github.com/prometheus/tsdb/blob/f347eac33d3e0e9a8ab67cd12d7e99b58dd84155/tombstones.go#L43

see:
[https://github.com/prometheus/prometheus/issues/3253](https://github.com/prometheus/prometheus/issues/3253)

[2017-11-02 07:32] Gouthamve commented on #163
Not sure if I am just (un) lucky but not able to replicate the flake locally. Are people seeing this locally too?

And how can I look into travis' environment?

[2017-11-03 19:20] #191 closed

[2017-11-08 21:53] dswarbrick opened #197 "bits.Clz, bits.Ctz functions are slower than equivalents in Go 1.9 math/bits package"
Since Prometheus is typically built using Go 1.9, and it is (so far) the primary user of this (tsdb) package, it would make sense to use the faster LeadingZeros64 and TrailingZeros64 functions from math/bits.

A benchmark shows them to be roughly 7 times faster.
[code]

[2017-11-08 21:59] grobie commented on #197
I'd be fine with that. Wanna send a PR?

[2017-11-08 22:21] dswarbrick commented on #197
PR #198

[2017-11-08 23:30] jaxi opened #199 "Prometheus 2.0 can't be build on SmartOS/Solaris due to nmap undefined"
## Platform:

SmartOS

## Issue:

Prometheus 2.0.0 can't be build on SmartOS/Solaris due to nmap undefined

[code]

It certainly can't be built on solaris due to solaris is explicitly excluded in [tsdb/db_unix.go](https://github.com/prometheus/tsdb/blob/778103b45060697e8452f3d00a6e8fe1f11306da/db_unix.go#L14). At the same time, the built-in syscall package doesn't have nmmap and munmap implementat

[2017-11-10 05:18] nipuntalukdar commented on #132
tsdb seems not HA at this moment. One thing I guess we may do is to scrape the same metrics from two prometheus instances on different machines. That will make them out of sync very soon. Other option is to keep copying the latest updated chunks and wal file to some object stores like S3 or some other object storage/DB and get them back when disaster happens (this is what we are planning to do for

[2017-11-10 05:26] SuperQ commented on #132
@nipuntalukdar With the Prometheus monitoring design, perfect sync of the TSDB is unnecessary.  There is no need to keep any kind of hot spare or real-time sync.  You simply run more than one simultaneously and they all send alerts to the alertmanager which handles the de-duplication and routing.

Standard backups can be made with snapshots, as detailed in this talk from PromCon.

https://youtu.be

[2017-11-10 05:41] nipuntalukdar commented on #132
Thanks @SuperQ

[2017-11-15 08:59] jaxi commented on #199
Resolved in Ensure tsdb can be built on SmartOS/Illumos/Solaris #200

[2017-11-15 08:59] #199 closed

[2017-11-21 12:33] Gouthamve opened #208 "Move away from testify/require"
Current we have both our own utils and `testify/require` for our test assertions. Move away from require to only the util functions.

[2017-11-22 12:42] #197 closed

[2017-11-27 12:16] beorn7 commented on #174
This one can be closed, can it not?

[2017-11-27 12:19] beorn7 opened #214 "segfault panic in head.go"
Happening in Prometheus 2.0.0.

Here are the logs, including the one from the restarted server, where a WAL corruption is detected. I assume that's normal after a hard crash, just adding it for completeness.

[code]

[2017-11-27 16:48] Gouthamve opened #215 "DB misses some values when queried immediately after start"
I investigated this report by @nipuntalukdar: https://github.com/prometheus/tsdb/pull/211#issuecomment-347174740

And heres what happens, we init head, then run the compaction loop. Now before we compact the head, we set the `head.minTime` to be the min-time of the current block range: https://github.com/prometheus/tsdb/blob/master/head.go#L368

Which means there are values that are ONLY in head b

[2017-11-29 13:46] brian-brazil opened #217 "Handle partial writes in WAL"
Currently the WAL is not resilient to partial writes, and thus can be corrupted if a machine dies.

Any data written before a sync completes may only have arbitrary parts of it actually written out to disk. To contract this, the simplest solution would be after a sync to write a marker that up to this point in the WAL is good, and then sync again so that marker is written out.

@Gouthamve What we

[2017-11-30 07:31] Gouthamve commented on #217
Yes, so we do handle this: https://github.com/prometheus/tsdb/blob/master/wal.go#L1087-L1125

Any data is de-serialized only if the checksum matches and any partial write errors while reading back.

[2017-11-30 09:17] #217 closed

[2017-12-09 00:18] robfig opened #221 "Feature request: Snapshot names without colon"
Colon in a filename trips up linux tools like ssh, scp, and tar ([shockingly](http://steve-parker.org/linux/tar-colon-filename/)). As a result, writing the script to archive, copy between systems, and restore a snapshot took 3x longer than it had to. I'd propose changing the name format for snapshots to be more script-friendly

[2017-12-09 00:23] SuperQ commented on #221
Also, colon is completely incompatible with Windows.

[2017-12-09 09:21] brian-brazil commented on #221
This issue should be against Prometheus: https://github.com/prometheus/prometheus/blob/master/web/api/v1/api.go#L641

[2017-12-09 17:42] robfig commented on #221
Moved there!

[2017-12-09 17:42] #221 closed

[2017-12-10 17:19] Gouthamve commented on #208
Closed by #220. Thanks a ton @cstyan!

[2017-12-10 17:19] #208 closed

[2017-12-13 00:45] Gouthamve opened #223 "Make absent use a generated postings list | New Matcher interface"
Right now we have absent selector, which just selects all the series without that selector and then removes the series that have the label set. This is ugly and can select ALL series if the query is just consisting of absent selectors.

https://github.com/prometheus/tsdb/blob/master/querier.go#L214 and https://github.com/prometheus/tsdb/blob/master/querier.go#L483-L487

Instead can we use a genera

[2017-12-13 04:53] Gouthamve commented on #214
This looks like the following:

1. The index reader gets the chunks for a series.
2. GC kicks in a deletes some of the chunks.
3. The chunks are accessed via reference and [nil is returned](https://github.com/prometheus/tsdb/blob/master/head.go#L781).
4. We don't check if the chunk is nil and panic.

I think the simplest solution here is to check if the chunk returned is nil, and if yes, move on t

[2017-12-13 07:31] fabxc commented on #214
If that's the cause, adding an extra check seems right.

[2017-12-13 09:07] brian-brazil commented on #223
Such a selector is invalid, as it's too easy to do that by accident.

[2017-12-13 21:03] Gouthamve opened #225 "Make sure referenced chunks are not GC'ed"
https://github.com/prometheus/tsdb/pull/224 is a result of referenced chunks being GC'ed. Another place with the workaround for this: https://github.com/prometheus/tsdb/blob/f1512a368acb6e596a219f7f5322cd59bfbd4ecf/head.go#L1296-L1298

Not a trivial fix.

[2017-12-16 12:02] SuperQ opened #227 "Compaction blocks Prometheus shutdown"
When Prometheus starts a SIGTERM shutdown any in-flight compaction operations will block the shutdown.

[2017-12-19 03:20] Gouthamve commented on #225
dupe of #182

[2017-12-19 03:20] #225 closed

[2017-12-21 06:40] #214 closed

[2017-12-22 09:18] Gouthamve opened #230 "Race between append and gc path"
In the append path, when we add a sample, we store it in a.samples, which has a reference to the series the sample belongs to. Now chances are, if `head.gc()` before `Commit()` is called, we will lose the sample.

Test case to reproduce:
[code]

[2017-12-23 05:20] gouthamve opened #232 "releases for tsdb in sync with prometheus"
@TheTincho mentioned that tsdb should also have tagged releases which makes it easy for him to package. For that and otherwise, I think it makes sense to tag tsdb with every prometheus release too.

[2017-12-26 18:06] nipuntalukdar commented on #163
TestWALRestoreCorrupted sometime fails as the test routine and wal.cut method may updating the same segment file in parallel resulting in error.  Putting a sleep of around 2 seconds (hoepfully cut is done by 2 seconds) will fix the issue.

[2017-12-27 06:29] Gouthamve commented on #223
Closed by #228

[2017-12-27 06:29] #223 closed

[2017-12-27 06:34] Gouthamve opened #234 "Investigate Postings Compression"
We have large postings lists stored that are intersected for every single query, we can do better in terms of compression and intersection.

[BP-128](http://boytsov.info/pubs/simdcompressionarxiv.pdf) is a good candidate with a [Golang implementation](https://github.com/dgraph-io/dgraph/tree/master/bp128). The issue here is that a native golang implementation doesn't exist and that means it doesn'

[2017-12-27 06:35] Gouthamve opened #235 "Query and other benchmarks"
We don't have proper benchmarks yet and that means we cannot see the potential impact of the changes we are introducing.

[2017-12-27 06:37] gouthamve opened #236 "Merging of smaller-chunks during compaction"
There should be an option passed to the compactor that will let us merge smaller chunks into larger ones while compacting.

[2017-12-27 06:48] shubheksha opened #237 "Use clearer, more verbose variable names"
Using one character variable names without any context/comments makes it really hard to understand what's going on in the code. For example, consider the following block of code:
https://github.com/prometheus/tsdb/blob/07ef80820ef1250db82f9544f3fcf7f0f63ccee0/head.go#L480-L493

[2017-12-28 07:15] Gouthamve opened #238 "Align series to 8/16byte padding to increase addressable space"
https://github.com/prometheus/prometheus/issues/3190 is because we store the offset to series data in the index and we store in a `uint32` giving us only 4GB of addressable space.

To increase it, we can use an `uint64` but that would double the postings space required and compression would mean a good chunking mechanism.

Alternately, @fabxc came up with this brilliant idea of aligning the offset

[2017-12-28 09:53] shubheksha commented on #238
I'll pick this one up!

[2018-01-02 06:32] shubheksha opened #241 "Refactor `serializedStringTuples` used in the index"
Refactor the type along with its methods. Make them more readable, rename variables currently, it's confusing. https://github.com/prometheus/tsdb/blob/master/index/index.go#L929-L933

[2018-01-03 02:17] remeika opened #242 "CLI: containerize build of CLI executable"
The tsdb cli has some go 1.9 dependencies; it would be nice to have an option in the makefile to build it without any local dependencies.

[2018-01-05 07:56] brian-brazil opened #244 "Add metric for the space taken of the symbol tables"
If a user has way too many label values this could get large, so having a metric indicating the space taken would be useful.

[2018-01-05 07:58] Gouthamve commented on #244
Should this be a prometheus metric or should it be part of the tsdb/promtool cli?

[2018-01-05 07:59] brian-brazil commented on #244
A metric of the TSDB itself, as Prometheus has no knowledge of this.

[2018-01-08 19:01] simonpasquier commented on #129
This one can be closed. On master:

[code]

[2018-01-09 09:31] fabxc opened #249 "Reduce index file size caused by symbol references"
As blocks get compacted, index files currently converge towards a size 5-8% compared to a block's chunk files.
This mostly true for relatively low series churn levels. As churn increaeses, there will be fewer chunks per series and per-series overheads for postings lists and series entries become more pronounced.

Postings compression is a known topic, but improving compression of series entries ha

[2018-01-11 00:31] tnachen opened #251 "Panic when reading chunk"
panic: runtime error: index out of range
[code]
-----------

From printing I see that variable l is 0, which comes from:
l, n := binary.Uvarint(r) // l is zero

[2018-01-11 02:25] Gouthamve commented on #251
Hi, can you share how you hit this error? Anyway we could reproduce it on our end?

[2018-01-11 03:00] anarcat commented on #56
i heard there was progress about downsampling on the master branch ... can anyone clarify what the current state of affairs is here?

[2018-01-11 04:39] tnachen commented on #251
I was just running on a Select with a label equal matcher on a prometheus snapshot dataset.
One of the directory gave me this error, I have the directory but I'm not sure what's the easiest way to find out which part causes this problem. Any suggestions?

[2018-01-11 08:50] Gouthamve commented on #251
Can you share the code you ran? Also if possible upload the directory if possible?

[2018-01-11 08:54] tnachen commented on #251
It's a simple query:

q, err := db.Querier(math.MinInt64, math.MaxInt64)
        if err != nil {
                return nil, fmt.Errorf("Unable to create queries: " + err.Error())
        }
matcher := labels.NewMatchEqualer("__name__", "abc")
 set, err := q.Select(matcher)
        if err != nil {
                return nil, fmt.Errorf("Unable to select: " + err.Error())
        }

Sorry I can't up

[2018-01-11 11:53] Gouthamve commented on #182
This can also cause other issues. For example, when we call `db.Querier(from, to)` we select the blocks that have the data.

Now, if a compaction runs after the `db.Querier()` call exits, then a new block might be created and the data might be removed from `db.Head`. This new Block that is created would not be a part of the blocks selected initially.

Which means when we try to iterate and read th

[2018-01-11 13:10] shubheksha commented on #241
I'm picking this up.

[2018-01-12 05:10] Gouthamve commented on #251
Hi, this is weird and points to a corruption afaics. The chunk length is not decodable :/

[2018-01-12 05:25] #129 closed

[2018-01-12 05:45] tnachen commented on #251
I see, let me figure out where the chunk length bytes are and I can post
that. AFAIK it’s a successfully snapshot from Prometheus, and just one of
the folders has this problem.
On Thu, Jan 11, 2018 at 9:10 PM Goutham Veeramachaneni <
notifications@github.com> wrote:

[2018-01-13 06:55] #238 closed

[2018-01-13 17:48] mattbostock opened #255 "Document WAL format"
We should document the on-disk WAL format under `docs/format`.

[2018-01-14 14:12] mattbostock commented on #143
Thanks for the pointers.

I've implemented a rough sketch of how I think this might look (please ignore the hard-coded change in `head.go`):
https://github.com/prometheus/tsdb/compare/master...mattbostock:unordered

It's a new chunk type that implements the `chunk.Chunk` interface, stores raw samples in memory and compresses them `Bytes()` is called. The content of `Bytes()` is cached so that call

[2018-01-16 09:51] Gouthamve opened #260 "Isolation for writes"
Currently, when we call `app.Commit()`, we go ahead and start adding samples to the database. But now if there is a concurrent reader that is reading data, it might read some samples from the commit but not all.

This causes issues in Prometheus and has been known to make histograms falter: https://github.com/prometheus/prometheus/issues/1169

This PR is an attempt to fix it: https://github.com/pr

[2018-01-16 17:53] fabxc commented on #260
The issue with that PR was mostly that it broke apart our APIs relatively
forcefully to make it fit. I once had an attempt around that avoided this
and should in theory be a bit more memory friendly. However, that is more
than stale as well by now.

On Tue, Jan 16, 2018 at 10:51 AM Goutham Veeramachaneni <
notifications@github.com> wrote:

[2018-01-16 18:01] brian-brazil commented on #260
Isolation is a fairly core thing for a database, I'd be surprised if it didn't require a similar level of changes as what I proposed.

[2018-01-16 18:04] fabxc commented on #260
Note that the structure changed a fair bit and some things got simplified
into a single place since. That alone makes some leakage across the some
main interfaces no longer necessary.

On Tue, Jan 16, 2018 at 7:01 PM Brian Brazil <notifications@github.com>
wrote:

[2018-01-18 08:33] Gouthamve commented on #249
Only 1 is finished. 2 and 3 still remain.

[2018-01-20 08:30] WuLeeX commented on #21
Any updates on this？

[2018-01-22 13:48] dim opened #263 "Missing chunks on opening DB"
We have embedded tsdb in one our apps. After restarting, we tend do see a lot of these:

[code]

I have looked through the code but I am not able to pinpoint the issue. Do you have any idea why some blocks have a `chunks` dir and others don't?

[2018-01-23 06:16] Gouthamve commented on #263
Hi, are you running NFS or some other networked filesystem? We delete the whole directory at one: https://github.com/prometheus/tsdb/blob/master/db.go#L514-L516 and hence it should not be possible for the directory to exist but not the chunks.

[2018-01-23 09:52] dim commented on #263
@Gouthamve sorry, I think I have found the issue on our end. My apologies.

[2018-01-23 09:52] #263 closed

[2018-01-24 13:02] dim opened #264 "Panic on compaction"
I'm seeing a series of panics on our logs related to compaction. Here's the full trace:

[code]

It looks like it's happening in the line below when `indexw` is `nil` and `index.Version` panics:

[code]

[2018-01-24 14:58] #264 closed

[2018-01-25 13:15] gouthamve opened #266 "Clean Tombstones doesn't remove data from HeadBlock"
https://github.com/prometheus/prometheus/issues/3728 is because of this.

[2018-01-25 16:06] pavolloffay opened #267 "Reuse tsdb in Jaeger project"
Hi,

I am investigating whether this storage could be reused in [Jaeger project](https://github.com/jaegertracing/jaeger). We are looking for a local storage and this could be a nice opportunity to reuse the same component between CNCF projects.

Jaeger stores data called spans, a simple but complete example is here:
[code]

We need to query by:
* Time range
* Labels - key value pair
* Service nam

[2018-01-26 14:21] pavolloffay commented on #267
We would like to do the work, but we need to find out whether it makes sense to do it and if there is an interest in this community.

cc @fabxc @Gouthamve

[2018-01-26 15:43] nipuntalukdar commented on #267
@pavolloffay are you trying to distributing tracing of events across services? Looking at the event structure, I guess Elasticsearch/Solr/Mongodb may be more helpful.  You get very good lookup/aggregation features and both HA and scale. Also, they have support for "nested" documents/ arrays etc.  Did you check Zipkin for request tracing, is that not addressing your requirement?

Also, looking at t

[2018-01-26 17:19] brancz commented on #267
Sorry we're currently very busy with some performance regressions in Prometheus that we're taking care of, we haven't forgotten you! :slightly_smiling_face: It will take some considerations from our side, and one thing that we can say for sure is that the tsdb interface will still break. We may be able to comment in more depth some time next week.

[2018-01-28 16:19] Gouthamve commented on #251
@tnachen, any updates on this?

[2018-01-29 07:40] fabxc commented on #267
The idea of storing non-metric data in TSDB has come up and seems feasible to a degree. Currently the top-level API's rely on samples having float64 values. But nothing generally prevents generalization and coming up with chunk encodings for other data types.

The query-able properties can be mapped fairly well to arbitrary labels and reserved labels (similar to our metric name). A time range may

[2018-01-29 18:02] sipian commented on #244
If there is no one working on this, I would like to take this issue up.

[2018-01-30 18:47] sipian commented on #244
In index/index.go there is a function,  `func (r *Reader) SymbolTable() map[uint32]string`

Based on my understanding, to get the symbol table size we are supposed to call this function and get the total size of the `map[uint32]string`. For map total size, I found [this](https://stackoverflow.com/a/31855111/5730790) reference

Is this the correct direction in solving this issue?

[2018-01-31 06:44] cstyan commented on #249
@fabxc where are symbols intially ingested and then stored to the index symbol table? From what I see that the sorting itself only happens during compaction `populateBlock` as that's where we call `IndexWriter.AddSymbols()`.

I think we can just change `func (w *Writer) AddSymbols(sym map[string]struct{}) error` to `func (w *Writer) AddSymbols(sym map[string]int) error` and then sort in descending

[2018-01-31 06:48] Gouthamve commented on #249
https://github.com/prometheus/tsdb/blob/master/head.go#L625-L648 This would be one spot to change it.
https://github.com/prometheus/tsdb/blob/master/head.go#L917-L918 Would be the other.

[2018-01-31 06:51] cstyan commented on #249
Thanks @Gouthamve!

the comment on https://github.com/prometheus/tsdb/blob/master/head.go#L625-L648 was a bit confusing, rebuild makes me think this is after we had already started tracking the labels, but reading the whole function I think this is when take a portion of head and write it to disk? I should reread the google doc so I understand what `postings` is :)

[2018-01-31 06:57] Gouthamve commented on #249
So what `gc()` does is, once the compaction is done, it will find old series and chunks in memory that can be removed and removes them. Now that older series have been removed, we rebuild the symbol table so that only active symbols exist.

[2018-02-01 16:38] brian-brazil commented on #244
Either in-memory or disk works, they're both basically the same size.

[2018-02-02 17:43] pavolloffay commented on #267
@fabxc thanks for the comment. I have some responses "inline".

I think we don't have to index by duration, it could be done in the service layer.

For metrics, each index-able property, i.e. label dimension, also implies identity. So samples with any different label will never end up in the same chunk. Indexing the duration (by bucket) would probably break this.

Spans in a chunk are definitely r

[2018-02-04 16:55] brian-brazil opened #274 "prometheus_tsdb_compaction_duration should have _seconds unit"

[2018-02-05 08:36] #274 closed

[2018-02-08 01:19] cstyan commented on #249
how do we want to handle reading the symbols back in via `IndexReader`, since we're changing the sorting to be by frequency, do we care about preserving the # values we're using for that sorting when we store the symbols?

[2018-02-08 06:47] shubheksha opened #279 "Add a method for getting all label names"
This has to be implemented in the Querier, like https://github.com/prometheus/tsdb/blob/master/querier.go#L34-L35.
It's needed to implement https://github.com/prometheus/prometheus/issues/2038.

[2018-02-08 06:54] Gouthamve commented on #279
We have the info in `reader.labels` map. We can just check for the separator and if there is none, add it to the list.

[2018-02-08 06:59] Gouthamve commented on #104
Closed in: https://github.com/prometheus/tsdb/pull/226

[2018-02-08 06:59] #104 closed

[2018-02-09 17:00] pavolloffay commented on #267
@fabxc I have a very small POC using p8s indexing with Badger. https://github.com/jaegertracing/jaeger/compare/master...pavolloffay:local-storage?expand=1#diff-f723fa9a3c8f6dedb7c9cd05f2f14cdbR53

At the moment I am using `MemPostings`.  Is there a way to store this struct? For example load the index into memory at start time and store at shutdown.

The last open parts are:
* indexing by duration

[2018-02-20 15:58] mattbostock opened #284 "Data race between chunkenc.(*xorAppender).Append() and chunkenc.(*XORChunk).NumSamples()"
Found at 494acd3 by running:

[code]

Go version: `go version go1.10 darwin/amd64`

`chunkenc.(*XORChunk).NumSamples()` is reading from the `bstream` byte slice (via `binary.BigEndian.Uint16()`) at the same time that `chunkenc.(*xorAppender).Append()` is writing to the same buffer (via `binary.BigEndian.PutUint16()`).

Stacktrace:

[code]

...and related:

[code]

[2018-02-21 18:04] krasi-georgiev commented on #284
DIBS :)

[2018-02-23 09:26] sipian commented on #279
Is there anyone working on this issue? If not I would like to take this up.

[2018-03-06 17:44] krasi-georgiev commented on #242
@Gouthamve this seems abandoned so can close and reopen if needed?

[2018-03-13 09:00] Gouthamve commented on #242
Yep, the current CLI is not going to be used for anything beyond development for now. When we have proper user-facing use-cases, we will probably revisit this.

[2018-03-13 09:00] #242 closed

[2018-03-15 15:53] brian-brazil opened #305 "Benchmarks are failing"
All of the benchmarks in this repo are failing, it seems files needed in the testdata directory were removed at some point,

[2018-03-22 11:55] bwplotka opened #309 "compact/write: Don't write down empty blocks (?)"
I had no samples for a while in my Prometheus (because of wrong scraping configuration?). TSDB dumped empty block into my disk which looks like this:
[code]
Meta file:
[code]
This causes some tiny problems in [Thanos](https://github.com/improbable-eng/thanos) that we need to workaround, but my main questions are:
1) Have you seen that before? How often can that happen?
2) **Is that necessary to pr

[2018-04-03 06:46] gouthamve commented on #309
Even I think that writing empty blocks can be removed.

See: https://github.com/prometheus/tsdb/pull/245

[2018-04-04 10:13] gouthamve opened #313 "Downsampling, a la Thanos"
The downsampling in Thanos is really interesting: https://youtu.be/l8syWgJ98sk?t=1392

@fabxc Do you think it makes sense to upstream this and also make Prometheus use this?

/cc @brian-brazil

[2018-04-04 10:29] gouthamve commented on #313
Hmm, but reduction in CPU and query time improvements? At what scale do you think the benefits start to show?

[2018-04-04 10:34] SuperQ commented on #313
I feel like it would be useful to have downsampling in the tsdb directly.  But I also agree with @fabxc that it's a little soon for this integration.

[2018-04-04 10:45] fabxc commented on #313
Benefits start to show once your retention becomes so long that you'd
rather consider it long-term storage. In which case Prometheus itself is
not the answer.

On Wed, Apr 4, 2018 at 12:34 PM Ben Kochie <notifications@github.com> wrote:

[2018-04-04 11:57] brian-brazil commented on #313
I agree with @fabxc that this doesn't make sense for Prometheus and thus the TSDB.

[2018-04-16 11:42] iksaif opened #317 "WAL log samples: log series: write metrics/wal/000315: file already closed"
This is something that happens when the disk is full. The caller should probably have a proper health check for that, but it's another story(https://github.com/prometheus/prometheus/issues/3283). tsdb should certainly not try to write to an already closed file.

This must come from:
https://github.com/prometheus/tsdb/blob/b7173eb0e5558c720ec4c939af7e803d38aa1cce/wal.go#L763 and the fact that in ht

[2018-04-17 07:57] krasi-georgiev commented on #317
Thanks for the nice pointers. I will check this bug.

[2018-04-17 09:25] krasi-georgiev commented on #317
I can't seem to replicate it.

[code]

<details><summary>prom config</summary>

[code]

</details>

[code]

[code]

at this point prometheus starts and works as expected on the disk that has enough disk space.

[2018-04-17 10:03] iksaif commented on #317
Sorry, I missed an important part here: the issue is that once you've had ` no space left on device` once, it will become `file already closed` the next time, which is confusing for the administrator.

If you set `cur` to `nil` just after closing the file, the error will keep making sense.

[2018-04-17 10:16] krasi-georgiev commented on #317
I must be doing something different as my logs never show `file already closed`

[2018-04-17 10:33] krasi-georgiev commented on #317
yep , got it and replicated. will test your suggestion and will open the PR.

[2018-04-18 07:45] krasi-georgiev commented on #227
@SuperQ  Looking at the code this shouldn't happen. I am trying to replicate it.
Do you remember how did you run it and maybe a config file?

[2018-04-18 07:51] SuperQ commented on #227
This was for Prometheus 2.0, so it's possibly been fixed since then.

[2018-04-18 08:39] krasi-georgiev commented on #227
do you want to try again or shall we close this?

[2018-04-18 08:42] SuperQ commented on #227
I still need to upgrade our production servers from 2.0.0 to 2.2.1 to see if I can still reproduce the problem.

[2018-04-18 08:56] krasi-georgiev commented on #227
Thanks , let me know what happens , preferably with steps to reproduce.

[2018-05-07 08:52] AlekSi commented on #313
Duplicate of #56.

[2018-05-07 11:13] gouthamve commented on #90
This should be relatively straightforward from what I can see. For us, [BlockReader](https://godoc.org/github.com/prometheus/tsdb#BlockReader) is an interface and we need to make sure the overlapping blocks turnout to be a single block of that interface.

What we essentially want is I hope clear from the following pictures:
<img width="718" alt="screen shot 2018-05-07 at 1 00 45 pm" src="https://u

[2018-05-07 11:39] gouthamve commented on #90
From IRC, @brian-brazil on the semantics:

We can do the same thing mentioned above, but, we delete the data that is overlapping in the existing blocks in promtool when inserting data using promtool. Little more work, but we can start with the proposal above, and then when integrating with promtool, implement the deletes.

[2018-05-07 15:56] krasi-georgiev commented on #313
Seems we can close this for now?
@Gouthamve

[2018-05-08 06:35] Bplotka commented on #90
I can see on IRC that the main question about this issues is "why we need that", can we enumerate the use cases, before starting to designing this?

For me this issues is also about the assumptions taken by compaction. Basically, I would love to have compactor be resilient on eventual storage write-read consistency. Why? Because so far it produced major release issue for 2.2.0 as well as major com

[2018-05-09 11:06] free opened #328 "SeriesIterator.Seek() is vaguely defined"
Context: I was looking into cleaning up the iterator code, as I'm trying to add a separate `SeekBefore()` method, that would return the value at time `t` as defined by Prometheus without always parsing and iterating over a whole chunk covering the previous 5 minutes (when the looked up value is toward the beginning of a chunk).

However, I ran into some issues regarding how chunked series and iter

[2018-05-09 13:31] gouthamve commented on #328
Hi, thanks for taking a look! You've made some really valid points!

1. Yes, `mint` and `maxt` are hard limits and if return values out of that range, it is a bug. I think we are lucky so far because prometheus also does some filtering, but we should definitely fix them in tsdb.

2. `Seek` should only seek forward and we should not allow it to seek backwards in the same chunk.

3. `Seek` need not

[2018-05-09 14:01] free commented on #328
PR coming up soon (still have some documentation to go through).

Regarding question (4) though, my example might not have been the best. What I am worried about is that one might request a `chunkedSeries` that covers the past 10 minutes and then `Seek()` for the value 12 minutes ago: due to the `mint` limitation the result will be from the past 10 minutes, even though other samples might exist be

[2018-05-09 14:14] free commented on #328
Oh, and about `SeekBefore()`, the idea is to find the last value at or before time `t`, not to seek backwards.

Currently the way the instant value of a series at time `t` is retrieved is to do a `Seek(t - 5min)` and then iterate forward, caching all values on the Prometheus side and use that cache to find the last value. This is inefficient (particularly with high resolution data) because `t - 5m

[2018-05-09 15:30] free commented on #328
Anyway, created PR #329 which attempts to fix (1), (2) and (3).

I also see (4) as an issue, as well as what `At()` should do when called either before `Next()`/`Seek()` or after they have returned false. But I leave that decision up to you guys.

[2018-05-15 07:25] #305 closed

[2018-05-15 07:31] krasi-georgiev commented on #56
closing in favour of the more recent discussion in  #313

[2018-05-15 07:31] #56 closed

[2018-05-15 07:47] krasi-georgiev commented on #90
I can work on this once we define the why/what/how
@gouthamve waiting for your input :pray:

[2018-05-15 08:32] krasi-georgiev commented on #107
- [x] [ls](https://github.com/prometheus/tsdb/blob/2aae939d6cbebac9e4ad7324287bb9a6bd135d13/cmd/tsdb/main.go#L48) that gives a tabular view of blocks and info about them
- [x] [Scanning tool](https://github.com/prometheus/tsdb/pull/320) that checks for corruption and reports on which sections in which file are affected
- [ ] Doing compactions on blocks offline
- [ ] Getting info about values for l

[2018-05-15 10:36] krasi-georgiev commented on #107
please share use cases and I can implement the remaining ideas that would be useful.

[2018-05-15 10:45] FUSAKLA commented on #107
I'd like to take a look at dumping of blocks to human readable data for debugging once I'll get to it.

[2018-05-15 11:04] krasi-georgiev commented on #107
sure , just don't forget to discuss how/why would this be useful to get some feedback before starting the design.

[2018-05-16 09:06] krasi-georgiev commented on #90
just watched @gouthamve's video that add add another use case - back-filling
https://youtu.be/0UvKEHFNu4Q?t=1219

[2018-05-16 10:25] fabxc commented on #90
I'd think in general handling this at query time first will be by far
sufficient. Compaction adds lots of attack surface for data loss and
regressions and we don't have a use case where we'd be dealing with high
fragmentation.

On Wed, May 16, 2018 at 11:06 AM Krasi Georgiev <notifications@github.com>
wrote:

[2018-05-16 11:45] Bplotka commented on #90
Yea, but we need to make sure compaction does not add regression when you put overlapping blocks. Currently, with overlap check we added, we just block it. It is not safe to just unblock compaction in the current form.

[2018-05-22 17:54] SuperQ opened #333 "Change WAL aging method"
The current WAL compaction interval happens based on [epoch time](https://github.com/prometheus/tsdb/blob/master/db.go#L809-L812).  This causes all Prometheus servers to write out blocks synchronized at the same time.

For large clusters, this can cause a thundering herd of IO, especially with something like Thanos writing to a bucket storage.

It would be better to track the age of the WAL, and "

[2018-05-23 10:58] beorn7 commented on #333
On the other hand, the aligned block boundaries are extremely handy when  stitching together blocks from different servers. I'm using this regularly (and I assume it was @fabxc 's original motivation to align the block boundaries).

[2018-05-23 11:10] brian-brazil commented on #333
Yes, we decided to trade simplicity against simultaneous load increases on different servers.

[2018-05-23 11:44] fabxc commented on #333
@SuperQ is this a theoretical concern or did you run into any issues in production? What we know so far, IO to write out initial blocks is very small.
I suppose Thanos could jitter its uploads quite a bit – it's not latency sensitive at all in that regard.

[2018-05-23 11:45] krasi-georgiev commented on #333
I don't quite understand this , looking the at code there is no compaction for the WAL.
@SuperQ did you mean block compaction?

[2018-05-23 11:50] SuperQ commented on #333
@fabxc Theoretical concern at this point.  It should be minimal, but I like to avoid these kinds of distributed systems issues where possible.

@brian-brazil Based on what @juliusv said, merging blocks like that would be fragile, as a small time skew between two servers would cause block overlap, which is supposedly not good for the TSDB.

[2018-05-23 11:55] SuperQ commented on #333
Part of why I would like this is to simplify the 1.x local storage to TSDB migration.  By aligning the TSDB wal with start time of the server, rather than epoch, I can do a more clean background upgrade by doing this procedure:

* Shutdown Prom v1
* Startup Prom v2 with clean data dir
* Background run the storage migrator
* Shutdown Prom v2
* Move migrated blocks into place
* Restart Prom v2

[2018-05-25 13:29] Bplotka commented on #90
Any ideas for this? It is blocking: https://github.com/improbable-eng/thanos/issues/348

[2018-05-27 23:37] codesome commented on #107
@krasi-georgiev @FUSAKLA

I plan to add new features to TSDB CLI in my GSoC (Section 4.5 in my [proposal](https://docs.google.com/document/d/1aB5zGkhrLdWOT6RHhMA2Qd08T-puwlhcnTbjBP3fkx4/edit?usp=sharing)). I will be discussing the design with the team soon. I am surely open for suggestions.

[2018-05-28 10:33] krasi-georgiev commented on #107
I haven't looked thoroughly , but I think that the duplication can happen at the end when we write to disk so should be a worry for introducing bugs.
It seems that in most issues users can replicate the bugs so enabling debug mode should help in most cases

To be honest I don't like either idea, but can't think of anything else at the moment.

@brian-brazil Do you have any other ideas?

[2018-05-28 10:41] brian-brazil commented on #107
If we ask a user and they aren't willing initially share, we could sort out an NDA of some form for the sake of debugging - but I imagine many users would be willing to share data privately without that.

[2018-05-28 12:28] krasi-georgiev commented on #107
Out of 4-5 issues I have been trying to resolve only @mysteryegg shared the data privately, but I would be interested to hear more opinions if there might be a better approach.

@brian-brazil the NDA might help so I will suggest it to the users in the next issue.

[2018-05-28 13:46] krasi-georgiev commented on #107
@codesome any other item in the list seems equally important so just pick one and get to work :+1:
happy to review a PR.

[2018-05-28 14:34] codesome commented on #107
@krasi-georgiev Sure. Currently I am tackling couple of other issues. I will get to this once I am done with them.

[2018-05-28 19:28] fabxc commented on #313
I'd propose closing this. There are different ways to approach downsampling – none of them is universally better than others. I see no way for providing a canonical solution here.

[2018-05-29 11:35] olegtikhonov opened #336 "magic number of tombstones in readme"
Hi, please correct the magic number of tombstones in tsdb/docs/format/tombstones.md
instead of being a magic(0x130BA30) to be a magic(0x0130BA30)

[2018-05-29 19:14] fabxc opened #338 "Support file locking for Windows"
The current file locking implementation is effectively a noop on Windows.

[2018-05-30 07:14] #313 closed

[2018-05-30 07:14] gouthamve commented on #313
Agreed.

[2018-06-11 12:52] bwplotka opened #346 "[feature request]: Implement Flush method."
Hello TSDB folks!

We are chasing for a safe solution to quickly "terminate" Prometheus server without losing any monitoring data stored in memory (and WAL). By terminate, we mean killing whole instance, including potential persistent disk. We use [thanos](https://github.com/improbable-eng/thanos) for uploading the blocks that are in `tsdb-path` blocks into object store, so we would like to dump i

[2018-06-11 12:53] Bplotka commented on #346
CC: @domgreen

[2018-06-11 13:33] krasi-georgiev commented on #346
IIUC the problem is the pending WAL right?
why not just add this to the tsdb cli tool - read the WAL and make a block out of it.

Otherwise about the Flush method wouldn't this suffer the same problems as the snapshots and maybe cause some other race conditions.
 - What if another compaction gets triggered at the same time?
 - What if the WAL gets truncated at the same time as flush is called?

[2018-06-11 13:34] krasi-georgiev commented on #346
or you meant the Flush point will be run after Prometheus is shutdown?

[2018-06-11 13:47] brian-brazil commented on #346
I agree, this is best handled by shutting down Prometheus and then working with the data.

[2018-06-11 14:08] Bplotka commented on #346
hmm, but with just shutting down Prometheus we don't have the data from memory in a form of a TSDB block. And when we do `Snapshot` right before a shutdown, there still might be the race between what snapshot gives us as "head block" and Prometheus writing some block just before shutdown potentially.

[2018-06-11 14:09] Bplotka commented on #346
@krasi-georgiev I mean rather `Flush` that will write what it has and continue working.

[2018-06-11 14:10] Bplotka commented on #346
There won't be any since Flush (that truncates head) is synchronized with compaction.

Again, this is synced, but in the worst case flushed TSDB block is super tiny (which is not perfect, I agree)

[2018-06-11 14:11] Bplotka commented on #346
Or ... @brian-brazil @krasi-georgiev there is some TSDB CLI tool that gives me TSDB block from WAL file somehow after Prometheus termination? :thinking:

[2018-06-11 14:30] krasi-georgiev commented on #346
I was refering to this one.
https://github.com/prometheus/tsdb/tree/master/cmd/tsdb

[2018-06-11 14:38] Bplotka commented on #346
yea, adding some logic that understands WAL file and is able to write block from it, maybe solves this.

[2018-06-11 15:29] domgreen commented on #346
@krasi-georgiev I take it this means we would want to have Prometheus shutdown and call `WAL.Close()` to flush the head. Therefore, all data in memory is now in the WAL which we can turn into a block for upload.

To then ensure that we do not upload multiple blocks would we need to clear / delete the contents of `/wal` after we create the block?

[2018-06-11 15:34] krasi-georgiev commented on #346
I will wait for the [Scan PR](https://github.com/prometheus/tsdb/pull/320) to be merged and will add this next.

[2018-06-11 15:51] domgreen commented on #346
So for our use case we would end up doing something like the following:

[code]

However, if we added `/admin/tsdb/flush` via admin API it would allow us to flush the head/wal to a block and not have to mark the pod as dirty which would be beneficial to scaling up / down instances.

With either approach there is some work to be done the main benefit of exposing it as an API is that the instance co

[2018-06-11 15:52] krasi-georgiev commented on #346
I just checked the code again and everything that is in the HEAD is added to the WAL at the same time.
https://github.com/prometheus/tsdb/blob/c848349f07c83bd38d5d19faa5ea71c7fd8923ea/head.go#L526-L530

I think at the moment the only way would be to shutdown Prometheus so it closes the WAL and than you convert it to a block , but there is also a PR that should allow doing this while the TSDB is in

[2018-06-11 16:15] krasi-georgiev commented on #346
IIUC the  problem is not how to take the current data as snapshoting is perfect for that, but how to leave prometheus running while  making sure that no block changes happen locally (due to compaction or WAL truncation) during thanos uploads the snapshot?

[2018-06-11 16:25] domgreen commented on #346
Correct, I thought taking `db.cmtx.Lock()` and `db.mtx.Lock()` may have allowed us to do this.

In an ideal world we would remove targets from Prometheus and upload blocks before scaling down the statefulset (after a given duration) however, if we get more targets and need to scale up during that window it would be better to use this empty Prometheus (which we just flushed) rather than wait for sc

[2018-06-11 16:35] krasi-georgiev commented on #346
even if you lock the DB than it will be released as soon as you finish with the snapshoting so compaction or new blocks can happen right after that.
what you need is some /admin/freeze ,  /admin/unfreeze  api :stuck_out_tongue_winking_eye:

P.S. use cases help me learn a lot as well so glad to discuss.

[2018-06-11 17:34] Bplotka commented on #346
Hm.. can we dig this actually? is that really wrong? With our proposed `flush` flow you just flushed the HEAD block into TSDB block and truncate it from memory. So it does not matter what happens after flush, does it?

My only worry is that you end up with block not equal to 2h, but that is up to admin I think.

[2018-06-11 21:24] krasi-georgiev commented on #346
I must be missing something than , what is the difference between the current snapshoting and your idea for flush?

[2018-06-12 07:33] BenoitKnecht opened #347 "Blocks can contain chunks that go past MaxTime"
I've been investigating improbable-eng/thanos#354, and I think I've finally identified what's going on.

The issue came up because Thanos checks that all the chunks in a block are between `block.MinTime` and `block.MaxTime`, but in some circumstances, it detected chunks with `block.MaxTime < chunk.MaxTime`. Those chunks also happened to satisfy `block.MaxTime == chunk.MinTime`, which we'll see is

[2018-06-12 07:36] BenoitKnecht commented on #347
In order to check for blocks with "outsider" chunks, I use this script:

[code]

[2018-06-12 09:01] domgreen commented on #346
Hey @krasi-georgiev , so from my understanding of how tsdb persists to disk I will try to outline why I think snapshotting is a solution but not the best solution for what we are trying to achieve.

Please correct me if I am missing something I am new to the tsdb code and operations 👍 and sorry if this is already all obvious and I'm explaining the wrong thing :)

Aim - Auto scale scrapers but allo

[2018-06-12 09:16] brian-brazil commented on #346
I'm not seeing how this is adding anything that can't be done with the current shutdown and snapshotting. This seems like a microoptimisation.

[2018-06-12 09:43] Bplotka commented on #346
With `flush` it will be bit cleaner without special logic on our side and safeguards.
For example `snapshot` -> `shutdown` -> `remove WAL` -> `start again` would work, but there might be still race condition between end of snapshot and shutdown.

I think we are up to the idea of extending `tsdb cli` to be able to make post-death snapshot with head block. That will solve our issue I think.

[2018-06-12 09:44] domgreen commented on #346
hey @brian-brazil maybe I think @Bplotka just cleared up my confusion with the shutdown / snapshotting approach 👍 I agree that flush is an optimisation 😄

My confusion was all around the assumption if we shutdown and start the wal will be read on startup and we still get overlapping blocks. If we remove the contents of `/wal` and restart then we should be okay to drain.

[2018-06-12 09:45] domgreen commented on #346
Agreed, if we can get a flush in tsdb cli as @krasi-georgiev suggested earlier in the thread that would mean we can work around all race conditions and correctly drain a instance.

[2018-06-12 22:05] Bplotka commented on #347
@fabxc I think this issue is actually a real root cause for this: https://github.com/improbable-eng/thanos/issues/183

[2018-06-13 08:17] Bplotka commented on #346
Yea, not safe area I would say (:

[2018-06-13 09:35] BenoitKnecht commented on #347
@Bplotka Sorry, I didn't see your message before submitting my PR. Feel free to comment on mine or open a separate one with your fix, if you think it's appropriate.

[2018-06-13 10:01] krasi-georgiev commented on #346
you would be the first user so you have the privilege to say how you want this implemented.

[2018-06-13 10:05] Bplotka commented on #347
No no, it super nice you added yours, because I tried totally different approach and not sure which one is better.
Initially, I wanted in [`Chunk(ref)`](https://github.com/prometheus/tsdb/blob/master/head.go#L722-L753) to put:
[code]
But this is not ideal either, because technically when you are asking for `0-10` range you want `10-20` chunk as well kind of, because still sample `t=10 v=...` is wi

[2018-06-13 10:09] brian-brazil commented on #346
We need to consider things beyond what the first user requests. I would not expect that a "flush" method would break my Prometheus.

[2018-06-13 10:28] Bplotka commented on #347
OK I missed the fact that actually chunks are cut in the way that it makes sure that they don't cross boundaries. So we could potentially do as in proposed PR: https://github.com/prometheus/tsdb/pull/348 Commented there why I think it might be risky. Maybe we should add proper handling on compaction instead?

[2018-06-13 13:00] krasi-georgiev commented on #346
the final idea is that this will go in the cli tool and I hope this can be implemented without any code changes on the tsdb side.

[2018-06-13 22:29] domgreen commented on #346
Exactly why I think the `tsdb cli flush` should remove the WAL once its turned it into a block so that its not read again on next startup.
I'm actually happy to take a look at this once I've finished what I'm currently working on, which should hopefully be done by start of next week.

[2018-06-13 23:37] krasi-georgiev commented on #346
@domgreen that would be great.
ping me before you start as I might also find time to give it a try.

[2018-06-14 06:13] brian-brazil commented on #346
That'll break Prometheus, as you've now an incomplete block lying about so when you start up Prometheus again the next block creation will fail.  You could snapshot that data, but a "flush" should not be a destructive nor breaking operation.

[2018-06-14 11:08] Bplotka commented on #347
@BenoitKnecht , @krasi-georgiev  was asking really good question, why blocks are overlapping actually. We need to know the answer why, and if changing blocks to actually be milisecond away breakes anything. @krasi-georgiev is right is our attempts to fix it are only workarounds... ):

Any ideas? @fabxc do you remember why blocks vs chunks range inconsistency? and is it safe to make blocks like chu

[2018-06-14 16:04] BenoitKnecht commented on #347
Yes, that's how I intended to fix this issue initially. It makes things much easier in tsdb, because all intervals would be treated the same way (see https://github.com/prometheus/tsdb/pull/348#issuecomment-396918631) . But I was told that treating blocks as `[a, b)` intervals was intentional, so I reworked the PR based on that.

I'm happy to revert to the initial implementation though, if the con

[2018-06-14 17:22] Bplotka commented on #347
I think we should merge your PR to actually fix duplicated chunk bug and aim for fixing inconsistency or figuring out why is that the case as next steps

[2018-06-26 12:08] antonio commented on #263
@dim would you mind sharing what the problem was? I'm also seeing this problem so maybe you can point me in the right direction. Thanks!

[2018-06-26 12:37] dim commented on #263
@antonio sorry, that was too long ago and I simply cannot remember. in the end, we switched away from tsdb to a different solution because of other issues

[2018-06-28 12:01] brian-brazil opened #355 "Series created in an appender that is rolled back never written to WAL"
Series creation is a side-effect of an appender, even when rolled back. However we only commit them to the WAL when an appender is commited. Any future references to such a series would fail to be read back at startup.

[2018-06-28 13:12] #355 closed

[2018-07-05 10:54] #347 closed

[2018-07-05 16:32] krasi-georgiev opened #359 "replace merr MultiError with errors.Wrap..."
I think the MultiError can be replaced with errors.Wrap to make it consistent with other parts of the code.

[2018-07-05 16:43] krasi-georgiev opened #360 "remove the initAppender and just use the head appender with some initiallizator"
the `initAppender` seem unnecessary step when all we need is `a.head.initTime(t)` at the first `appender.Add()` which should be able to implement directly in the head appender with some bool - `isInitialized` or similar.

[2018-07-05 19:21] fabxc commented on #359
Could you provide an example? The functionality seems quite different

On Thu, Jul 5, 2018, 6:32 PM Krasi Georgiev <notifications@github.com>
wrote:

[2018-07-06 09:03] fabxc commented on #360
That is trading of a single check when instantiating the appender for thousands of checks for every single sample.
Most likely it won't matter at all (branch prediction or negligible cost in general). But performance should be verified regardless.

[2018-07-06 14:46] krasi-georgiev commented on #360
thanks for the feedback
wouldn't we  still have a  single `if` in both cases?
`if a.app != nil {...`
vs
`if initilized == false {...`

[2018-07-06 23:16] dhbarman commented on #157
Which version of prometheus will have the fix ? While closing the bug, some comment should be added.

[2018-07-09 18:29] dhbarman opened #361 "Errors in prometheus server logs"
Prometheus raised an alarm because metrics were not available in a node. Looked at the logs. Observed the following messages followed by GC collection around that time.

prometheus --version
prometheus, version 2.2.1 (branch: HEAD, revision: bc6058c81272a8d938c05e75607371284236aadc)
  build user:       root@149e5b3f0829
  build date:       20180314-14:15:45
  go version:       go1.10

level=debug

[2018-07-09 19:13] krasi-georgiev commented on #361
thanks for the report.

what are the steps to reproduce?

[2018-07-10 02:17] dhbarman commented on #361
Could you elaborate what issue was addressed through this ticket ?
https://github.com/prometheus/tsdb/issues/157

We observe this in our prometheus server logs. The server scrapes a few prometheus end-points for metrics. The end-points generates hundreds of thousands of metrics. The server runs in a docker container. We have alarms and recording rules configured.

[2018-07-10 11:32] krasi-georgiev commented on #361
@fabxc do you recognise the cause for these errors?

[2018-07-10 20:25] vtolstov opened #362 "draft comparison of tsdb vs clickhouse"
Hi! I need to store metrics from libvirt vm - cpu,memory,network,disk stats:
* 24 hours - each minute metrics
* 1 month - each hour sum of metrics
* 6 month - each day sum of metrics

each hardware server have 100-200 vm, each dc have 100 hardware servers (10000-20000 vm in sum)

does it possible to store this metrics in tsdb and how to determine size for files?

and can you compare tsdb vs clickh

[2018-07-19 12:00] roidelapluie commented on #21
I observe that behaviour too after arn early restart of prometheus

[2018-07-19 12:01] roidelapluie commented on #21
Jul 19 13:59:50 nip-prometheus1 prometheus[27159]: level=warn ts=2018-07-19T11:59:50.793064439Z caller=head.go:320 component=tsdb msg="unknown series references in WAL samples" count=84

[2018-07-19 12:02] roidelapluie commented on #21
I have an impact as some recording rules do not have the correct timestamp it seems. Like they are delayed by a few minutes.

[2018-07-23 16:03] krasi-georgiev commented on #21
Initially I thought that this is caused by more than one prometheus writing to the same data folder, but @brian-brazil found some parts of the code that are more likely to cause this.
https://github.com/prometheus/tsdb/pull/332#discussion_r195148633

It is best to get the WAL rewrite merged and than work on this bug after.

[2018-08-13 09:03] qinguoan opened #367 "should unregister metrics from prometheus registry"
open close, open (error occurred), because register metrics to promethues registry twice.

[2018-08-13 09:40] krasi-georgiev commented on #367
sorry I don't quite understand the issue. If you want someone to look into an issues it should include a lot more details.

[2018-08-13 13:02] simonpasquier commented on #367
IIUC @qinguoan complains about this:

[code]

The "obvious" solution is to pass a `nil` registry for subsequent calls of `tsdb.Open()`. At least, the documentation should be improved to warn about it. Not sure if we want to change the API or `Unregister` the metrics on `Close()`.

[2018-08-13 13:49] krasi-georgiev commented on #367
thanks for clarifying I have put it in my tasks queue and will check if we can do some check inside the Open func

[2018-08-13 15:37] juliusv commented on #367
But then the registry will keep the metrics of the now-closed TSDB instead of the new TSDB's metrics.

I don't think we have a precedent for unregistering metrics in `Close()`, but I also don't see why it would be a bad idea.

[2018-08-13 15:42] brian-brazil commented on #367
The Go client will prevent those metrics being re-registered.

[2018-08-13 15:49] juliusv commented on #367
@brian-brazil I thought it would work as long as the help, type, labels, etc. do not change. From https://godoc.org/github.com/prometheus/client_golang/prometheus#Registerer:

[code]

[2018-08-14 08:50] brian-brazil commented on #367
@qinguoan Can you explain why you are opening multiple TSDBs?

[2018-08-21 17:49] amitsingla commented on #317
@iksaif @krasi-georgiev I start facing this issue on one of the production cluster . Do we find any solution or Work around for the same. I checked the  prlimit and looks good..

Prometheus version: 2.3.0
prlimit values

[code]

[2018-08-21 23:41] krasi-georgiev commented on #317
IIRC this wasn't a bug, but mainly misleading logs.
The next release includes quite a few changes for these parts of the code base so best to wait and if it behaves the same I can revisit.

[2018-08-24 12:33] lapshin1988 opened #368 "Setting --storage.tsdb.retention is not working"
Hello!

I tried use `storage.tsdb.retention` (from docs https://prometheus.io/docs/prometheus/latest/storage/) command line option for 2 hours (`--storage.tsdb.retention==2h`). But it is not working. Metrics stored for 15 days. I found source code:
[code]

As I understand `storage.tsdb.retention` is not working for now?

[2018-08-24 12:37] gouthamve commented on #368
Hi, thanks for trying it out and digging into the source, I don't think the flag is broken. Maybe try: `--storage.tsdb.retention=2h` (with a single `=`). Also, we pass the correct flag in prometheus, not sure which source you are referring to: https://github.com/prometheus/prometheus/blob/master/storage/tsdb/tsdb.go#L145

[2018-08-24 12:38] simonpasquier commented on #368
If you're talking about this code then it is only for the TSDB command line interface, it isn't used by the Prometheus server.

https://github.com/prometheus/tsdb/blob/eeb3a7435a75c065cd5a6c10b02abd4c579e34e8/cmd/tsdb/main.go#L106

AFAICT retention is working on Prometheus v2.3.2. Can you provide more details?

[2018-08-27 07:53] lapshin1988 commented on #368
Hi! Sorry, I use `storage.tsdb.retention=2h`. Metrics collected for 4 hours. Prometheus ran in docker container and the server placed in Germany/Berlin (+2 hours). Maybe I must add some settings?

[2018-08-27 18:55] krasi-georgiev commented on #368
@lapshin1988 if you think the issue is resolved please close the ticket. Thanks

[2018-08-28 08:35] #368 closed

[2018-08-31 09:02] krasi-georgiev commented on #362
Although I would be interested to see some results, this is quite specific to your current project needs so unless you are willing to run these tests and post the results I don't think anyone here would spend the time on this issue.

[2018-08-31 09:07] krasi-georgiev commented on #367
@juliusv shall we call this a bug so I can look into it, or wait a bit longer to see if @qinguoan will post his use case?

[2018-08-31 09:12] krasi-georgiev commented on #361
@dhbarman #157 is quite old so the code has probably changed quite a bit since than. If we figure a way to replicate this one I can look into it.

[2018-08-31 09:26] gouthamve commented on #367
Yes, even I think it makes sense to unregister. Closing a db and opening the same one again will also error.

[2018-08-31 09:42] brian-brazil commented on #367
That would remove the metrics from /metrics though, and metrics should be
present until the process dies. This could result in missing these on the
last scrape.

On Fri 31 Aug 2018, 11:26 Goutham Veeramachaneni, <notifications@github.com>
wrote:

[2018-08-31 09:56] krasi-georgiev commented on #267
just digging through some old issues.
@pavolloffay are you still interested in this as I can also try to help at some point.

[2018-08-31 10:12] krasi-georgiev commented on #5
@fabxc @Bplotka do you think that now with thanos this issue is addressed?
Not sure if there is an actual cli in thanos for this, but it seems that it solves that particular problem described here.

[2018-08-31 10:29] codesome commented on #26
@krasi-georgiev I was about to implement this in my GSoC. But as there were not many use cases with this, it was decided that we don't implement it for now.

[2018-08-31 10:31] krasi-georgiev commented on #81
@fabxc can you think of any other metric that is needed right now?
Otherwise maybe can close this one  and open new issues for any new metric that would be useful to add.

[2018-08-31 10:33] krasi-georgiev commented on #26
yeah that is what I wanted to know.
Autocompletion sounds very useful so really surprising why it didn't get more interest.

[2018-08-31 10:37] krasi-georgiev commented on #86
@gouthamve , @Bplotka all this is now possible with Thanos, right?
do we still need this issue here?

[2018-08-31 10:50] krasi-georgiev commented on #143
@mattbostock looking through some old issues an adding labels and I was wondering if you are still interested in this or moved to a new direction?

[2018-08-31 10:54] krasi-georgiev commented on #174
with so many code changes since than, lets close and will revisit if we get a new report.

[2018-08-31 10:54] #174 closed

[2018-08-31 11:01] krasi-georgiev commented on #215
@gouthamve do you know if this is fixed?

[2018-08-31 11:02] krasi-georgiev commented on #227
@SuperQ had a chance to upgrade and test again?

[2018-08-31 11:06] krasi-georgiev commented on #232
@gouthamve lets discuss this on the next dev monthly call?

[2018-08-31 11:16] gouthamve commented on #232
+1

[2018-08-31 11:17] gouthamve commented on #86
I don't think so. Closing this.

[2018-08-31 11:17] #86 closed

[2018-08-31 11:30] gouthamve commented on #26
Yes. Also @codesome has a branch somewhere that does this, I think (:

[2018-08-31 11:30] #26 closed

[2018-08-31 11:38] codesome commented on #90
I would like to work on this, will come up with ideas for this soon.
This would also help implement bulk loading (https://github.com/prometheus/tsdb/issues/24, https://github.com/prometheus/prometheus/issues/535)

[2018-08-31 11:39] codesome commented on #24
I would like to claim this issue. First step to this would be addressing https://github.com/prometheus/tsdb/issues/90, and I am on it now.

[2018-08-31 11:41] krasi-georgiev commented on #90
great, I will find time to review it.

sufficient. Compaction adds lots of attack surface for data loss and
regressions and we don't have a use case where we'd be dealing with high
fragmentation.

don't forget to sync with @gouthamve and @fabxc  tsdb gurus for the best design approach :stuck_out_tongue_winking_eye:

[2018-08-31 11:48] krasi-georgiev commented on #236
What is the use case for this?

[2018-08-31 11:51] gouthamve commented on #236
Well it needs to be investigated (aka benchmarked) but having larger chunks would be more efficient and also, because when we query for larger range, we end up reading all the chunks anyways, so it should only help, not hurt.

But again, this is all guess work and needs to be benchmarked to be verified.

[2018-08-31 11:52] krasi-georgiev commented on #237
yep I completely agree, single letters are fine in some cases, but unless it is really clear I would also prefer a more descriptive namingz.

I am closing this now since we don't need an issue for this, but feel free to open a PR and I will happily review.

[2018-08-31 11:52] pavolloffay commented on #267
I think there is still some interest. We have a POC using badger https://github.com/jaegertracing/jaeger/pull/760

[2018-08-31 11:52] krasi-georgiev commented on #237
actually it might be useful to keep it open for someone looking to pick up a task.

[2018-08-31 11:54] krasi-georgiev commented on #241
that would be really useful, Thanks!
looking forward to the PR.

[2018-08-31 11:56] krasi-georgiev commented on #236
understood, thanks!
added the appropriate labels.

[2018-08-31 11:58] krasi-georgiev commented on #267
ok thanks for the update!
It is a rather involved issue, but will try to revisit at some point when I dust of some other more urgent issue.
For now just adding some labels so we know we need to revisit.

[2018-08-31 12:11] krasi-georgiev commented on #251
closing due to the age.

@tnachen feel free to reopen if there is an update and we can figure out how to replicate.

[2018-08-31 12:11] #251 closed

[2018-08-31 12:14] krasi-georgiev commented on #255
closed in https://github.com/prometheus/tsdb/pull/332

[2018-08-31 12:14] #255 closed

[2018-08-31 12:20] #362 closed, assigned to nobody

[2018-08-31 12:59] codesome commented on #90
@fabxc @gouthamve
Are we looking at only vertical query merging? With bulk import I feel vertical compaction would be helpful.

[2018-08-31 13:54] Bplotka commented on #90
Again, IMO vertical compaction is must-have. (: For bulk import if you want bulk import further in past, but also more resilient compaction overall.

Plus https://github.com/improbable-eng/thanos/issues/348

[2018-08-31 14:05] Bplotka commented on #5
**Not really.**

If I understand this right, we are talking here about multiple readers and single (or multiple even!) writer problem on TSDB blocks in filesystem.

This is related to this: https://github.com/improbable-eng/thanos/issues/206

Because this issue is still open, we cannot use local compaction because we have no idea when Prometheus TSDB starts compaction and removes some blocks while

[2018-08-31 14:05] Bplotka commented on #5
I am fine with closing this for now, we can reopen when we will have clear indication that this is blocking

[2018-08-31 15:33] krasi-georgiev commented on #5
No let's keep it open as seems that there are some blockers here.

[2018-09-02 15:47] SuperQ commented on #333
I'm not strongly opinionated here. Feel free to close.

[2018-09-03 10:53] SuperQ commented on #227
We'll have a large weekly compaction coming up in a couple of days, I'll do some tests then.

[2018-09-03 12:16] krasi-georgiev commented on #333
Ok let's close and will revisit if needed.

[2018-09-03 12:16] #333 closed

[2018-09-05 15:17] SuperQ commented on #227
It looks like this may still be an issue.

[code]

Here's a less noisy timeline:
* 15:02:43.420 - Compaction started/finished?
* 15:03:02.010 - Shutdown started
* 15:05:03.952 - Compaction started/finished?
* 15:05:08.806 - Shutdown completed

It doesn't seem like the logs include explicit compaction start stop lines. :confused:

[2018-09-07 12:26] gouthamve opened #373 "Metrics for WAL truncation failure"
From: https://github.com/prometheus/prometheus/issues/4578

There should be metrics for both the ignored (rather, just logged) errors here:
https://github.com/prometheus/tsdb/blob/master/checkpoint.go#L266-L277

[2018-09-08 12:00] krasi-georgiev commented on #227
ok I will look into it at some point. Thanks for confirming.

[2018-09-08 18:38] codesome commented on #107
@krasi-georgiev I might not touch this anytime soon. So you can go ahead.

[2018-09-11 12:13] #244 closed

[2018-09-11 21:42] knrt10 commented on #241
@shubheksha if you are not working I would like to work on this issue.

[2018-09-12 06:12] shubheksha commented on #241
@knrt10 go ahead!

[2018-09-12 13:27] krasi-georgiev commented on #215
ping @gouthamve

[2018-09-12 13:27] krasi-georgiev commented on #361
ping @dhbarman

[2018-09-12 17:33] palash25 commented on #237
Hi there I am looking for a beginner issue, can I claim this?

[2018-09-12 17:42] krasi-georgiev commented on #237
that would be great , thanks!

[2018-09-12 17:44] krasi-georgiev commented on #237
short variable names are fine if they are used in the next 1-2 lines , otherwise something more descriptive would be easier to follow.

[2018-09-13 03:00] dhbarman commented on #361
@krasi-georgiev You may close the ticket for now. If we see the issues, we will reopen or create a new ticket then.

[2018-09-13 06:30] krasi-georgiev commented on #361
sure

[2018-09-13 06:30] #361 closed

[2018-09-13 15:31] csmarchbanks commented on #230
PR for this - https://github.com/prometheus/tsdb/pull/378

[2018-09-13 17:08] AlekSi commented on #235
"Help wanted"? How can I help?

[2018-09-13 18:10] krasi-georgiev commented on #235
we haven't discussed anything yet so it is a greenfield project, but here some random thoughts.
we already have a [benchmarking CI](https://github.com/prometheus/prombench ) for prometheus and can probably reuse a lot from the logic and pieces.
We can do a very simplified version for the  tsdb as well.

1. Implement some tsdb bench tool.
2. When a test is triggered it will build and run the versio

[2018-09-13 18:16] krasi-georgiev commented on #235
not sure if you have looked at the tsdb cli tool, but it already has some benchmarking already so maybe this is a good starting point. Can keep it simple to start with.
https://github.com/prometheus/tsdb/blob/9be883670eaf846e8f5bb65ea577dcd7d28d469e/cmd/tsdb/main.go#L43

[2018-09-14 07:10] gouthamve opened #379 "Migration might not be handling WAL corruptions correctly"
See upstream issue: https://github.com/prometheus/prometheus/issues/4603

The previous WAL would just truncate if there was a corruption. From the logs:
[code]

makes me think that truncation is not happening currently.

[2018-09-14 11:43] gouthamve commented on #379
Looking at this, it's not actually in the migration step, but rather something in the new WAL: https://github.com/prometheus/tsdb/blob/master/head.go#L415

[2018-09-14 12:27] krasi-georgiev commented on #379
waiting for the user's wal and will troubleshoot locally.

[2018-09-14 21:10] csmarchbanks commented on #236
I am planning to investigate/work on this

[2018-09-15 08:55] krasi-georgiev commented on #236
thanks, appreciated!

for this we would also need to implement some sort of benchmarking to compare the before and after results.

related to: https://github.com/prometheus/tsdb/issues/235

[2018-09-16 21:54] krasi-georgiev commented on #346
@brancz mentioned a valid point that in most cases you don't want Prometheus shutdown so you can still query the data.

 @gouthamve do you see any problem with @bwplotka's first suggestion?

Basically trigger a flush of the `wal` into a block on demand.

[2018-09-17 06:27] brancz commented on #346
I also mentioned that that may just be something we want to solve with HA pairs :) . I’m having trouble estimating the time it would take to convert a reasonably sized WAL into a tsdb Block. I tend to agree with Brian that ideally this should be an operation after shutdown of the Prometheus server. If this operation is reasonably fast I think it should be sufficient. If it means missing 1-2 mins o

[2018-09-17 09:00] krasi-georgiev opened #381 "Document and follow release process that is compatible with the go modules."
In relation to the discussion in the mailing list.

https://groups.google.com/forum/#!topic/prometheus-developers/UMaSwEjasPA

[2018-09-17 10:28] bwplotka commented on #346
Now is the question: Can we do that **in place**. Doing just snapshot of WAL can have racy implication for thing that is responsible to upload blocks. (Turn on the prometheus back and it in the same time cuts a WAL and we have an overlap: 2 blocks for same time)

[2018-09-17 10:54] gouthamve commented on #346
I'll have to take a look at the code before I get back on this in detail, but there are things you can do like switch off compactions. This could be exposed as an admin endpoint and you could end up dealing with the races.

I'll take a deeper look at the discussion/use-cases and reply later today.

[2018-09-17 11:42] krasi-georgiev commented on #235
@AlekSi  just found  PR: https://github.com/prometheus/tsdb/pull/240 that adds some more benchmarking.
I guess our first goal is to somehow automate these and display the results.

The way I see it:
1. comment /benchmark
2. Prow starts a job
3. The job runs `go bench` against master and another one against the PR and just displays the logs in the [prow job dashboard](http://prombench.prometheus.io

[2018-09-17 13:02] brancz commented on #346
Maybe each of the required actions here can be individual lifecycle endpoints (the first two of which don't exist and the last does already exist):

* shutdown scraping
* flush WAL to tsdb block
* shutdown Prometheus entirely (already exists)

The first I'm having trouble with as it feels like users may shoot themselves in the foot without knowing it, but having to remove scraping configs, reloadi

[2018-09-17 15:18] csmarchbanks commented on #236
Yep, I was planning to start with some regular go benchmarks, but will keep my eyes on #235.

Also, any opinions on "smaller into larger chunks"? It looks like head tries to make chunks with 120 samples in each, should that still be the goal, or should we make even bigger chunks?

[2018-09-17 16:52] krasi-georgiev commented on #236
I think @gouthamve's idea was that we increase the size during compaction and leave the default ones as they are.

Again to make this worth merging we need to see some good improvements to justify the extra code.

[2018-09-18 14:08] codesome opened #384 "Incorrect NumTombstones after block.Delete(...)"
Found this while working on https://github.com/prometheus/tsdb/pull/374

Apparently updating `NumTombstones` only [here](https://github.com/prometheus/tsdb/blob/a8966cb53d39747c5d7b7ba787873b52899881d0/block.go#L487) is incorrect. For example, if currently there were no stones and we want to add new stones in `Delete(...)`, `NumTombstones` is nowhere updated.

Please correct me if I am wrong. I wi

[2018-09-18 14:15] gouthamve commented on #384
Yes you are right. This was introduced in this: https://github.com/prometheus/tsdb/pull/212

Please fix it and add a test for the same :)

[2018-09-19 08:56] krasi-georgiev opened #390 "Add a "msg" parameter to testutil.Equals."
In most cases we end up doing something like:

[code]
Instead it would be better if we have something like:

[code]
This would help when looking at the output of the  failing tests.

[2018-09-21 07:44] whaike commented on #361
I also encountered this situation
`
prometheus | level=debug ts=2018-09-20T17:00:24.42239239Z caller=head.go:825 component=tsdb msg="looked up series not found"
prometheus | level=debug ts=2018-09-20T17:00:24.422411322Z caller=head.go:825 component=tsdb msg="looked up series not found"
prometheus | level=debug ts=2018-09-20T17:00:24.422430463Z caller=head.go:825 component=tsdb msg="looked up serie

[2018-09-21 22:36] bwplotka commented on #346
I can agree with above concerns. Sounds to me like we don't have any idea for now that will be simple or not deeply tied into main Prometheus logic. Use case is too small to justify such big change.

It seems like the only viable alternative is a tear down process in form of:
- move the dir watcher of sidecar (that uploads blocks) to separate directory
- perform full snapshot to that dir
- flush W

[2018-09-22 05:00] krasi-georgiev commented on #346
Yeah I am thinking to do some POC for the "flush WAL to TSDB block (missing part)" and add it to the tsdb cli tool next week so you can give it a try and will take it from there.

[2018-09-22 07:56] brancz commented on #346
Yes I think that’s a good idea. We need to understand the performance characterics of flushing in the first place and then if necessary we can think about potential improvements.

[2018-09-24 13:33] SuperQ opened #395 "Missing unit on lowest timestamp metric."
In https://github.com/prometheus/tsdb/pull/363 a new metric, `prometheus_tsdb_lowest_timestamp`, was added.

It seems like this is milliseconds, but is missing the unit.

Maybe we should convert this to seconds and make it `prometheus_tsdb_lowest_timestamp_seconds`.

[2018-09-24 13:40] simonpasquier commented on #395
See https://github.com/prometheus/tsdb/pull/363#discussion_r204637082 for the rationale. We have the same situation with the `prometheus_tsdb_head_max_time` and `prometheus_tsdb_head_min_time` metrics.

[2018-09-24 14:04] SuperQ commented on #395
I don't think that rationale makes sense. If it's a timestamp, it has to have a unit, which we should know by the datatype.

[2018-09-24 14:53] brian-brazil commented on #395
The unit is defined by the code that uses it though, not the tsdb. To the TSDB this is just a number.

[2018-09-24 15:34] SuperQ commented on #395
Maybe the TSDB shouldn't expose this metric, but we have Prometheus create the metric instead so we have an opinion on what the type is.

[2018-09-26 19:07] csmarchbanks commented on #236
I finally got some time to do some benchmarking of this. There is an initial PR up at #397.

It looks like there is quite a query performance improvement by making larger chunks. However, I am not sure how large of chunks to make? Right now the PR is going from ~120 -> 480 samples.

[2018-09-27 07:13] eahydra commented on #379
I have the same problem.

[2018-09-27 07:27] gouthamve commented on #379
Hi, this has been fixed in `2.4.2` of prometheus. Please upgrade and let us know if that fixes it?

[2018-09-27 09:46] eahydra commented on #379
Yeah, upgrade latest code , the problem is resolved.

[2018-09-27 09:46] gouthamve commented on #379
Thanks, closing!

[2018-09-27 09:46] #379 closed

[2018-09-27 11:43] #384 closed

[2018-10-01 14:00] #373 closed

[2018-10-02 18:03] #241 closed

[2018-10-03 08:08] #390 closed

[2018-10-03 08:13] krasi-georgiev commented on #143
closing for no activity , feel free to reopen if you still need this.

[2018-10-03 08:13] #143 closed

[2018-10-03 22:51] cstyan commented on #249
@fabxc I'm trying to figure out what changes for 3 would look like.

There's already a labels index, but I'm not understanding from the format documentation how it's used.  Is the goal to have an entirely new table of some reference ID -> name/value pairs (which could just be references to the symbol table, as the series table does right now), and then in the series table we store the reference to

[2018-10-03 22:59] cstyan commented on #19
Should this still be open? Looks like the prefix matcher was added.

[2018-10-05 13:30] krasi-georgiev commented on #346
@fabxc do you remember what is the reason for this behaviour?

The current WAL checkpointing happens right after writing a  block to the disk. For some reason the checkpointing doesn't delete the segments that include the samples already written to the new block. So writing a block from the wall includes a lot of data that is already in a block.

I have added a `--mint` flag to specify the timesta

[2018-10-05 18:36] krasi-georgiev commented on #346
I haven't measured it, but writing a block should take around half the time  compared to wal -> block.

main difference is that writing a block reads from the memory(the head) and in the case of wal-> block the data first need to be loaded into memory first and than written to disk.

[2018-10-05 18:37] krasi-georgiev commented on #346
will measure again now with the change I did where the checkpointing deletes all the duplicated data that is already persisted in a block.

[2018-10-05 21:02] krasi-georgiev commented on #346
even with the checkpointing changes, the compactor writes a block when the head/wal reaches 3h of data leaving 1h in the head/wal so at best case you would have 1h in the wal at worst case close to 3h depending on when you stop Prometheus.

[2018-10-08 16:10] bwplotka commented on #346
Awesome, Thanks for this @krasi-georgiev - This is very useful!

20 min is a lot, but the data size is huge as well. Even with that data size, just upload to object storage will take X minutes time, so we just need to take into account that this operation is time consuming.

[2018-10-08 16:54] krasi-georgiev commented on #346
the wal under this load and nearly 3h of data is 30gb
and the block is 5.7G

[2018-10-10 09:32] beorn7 opened #403 "Add MAINTAINERS.md"
From https://prometheus.io/governance/#projects : “Each project must have a MAINTAINERS.md file with at least one maintainer.”

Despite some efforts on the -team mailing list, we still have no maintainer for this crucial repo. We are in violation of our own governance.

[2018-10-11 18:53] krasi-georgiev commented on #395
What are we doing with this one?

[2018-10-15 11:32] #403 closed

[2018-10-15 22:30] jacksontj opened #411 "Read-path in TSDB doesn't honor context"
I ran into a situation in prometheus where a user was sending a very large query and it was running past the timeout. While investigating this issue I found that tsdb doesn't honor the context for reads (e.g. https://github.com/prometheus/tsdb/blob/master/querier.go#L155). What this means is if a client sends a query for a large set of series then the caller (prometheus) has to wait for tsdb to co

[2018-10-15 23:16] krasi-georgiev commented on #411
this looks like a dupe of https://github.com/prometheus/tsdb/issues/84

I haven't looked into it, but IIRC it wasn't trivial to implement hence the issue being opened for so long.

[2018-10-15 23:28] jacksontj commented on #411
#84 encompasses both the read and write path. As #84 states this is complex on the write path, but this issue is focused solely on the read path, as it seems that the read side should be doable (significantly less complex).

[2018-10-16 00:11] krasi-georgiev commented on #411
I just had a quick look over the past discussions and tend to agree with fabian's comment in https://github.com/prometheus/prometheus/issues/3480#issuecomment-345152830 that passing a context in such hot paths won't really help a lot.

I haven't done a proper research on the topic so if you want to invest the time than please open a PR against Prometheus, ping me and I will start a benchmark so we

[2018-10-16 02:50] szediktam commented on #317
I have a similar issue in my cluster.   there are many tmp files in /var/lib/prometheus/data, like 01CSVYYZ2N77NT2VEQ47P93FB5.tmp, about 500M.They ate up my disk space for /var/lib/prometheus/data.  And the log show as following:
 | level=warn ts=2018-10-14T15:59:58.720480291Z caller=manager.go:371 component="rule manager" group=kubernetes.rules msg="rule sample appending failed" err="WAL log samp

[2018-10-16 08:14] simonpasquier commented on #317
@szediktam if you had a disk full event then you can remove all .tmp files to recover space. Also you might want to upgrade to the latest Prometheus release, rather than using v2.0.0.

[2018-10-16 09:04] krasi-georgiev commented on #317
@szediktam yeah the tmp files was a bug which is not fixed so an upgrade will solve it.

[2018-10-16 11:56] szediktam commented on #317
if I remove the .tmp files, it will generate many .tmp files again to eat up my disk space. @simonpasquier

@krasi-georgiev The newer version fix this bug? which patch on which version?

[2018-10-16 12:20] simonpasquier commented on #317
@szediktam it will hard to pin point which commit fixed the issue but if you upgrade to v2.4.3 and remove the .tmp files, you should be good.

[2018-10-16 12:34] mrsiano opened #413 "tsdb unit test failure"
I wanted to run some benchmark for wal.go, and also include a unit test for it.

I've started with something quite simple
https://github.com/mrsiano/prometheus/blob/9862a8c5fd34ae1f148e36af67f0f6f855b5ed8c/vendor/github.com/prometheus/tsdb/wal_test.go

and it's failed due to
--- FAIL: TestSegementLogDeletes (0.00s)
panic: runtime error: invalid memory address or nil pointer dereference [recovered]

[2018-10-16 12:55] krasi-georgiev commented on #413
that is good homework to learn the tsdb internals :stuck_out_tongue_winking_eye:

the tsdb cli tool has some bench command so you can check it
https://github.com/prometheus/tsdb/blob/master/cmd/tsdb/main.go#L43

although incomplete and probably outdated here is  a doc start by Goutham and than I also added few notes while learning tsdb.
https://docs.google.com/document/d/1t5eSLlH36oK1Ex3PWwuc4R58k

[2018-10-16 17:49] jacksontj commented on #411
After doing some more digging, it seems that the vast majority of the time is actually spent in [`SortedPostings`](https://github.com/prometheus/tsdb/blob/master/head.go#L1035). I'm not sure why that sort is necessary, but if it is in fact required then some sort of cancellation there seems like it would do the trick.

[2018-10-16 19:09] krasi-georgiev commented on #411
nice! thanks for spending the time for this. btw what did you use to visualise the bench results?

@gouthamve , @fabxc do you see any problem in adding a context for `SortedPostings` so this can be cancelled?

[2018-10-16 20:05] jacksontj commented on #411
@krasi-georgiev I used google sheets, So nothing fancy :)

[2018-10-16 20:09] jacksontj commented on #411
@krasi-georgiev One other question, do you know why that sort is required to begin with?

[2018-10-16 22:36] jacksontj commented on #411
So I've been digging into this a bit more, and I believe I understand the issue better. The SortedPostings is only expensive in the `head` block because things aren't sorted already (same case in the test implementation). All blocks that have moved from head to an immutable block are sorted when they are persisted. What this means is right now all queries that hit the head block are significantly

[2018-10-17 02:17] szediktam commented on #317
Ok. Thanks.

How to reproduce this? I should reproduce this, and upgrade to v2.4.3 to solve this, to prove that it works.

[2018-10-17 08:48] fabxc commented on #411
Thanks for the analysis. Indeed `SortedPostings` is an outlier here with its big blocking computation.
Though the only way for passing a context to work would be to re-implement sorting since `sort.Sort`, where the time is actually spent, does not take a context either.
Unless your benchmark showed that the expansion of the postings list beforehand actually consumes a majority of the time.

Giving

[2018-10-17 16:36] jacksontj commented on #411
We actually don't need much of an implementation to get cancellation, simply wrapping the sort method and using `recover()` [does the trick](https://github.com/jacksontj/tsdb/blob/issue_411_context/util.go#L8).

I re-ran the benchmark while adding some prints to track time of the various pieces, here is the data from a run with 1000 series:
[code]

In that we can see that almost all of the time is

[2018-10-17 17:11] jacksontj commented on #411
Another piece of information, I added a benchmark using the blocks to compare head to block performance:

[code]
From this we can see that head performance is significantly worse (4.6s vs 0.24ms). So after getting this timeout stuff in, definitely seems worth looking into maintaining sort somehow.

[2018-10-19 04:57] dlsrb6342 opened #418 "Does it matter if the retention period is very long?"
I want to set 1 year retention.
Excluding disk capacity, is there any problem with very long retention?

[2018-10-19 05:53] krasi-georgiev commented on #418
no problems with that, but this is actually a question about usage and not development.

no crash, no panic = usage question :wink:

To make support question, and all replies, easier to find, I suggest you move this to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users).

If you haven't looked already you might find your answer in the [Common errors](https://github.co

[2018-10-19 05:53] #418 closed

[2018-10-22 07:02] dlsrb6342 commented on #418
Thanks for your guide.
I got the [answer](https://groups.google.com/forum/#!topic/prometheus-users/cKjTK9VZHNs) from prometheus-users group.

[2018-10-22 16:33] jacksontj commented on #411
@fabxc I assume that this cancellation idea in the PR is acceptable? If so I can clean up that PR and we can get it merged in. I did spend some time looking into maintaining sort on the HEAD block, but that'll require more time as the few simple attempts where much slower (as I imagine you also experienced).

[2018-10-22 17:35] krasi-georgiev commented on #411
if you don't mind lets not rush it.
This would require changing many public interfaces so I want do some thinking before we commit to the context idea.

I need to clear some other pending PRs and will put some more time into this.

[2018-10-22 18:00] jacksontj commented on #411
Sure, my intention isn't to rush so much as to make sure this is the
approach we want-- since there was no update on the progress for a week.
It's also unclear what the compatibility guarantees are ok various
interfaces (as this changes some exposed public methods, but not the
querier etc.).

So at this point I'm just looking for feedback to make sure the pr is what
we are looking for. But if it n

[2018-10-23 09:39] krasi-georgiev commented on #235
just came across  https://github.com/timescale/tsbs which might help.

[2018-10-23 11:49] mrsiano opened #424 "tsdb accumulates memory over time"
**Background**
We identified some sort of memory leakage for a populated cluster, in steady state (same scale for continues hours operation) using prometheus 2.3.2.

**Cluster distribution:**
2 compute nodes
2 infra nodes
250 pods
83 namespaces

the biggest consumers related to tsdb are Truncate, LogSeries
see the following pprof analysis for 2 pprof dumps (5 days range)
**top**
[code]

**Truncate

[2018-10-23 19:34] csmarchbanks commented on #236
We should probably close this since the investigation did not pan out.

[2018-10-23 19:35] gouthamve commented on #236
👍 Not worth it

[2018-10-23 19:35] #236 closed

[2018-10-23 20:35] krasi-georgiev opened #426 "Replace all string paths that include trailing slashes with filepath.Join"
this is necessary os different than linux
for example
https://github.com/prometheus/tsdb/blob/1dd9a6bd2914efba61ff6eee630610d6a3725912/head_test.go#L32

[2018-10-24 09:13] dmitriy-lukyanchikov commented on #313
Hello guys.
@gouthamve @brian-brazil does it make sence to implement optional downsampling to Prometheus? We experience some issues with Thanos, and we want to implement downsampling to Prometheus itself?

[2018-10-25 09:32] #426 closed

[2018-10-29 08:27] krasi-georgiev opened #434 "add and fix the tests for `check_license` and `staticcheck`"
currently in travis these are not enabled as the tests fail due to some valid problems.

ideally this should be fixed and enabled in the tests.

https://github.com/prometheus/tsdb/blob/d804a27062fc524a7494592b72cb23cae1f709cc/.travis.yml#L15-L18

[2018-10-29 12:05] nilsocket opened #436 "What's the reason to slice before calling PutUint32()"
https://github.com/prometheus/tsdb/blob/d804a27062fc524a7494592b72cb23cae1f709cc/chunks/chunks.go#L177
[code]

[2018-10-29 15:23] krasi-georgiev commented on #436
I think it is something to do with the compiler slice bound hints.
https://www.ardanlabs.com/blog/2018/04/bounds-check-elimination-in-go.html

btw we keep the github issue for bug reports and PRs.

Please use the irc and mail group for questions.

[2018-10-29 17:46] nilsocket commented on #436
But the bounds-check elimination is being done in the library [itself](https://github.com/golang/go/blob/d76b1cdf286551a81fd4c1012cbf8686d344cc32/src/encoding/binary/binary.go#L115).

[2018-10-29 17:46] #436 closed

[2018-10-29 17:53] krasi-georgiev commented on #436
Yeah I noticed this as well, maybe @fabxc 	can add some context.

[2018-11-01 12:59] krasi-georgiev commented on #360
just tried it, but it creates races and can't make the creation of the appender atomic.

[2018-11-01 12:59] #360 closed

[2018-11-06 15:34] twforeman opened #446 "Snapshot restores cause DB issues"
Re: https://github.com/prometheus/prometheus/issues/4643

Running version 2.4.3.

After taking a snapshot and copying it to S3 then restoring it to a new disk volume and pointing prometheus to it after about four hours we start seeing compaction errors complaining about time over lap issues.

This was supposedly fixed in 2.3.1 but appears to still be broken.

I'm going to break my test prometheus

[2018-11-06 17:08] codesome commented on #446
I suspect this is something to do with the head block (not sure, will know from logs), and that the head block of the snapshot and the new head block overlap. Did you have the head in your snapshot? (`skip_head=false`).

[2018-11-06 18:18] twforeman commented on #446
`level=info ts=2018-11-06T18:16:23.804510458Z caller=compact.go:398 component=tsdb msg="write block" mint=1541512800000 maxt=1541520000000 ulid=01CVN3R6Y2BVRX3FTM1NSTZ0WG
level=error ts=2018-11-06T18:16:35.898970177Z caller=db.go:305 component=tsdb msg="compaction failed" err="reload blocks: invalid block sequence: block time ranges overlap: [mint: 1541512800000, maxt: 1541512897799, range: 1m37s,

[2018-11-06 18:19] twforeman commented on #446
It doesn't appear to make any difference whether I include the skip_head=false option or not. It still fails in about four hours.

[2018-11-06 18:38] krasi-georgiev commented on #411
I don't think I can have a look at this anytime soon as there are few more urgent pending bugs.

[2018-11-06 18:44] krasi-georgiev commented on #446
the problem here looks different than your assumption. All these blocks that overlap have the same time range of 1541512800000-1541520000000. These time ranges are taken form the meta.json file from each directory so I don't see how it can be related to the hard linking. If it was something to hard linking only one or few should be affected, not so many.

I will try to replicate and will see what

[2018-11-06 19:17] twforeman commented on #446
Okay, well like I said it was just a thought.

[2018-11-06 20:04] krasi-georgiev commented on #446
yeah every suggestion helps :+1:

[2018-11-07 10:12] codesome commented on #446
@twforeman IIUC, to replicate this
1. Take a snapshot
2. Wait for sometime and point prometheus to the snapshot
3. Just wait and watch for it to error out

Am I correct?

[2018-11-07 12:46] codesome commented on #446
Replicating this was very simple. In case anyone is looking to replicate this, here is what I did
1. Set block duration to `2m`.
2. Run prometheus till you have about 4-5 persisted blocks.
3. Take snapshot and shut down prometheus and wait for 5m.
4. Restart prometheus using the snapshot.

As simple as that.

[2018-11-07 13:40] twforeman commented on #446
Just for completeness, this is what I am doing to cause the issue:

1. Run prometheus for a bit to create some data.
1. Create a snapshot
1. Copy the snapshot to AWS S3
1. Create a new data volume
1. Copy the snapshot from S3 to the new data volume
1. Stop prometheus and mount the new data volume
1. Start prometheus and wait about four hours

[2018-11-07 15:52] #279 closed

[2018-11-08 12:46] krasi-georgiev commented on #446
I have worked on these parts of the code recently so will look into it.

[2018-11-08 13:51] krasi-georgiev commented on #446
@twforeman I figured the problem and it is a side effect of including the head. so in your case you can do the snapshots using `/api/v1/admin/tsdb/snapshot?skip_head=true` or wait to see if https://github.com/prometheus/prometheus/pull/4653 will get merged as it addresses exactly this problem.

[2018-11-08 15:29] twforeman commented on #446
I'm testing out the 'skip_head=true' option, but using that option appears to have made it lose about 3+ hours of data (I assume that was in the head in memory).

Is there an api call to flush the head to disk before taking the snapshot? Or a setting to change it so it doesn't lose quite so much data?

[2018-11-08 16:39] twforeman commented on #446
@dbarranco I'm trying to make scripted automatic backups, so there is no way for me to watch for a compact to run and then trigger a backup...

[2018-11-09 11:37] #336 closed

[2018-11-11 12:36] olegtikhonov commented on #336
Great !!! Thanks.

[2018-11-14 13:15] #446 closed

[2018-11-14 14:03] gouthamve opened #452 "Ability to create db with NopWAL"
We create a test db in prometheus for unit-testing and general tests. Ideally we never write anything to disk there but turns out we do because we cannot disable the WAL.

[2018-11-14 14:31] krasi-georgiev commented on #452
Why is writing to disk a problem?

[2018-11-15 03:39] wryfi commented on #317
In my case, this happened because the ulimit for open files was set too low.  I had to edit my init configuration to increase the ulimit, and prometheus was happy again.

The somewhat insidious behavior is that the "too many open files" message was only written at the very top of the log, while the rest of it was full of "file already closed" messages, which don't really describe the root cause of

[2018-11-15 15:19] twforeman commented on #446
So it's 7 days later now and our prometheus server is returning a 502 Service Unavailable when we try and get data out of it. This is from the restored database.

There is nothing useful in the logs, so I'm not sure what to look at. Can we re-open this, or should I create a new task?

@krasi-georgiev

[2018-11-15 16:11] krasi-georgiev commented on #446
doesn't sound like it is related to snapshoting so I would say a new issue.

Are you sure the problem is not with some ingress path or a proxy before Prometheus?

[2018-11-19 15:45] #424 closed

[2018-11-21 10:57] #395 closed

[2018-11-26 09:42] krasi-georgiev commented on #367
I looked into the metrics implementation and these are spread across different structs in tsdb so unregistering all metrics at db.close() would requite some refactoring.

@qinguoan do you still need this and can you give some details on why do you need to open a new db using the same Registry?

[2018-11-26 09:47] krasi-georgiev commented on #232
we already started doing tags and will also add a changelog file so this should be enough for now.

[2018-11-26 09:47] #232 closed

[2018-11-26 09:55] krasi-georgiev commented on #5
@bwplotka tsdb already has an api to disable/enable compactions
https://github.com/prometheus/tsdb/blob/407e12d051f7907e1bde47ccd59258eedbd10715/db.go#L743

so how about
 - disable compaction
 - upload the blocks needed
 - enable compaction

[2018-11-26 10:09] krasi-georgiev commented on #346
@bwplotka, @brancz alternative more simple method.

- disable compaction (already an api for this in tsdb)
- run snapshot with the head included (already implemented in tsdb, can tweak it if needed)

with the head included, snapshoting will create a block with custom range but with very [small changes](https://github.com/prometheus/prometheus/pull/4653/files) this will be handled nicely at next co

[2018-11-26 10:15] krasi-georgiev commented on #237
this is stale now so closing and if anyone feels like improving the variable names feel free to open a PR and I will review.

[2018-11-26 10:15] #237 closed

[2018-11-26 10:18] krasi-georgiev commented on #381
We have already started doing tags and on top will also maintain a changelog file similar to the on in the Prometheus repo. This should be enough to keep the process lightweight and still document API changes.

[2018-11-26 10:18] #381 closed

[2018-11-26 10:23] krasi-georgiev commented on #452
ping @gouthamve

[2018-11-26 14:45] krasi-georgiev commented on #346
yes that is true. Maybe can even add an option to the  snapshot api to allow snapshoting only the head. This will reduce the time needed in half compared to the WAL to block cli as the WAL is already loaded in memory.

[2018-11-26 15:20] brancz commented on #346
I don't think that would be equivalent. Equivalent would be not to accept writes anymore, perform the snapshot and shutdown or somehow allow "manually" enabling writes again, which seems too specific of a workflow to be part of Prometheus/tsdb.

[2018-11-26 20:46] bwplotka commented on #5
:tada: Now is the question... when Prometheus will expose it as API endpoint? (or is it done already?)

[2018-11-26 21:42] krasi-georgiev commented on #5
if you think will work for you I can open a PR

[2018-11-26 22:06] bwplotka commented on #5
That will definitely fix this issue!

[2018-11-27 08:17] brancz commented on #5
I’m not sure it’s that easy, we typically don’t have endpoints mutating the configuration of the running process. I’m just wary of new use cases that could be argued for if we added this. Don’t get me wrong I have use cases for this as well, just trying to make sure we’re not making a mistake here.

[2018-11-27 10:11] krasi-georgiev commented on #5
adding it will be very simple so why not open the PR and build a docker image so you can test it and will take it from there.

[2018-11-27 11:04] gouthamve commented on #5
Yup, why can you not do this via the Snapshot API?

[2018-11-27 11:19] gouthamve commented on #346
Hi, reading it again, I think the Snapshot API does what you want already no? For shutdown, you do the following:
1. We remove all scrape targets, so nothing new is scraped (nothing new is added to TSDB)
2. We call the Snapshot API
3. We stop looking at the data-dir, only look at the Snapshot dir. Upload what is in the snapshot dir
4. Kill the pod

I might have missed something, but if we stop loo

[2018-11-27 15:44] brancz commented on #346
I think what @gouthamve suggests probably suffices, I'm just a little concerned about the atomicity of step 1, it's hard to tell when the head will not receive any more data, removing targets doesn't necessarily mean that all in progress scrapes/inserts are immediately done. This could however be treated similarly to a missed scrape so could probably be waited for on a best effort basis and then j

[2018-11-27 16:17] bwplotka commented on #5
Yup, hard to justify it.

As I said in very beggining, yup - we can use Snapshot API for it, as well as compaction disable API (if there would be any), so it's not blocking. (:

[2018-11-28 08:51] gouthamve commented on #452
Well, it is not much of a problem, but I wouldn't expect my alert-testing tool to write to disk. Little counter intuitive.

[2018-11-28 17:51] bwplotka commented on #346
Well, you have this atomicity problem anyway, even with our previous ideas of `Flush`, `Stop Prometheus` or `disable compacting`. Only some native logic of `tear down` (dump head + turn off) in form of endpoint would provide us that safety - which would be nice to have, what do you think? (:

Yea @gouthamve , I mentioned Snapshot API in the very beginning as something we can use right now, but thi

[2018-11-30 03:06] krasi-georgiev commented on #452
there is already a `WALFlushInterval` option which doesn't seem to be used for anything now so I wonder if we put it use and eventually set a very high value for tests would solve the problem without api changes.

https://github.com/prometheus/tsdb/blob/d50b9a5619b2efb7559ea1a7187df9fa5c209121/db.go#L56

[2018-11-30 20:16] jacksontj commented on #411
Bump to check on this :)

[2018-12-04 05:37] krasi-georgiev opened #463 "Check if can use a pool for the headChunkReader to reduce allocations."

[2018-12-07 11:16] krasi-georgiev commented on #367
looks stale,
unless we have some good use case for this it is not worth such a big refactoring.

[2018-12-07 11:16] #367 closed

[2018-12-10 11:44] krasi-georgiev commented on #411
I am starting to look into this now.

If `SortedPostings` in the `Head` is the culprit here why not try to solve the problem there and avoid having  context all together?

[2018-12-10 16:14] krasi-georgiev commented on #452
I looked into this again and it seems that @fabxc 	removed the wal interface to save some lookup time of the interface indirectio. instead all head functioned return early when the `wal` is `nil`. so instead of implementing a noop wal can just pass `nil` for the `wal` and this does the same job.

[2018-12-11 16:15] dkalashnik opened #471 "prometheus_tsdb_wal_corruptions_total is missing in new wal implementation"
After updating to prometheus 2.5 I miss prometheus_tsdb_wal_corruptions_total metric.
Looks like it is not available in the new wal:
https://github.com/prometheus/tsdb/blob/master/wal/wal.go#L200-L219

[2018-12-11 17:00] simonpasquier commented on #471
Good catch Dima!

[2018-12-12 12:53] krasi-georgiev commented on #5
I think we can close this one as this overlaps quite a lot with what we are discussing in https://github.com/prometheus/tsdb/issues/346

[2018-12-12 12:53] #5 closed

[2018-12-13 06:52] zhanglijingisme commented on #124
Is there any possibility to get approximate date for this feature?
It could be a great help if we can know when & in which Prometheus version this could be available.
Sincerelly thanks.

[2018-12-14 14:49] radeklesniewski opened #480 "Memory issues on short block sizes"
##
**Bug Report**

We are testing Prometheus with Thanos to gather metrics from multiple Openshift clusters. On each we have significant amount of ephemeral pods, which are being scraped by Prometheus. We encounter strange memory consumption pattern during test that resembles our real time metrics almost 1:1. We are able to process millions of metrics when changes for particular label occurs every

[2018-12-14 14:58] brian-brazil commented on #480
Prometheus is a time series monitoring system, attempting to use it as a general event logging TSDB is going to eat a lot of RAM given that we're optimised for time series.

It's also not recommended to change the block settings, the flags are only there for our own benchmarking.

I'd suggest trying 2.6.0 (it has memory improvements for extreme cardinality cases), and giving it as much RAM as it n

[2018-12-17 10:08] radeklesniewski commented on #480
Thanks for clarification. We are continuing tests for 2.6.0-rc1 version, however the results are similar to previous versions.

I'm aware that changing block settings is not recommended, but we have quite specific use case for Prometheus & Thanos integration with high cardinality labels (e.g. cron job id / pod name), which does not allow for stable Prometheus instances with blocks duration set to

[2018-12-17 19:35] jacksontj commented on #411
friendly bump :)

[2018-12-17 21:02] krasi-georgiev commented on #480
can you maybe add some more specifics about the setup. How many pods are you trying to monitor and how often do these change completely?

One suggestion is maybe drop some labels that are unique for every pod and thus reduce the cardinality.

[2018-12-18 11:13] krasi-georgiev commented on #411
haven't forgotten, just again need to complete few other older PRs and reviews.

[2018-12-18 12:38] brian-brazil commented on #480
That sounds more like event logging than time series monitoring, as time series should not be sparse. 20k metrics from each pod also sounds on the excessive side.

[2018-12-18 12:59] krasi-georgiev commented on #480
@radeklesniewski yeah it sound like you need to rethink the design somewhere.

[2018-12-18 13:32] radeklesniewski commented on #480
Unfortunately it's not easy to redesign our solution - it's existing workflow of our company and we need to migrate it to OpenShift the way it's used currently. There is couple of reasons we are not able to replace it with event logging:
- we need to aggregate such metrics,
- metrics are essential for billing purposes,
- those data series are crucial for alerting.

We've been working with Thanos a

[2018-12-19 12:20] krasi-georgiev commented on #480
I just double checked the code and the retention doesn't account for the data that is not persisted in a block and it currently stays in the WAL and memory/head. So this is what is causing the delayed retention deletion of the blocks.

I am thinking to open a PR to calculate the retention settings more accurately by accounting the data in the head as well. Will that solve your problem?

[2018-12-19 12:42] radeklesniewski commented on #480
Let's assume the situation:
Prometheus is configured to have 15m retention policy and 5m blocks. After 20m of running there are 3 blocks written into disk and data from last 5 min is in the WAL. So as far as I understand, can data series from persisted blocks be still in head/memory? Therefore retention can't delete such blocks?

If it's the root cause of my problem, such PR would be perfect :) Pr

[2018-12-19 13:16] krasi-georgiev commented on #480
After persisting the data from the head into a block this data is removed from the head.
https://github.com/prometheus/tsdb/blob/master/db.go#L595

I am almost certain that  blocks are loaded only when querying and during compaction.

The retention waits for all opened blocks to be closed and deletes them after that.
So an open block still gets deleted when it is outside the retention settings.

h

[2018-12-19 13:45] radeklesniewski commented on #480
So it does not explain my issue...

Just in case you would like to reproduce this on your side:
https://github.com/SabreOSS/tsdb/tree/feature/additional_logging_for_compaction - link to forked repo, there is added logging on compact.go/write operation,
https://drive.google.com/open?id=1-6PTQ9PfR1Xhb2xtL2GLTO23gMBT4wdA - metric generator we've been using for tests.

[2018-12-19 14:44] krasi-georgiev commented on #480
each series will occupy some amount of memory and there is no way around it. so with high cardinality the total memory needed will depend on how often the time series change, how often you scrape the targets and how often the head is persisted to disk. If even after lowering the blocks size, the memory is not enough there is nothing else that I can think of which will help with decreasing the memo

[2018-12-19 14:45] krasi-georgiev commented on #480
`min-block-duration=5m, max-block-duration=5m` - this should also disable compaction which is also another memory hungry operation so again I think you have done all the necessary tweaking and can't think of anything else that might help.

[2018-12-28 12:08] krasi-georgiev commented on #411
@jacksontj 	I started looking into this again and Fabian's comment suggests that it is hard, but I prefer that we spend some time to look into fixing the underlying problem before polluting all interfaces with a context.

I am studying the code for postings and will post if I have any ideas. If you have time I would appreciate if you can look into that as well and suggest some ideas as well.

[2018-12-28 17:16] krasi-georgiev commented on #411
after some discussions with @brian-brazil (which led to some optimisation of the sorting in https://github.com/prometheus/tsdb/pull/485) it seems not worth it yet to pollute the interfaces with a context. Even with 10m series the sorting would finish in a reasonable time (in your bench results it is 3s which is not that much).

If you are  experiencing some real performance issues can you please i

[2019-01-02 16:48] #434 closed

[2019-01-02 18:41] jacksontj commented on #411
@krasi-georgiev I'm glad that an optimization was easily possible there. The performance issue still exists from my experience though. Although we see a 3s runtime in benchmarks, in a real production system I end up seeing significantly longer times (5m+ regularly for ~10M series) -- presumably due to memory allocation delays finding contiguous memory on a live system. As such in practice this see

[2019-01-02 19:02] brian-brazil commented on #411
Try it with #485, which aside from being faster in raw terms should also greatly reduce contention that would should up in production.

[2019-01-03 10:16] krasi-georgiev commented on #480
@radeklesniewski is there anything else you think we should discuss or test here?

[2019-01-04 09:59] krasi-georgiev commented on #346
I hope you find the time soon to test all discussed solutions.

[2019-01-04 10:04] bwplotka commented on #346
Yup, we will touching this issue soon.

CC @devnev @easyCZ

[2019-01-04 10:05] krasi-georgiev commented on #19
Yes I think can be closed now.

[2019-01-04 10:05] #19 closed

[2019-01-04 23:00] jacksontj commented on #411
I ran 2.6 with the patch from #485 and it went from 514s -> 120s (seemingly timing out correctly). So from what I see its still not cancelling when the context is, but the perf seems more inline with the benchmarks so that few second delay is tolerable. With this I'll go ahead and close out my PR -- we can add it back in later if there is interest in canceling at the "right" time, but #485 seems t

[2019-01-05 00:08] brian-brazil commented on #411
Great! If we need better cancellation in future due to something else taking a bit too much time, we can always add contexts.

[2019-01-05 03:36] krasi-georgiev commented on #411
@jacksontj 	thanks for the update.
Can we close this issue than?

[2019-01-05 06:39] #411 closed

[2019-01-07 13:31] vn-ki commented on #452
Does this mean nothing has to be done here?

If no, I would like to take up this issue. Can you please explain what has to be done?